%fieldset
  %legend.form-label-bold{:for => "travel-expense-1-cost-per-mile-1"}
    Cost per mile
  .multiple-choice
    %input#travel-expense-1-cost-per-mile-1.travel-expense-1-cost-per-mile{ :name => "travel_expense_1_cost_per_mile", :spellcheck => "false", :type => "radio", :value => "0.25"}/
    %label{:for => "travel-expense-1-cost-per-mile-1"}
      %abbr{:title => "25 pence"} 25p
      per mile
  .multiple-choice
    %input#travel-expense-1-cost-per-mile-2.travel-expense-1-cost-per-mile{ :name => "travel_expense_1_cost_per_mile", :spellcheck => "false", :type => "radio", :value => "0.45"}/
    %label{:for => "travel-expense-1-cost-per-mile-2"}
      %abbr{:title => "25 pence"} 45p
      per mile
