- data = { A: ExpenseType::REASON_SET_A.values, B: ExpenseType::REASON_SET_B.values, C: ExpenseType::REASON_SET_C.values }
:javascript
  var MOJ = MOJ || {};

  MOJ.ExpenseReasons = #{data.to_json.html_safe}
