-# INPUT: Distance
%label.form-label-bold{:for => "travel-expense-1-distance"}
  Distance
  %span.form-hint
    Total distance for the return journey
  %input#travel-expense-1-distance.form-control.form-control-1-4{:max => "9999.00", :min => "0.00", :name => "travel_expense_1_distance", :spellcheck => "false", :step => "0.01", :type => "number", :value => ""}/
