-# INPUT: VAT amount
%label.form-label-bold{:for => "travel-expense-1-vat-amount"}
  %abbr{:title => "Value Added Tax"} VAT
  amount
%span.form-input-denote
  £
%input#travel-expense-1-vat-amount.form-control.form-input-denote__input.vat{:name => "vat_amount", :type => "number", :value => ""}/
