%label.form-label-bold{:for => "travel-expense-1-gross-amount"}
  Total amount
%span.form-input-denote
  £
%input#travel-expense-1-gross-amount.form-control.form-input-denote__input.rate{ :name => "gross_amount", :type => "number", :value => ""}/
