-# INPUT: Other reasons
%label.form-label-bold{:for => "travel-expense-1-travel-reason-other"}
  Other reason
  %input#travel-expense-1-travel-reason-other.form-control.form-control-3-4{ :autocomplete => "off", :name => "reason_text", :spellcheck => "false", :type => "text", :value => ""}/
