%label.form-label-bold{:for => "travel-expense-1-net-amount"}
  Net amount

%span.form-input-denote
  £
%input#travel-expense-1-net-amount.form-control.form-input-denote__input{ :max => "999999.99", :min => "0.00", :name => "travel_expense_1_net_amount", :spellcheck => "false", :step => "0.01", :type => "number", :value => ""}/
