-# INPUT: Hours
%label.form-label-bold{:for => "travel-expense-1-hours"}
  Hours
%input#travel-expense-1-hours.form-control.form-control-1-8{:max => "999.00", :min => "0.00", :name => "travel_expense_1_hours", :spellcheck => "false", :step => "0.25", :type => "number", :value => ""}/
