%label.form-label-bold{:for => "travel-expense-1-net-amount"}
  Net amount

%span.form-input-denote
  £
%input#travel-expense-1-net-amount.form-control.form-input-denote__input.rate{ :name => "net_amount", :spellcheck => "false", :type => "number", :value => ""}/
