%label.form-label-bold{:for => "travel-expense-1-destination"}
  Destination
  / <span class="form-hint">Something</span>
  %input#travel-expense-1-destination.form-control.form-control-3-4{ :autocomplete => "off", :name => "travel_expense_1_destination", :spellcheck => "false", :type => "text", :value => ""}/
