%label.form-label-bold{:for => "travel-expense-1-location"}
Location
/ <span class="form-hint">Something</span>
%input#travel-expense-1-location.form-control.form-control-3-4{ :autocomplete => "off", :name => "travel_expense_1_location", :spellcheck => "false", :type => "text", :value => ""}/
