-# INPUT: Other reasons

%label.form-label-bold{:for => "travel-expense-1-travel-reason-other"}
Other reason
/ <span class="form-hint">Something</span>
%input#travel-expense-1-travel-reason-other.form-control.form-control-3-4{ :autocomplete => "off", :name => "travel_expense_1_travel_reason_other", :spellcheck => "false", :type => "text", :value => ""}/
