-# RADIO: Cost per mile
-# Bike and Car mileage
%fieldset
  %legend.form-label-bold{:for => "travel-expense-1-cost-per-mile-1"}
    Cost per mile
    %input{ :name => "mileage_rate_id", :type => "hidden", :value => ""}/
  .multiple-choice
    %input#mileage_rate_id_1.travel-expense-1-cost-per-mile{ :name => "mileage_rate_id", :spellcheck => "false", :type => "radio", :value => "1"}/
    %label{:for => "travel-expense-1-cost-per-mile-1"}
      %abbr{:title => "25 pence"} 25p
      per mile
  .multiple-choice
    %input#mileage_rate_id_2.travel-expense-1-cost-per-mile{ :name => "mileage_rate_id", :spellcheck => "false", :type => "radio", :value => "2"}/
    %label{:for => "travel-expense-1-cost-per-mile-2"}
      %abbr{:title => "25 pence"} 45p
      per mile
