%fieldset
  %legend.form-label-bold
    Travel reason
    %a{id: "expense_#{@expense_count}_reason_id"}

- reasons_collection = present_collection(reasonset_for_expense_type(f.object.expense_type).values, TravelReasonPresenter)

= f.select :reason_id, reasons_collection.map {|et| [et.reason, et.id, { data: et.data_attributes }]}, {include_blank: 'Please select'}, {class: 'form-control form-control-3-4'}

= validation_error_message(@error_presenter, "expense_#{@expense_count}_expense_type")
