.form-group.fx-travel-hospital{:style => "display: none;"}
  %legend.form-label-bold
    Secure hospital
  %select#travel-expense-1-hospital.form-control.form-control-3-4.fx-select-hospital{:name => "travel_expense_1_hospital"}
    %option{:value => ""}
    %option{"data-postcode" => "L31 1HW", :value => "ashworth_hospital"} Ashworth Hospital
    %option{"data-postcode" => "RG45 7EG", :value => "broadmoor_hospital"} Broadmoor Hospital
    %option{"data-postcode" => "DN22 0PD", :value => "rampton_hospital"} Rampton Hospital
