.form-group.fx-travel-prison
  %legend.form-label-bold
    Prison
  %select#travel-expense-1-prison.form-control.form-control-3-4.fx-select-prison{:name => "travel_expense_1_prison"}
    %option{:value => ""}
    %option{"data-postcode" => "L9 7LH", :value => "hmp_altcourse"} HMP Altcourse
    %option{"data-postcode" => "BS16 9QJ", :value => "hmp_ashfield"} HMP Ashfield
    %option{"data-postcode" => "YO23 3FT", :value => "hmp_askham_grange"} HMP Askham Grange
    %option{"data-postcode" => "HP20 1EH", :value => "hmp_yoi_aylesbury"} HMP/YOI Aylesbury
    %option{"data-postcode" => "MK40 1HG", :value => "hmp_bedford"} HMP Bedford
    %option{"data-postcode" => "SE28 0EB", :value => "hmp_belmarsh"} HMP Belmarsh
    %option{"data-postcode" => "LL13 9QE", :value => "hmp_berwyn"} HMP Berwyn
    %option{"data-postcode" => "B18 4AS", :value => "hmp_birmingham"} HMP Birmingham
    %option{"data-postcode" => "TN17 2NH", :value => "hmp_blantyre_house"} HMP Blantyre House
    %option{"data-postcode" => "WV10 7PY", :value => "hmp_yoi_brinsford"} HMP/YOI Brinsford
    %option{"data-postcode" => "BS7 8PS", :value => "hmp_bristol"} HMP Bristol
    %option{"data-postcode" => "SW2 5XF", :value => "hmp_brixton"} HMP Brixton
    %option{"data-postcode" => "TW15 3JZ", :value => "hmp_bronzefield"} HMP Bronzefield
    %option{"data-postcode" => "OL12 9DP", :value => "hmp_buckley_hall"} HMP Buckley Hall
    %option{"data-postcode" => "OX25 1PZ", :value => "hmp_bullingdon"} HMP Bullingdon
    %option{"data-postcode" => "NR10 5GB", :value => "hmp_bure"} HMP Bure
    %option{"data-postcode" => "CF24 0UG", :value => "hmp_cardiff"} HMP Cardiff
    %option{"data-postcode" => "TQ12 6DW", :value => "hmp_channings_wood"} HMP Channings Wood
    %option{"data-postcode" => "CM2 6LQ", :value => "hmp_chelmsford"} HMP Chelmsford
    %option{"data-postcode" => "GU24 9EX", :value => "hmp_coldingley"} HMP Coldingley
    %option{"data-postcode" => "ME1 3LU", :value => "hmp_yoi_cookham_wood"} HMP/YOI Cookham Wood
    %option{"data-postcode" => "PL20 6RR", :value => "hmp_dartmoor"} HMP Dartmoor
    %option{"data-postcode" => "DL12 9BG", :value => "hmp_yoi_deerbolt"} HMP/YOI Deerbolt
    %option{"data-postcode" => "DN5 8UX", :value => "hmp_doncaster"} HMP Doncaster
    %option{"data-postcode" => "ST14 8XR", :value => "hmp_dovegate"} HMP Dovegate
    %option{"data-postcode" => "SM2 5PD", :value => "hmp_downview"} HMP Downview
    %option{"data-postcode" => "ST21 6LQ", :value => "hmp_drake_hall"} HMP Drake Hall
    %option{"data-postcode" => "DH1 3HU", :value => "hmp_durham"} HMP Durham
    %option{"data-postcode" => "ME17 3DF", :value => "hmp_east_sutton_park"} HMP East Sutton Park
    %option{"data-postcode" => "GL12 8DB", :value => "hmp_eastwood_park"} HMP Eastwood Park
    %option{"data-postcode" => "SN10 5TU", :value => "hmp_erlestoke"} HMP Erlestoke
    %option{"data-postcode" => "EX4 4EX", :value => "hmp_exeter"} HMP Exeter
    %option{"data-postcode" => "WV10 7PU", :value => "hmp_featherstone"} HMP Featherstone
    %option{"data-postcode" => "TW13 4ND", :value => "hmp_yoi_feltham"} HMP/YOI Feltham
    %option{"data-postcode" => "BN18 0BX", :value => "hmp_ford"} HMP Ford
    %option{"data-postcode" => "M27 8FB", :value => "hmp_forest_bank"} HMP Forest Bank
    %option{"data-postcode" => "DE65 5DN", :value => "hmp_foston_hall"} HMP Foston Hall
    %option{"data-postcode" => "DH1 5YD", :value => "hmp_frankland"} HMP Frankland
    %option{"data-postcode" => "YO41 1PS", :value => "hmp_full_sutton"} HMP Full Sutton
    %option{"data-postcode" => "PR26 8NE", :value => "hmp_garth"} HMP Garth
    %option{"data-postcode" => "LE16 7RP", :value => "hmp_gartree"} HMP Gartree
    %option{"data-postcode" => "HP18 0TL", :value => "hmp_grendon_springhill"} HMP Grendon & Springhill
    %option{"data-postcode" => "SP7 0AH", :value => "hmp_guys_marsh"} HMP Guys Marsh
    %option{"data-postcode" => "DN7 6EL", :value => "hmp_hatfield"} HMP Hatfield
    %option{"data-postcode" => "LA18 4NA", :value => "hmp_haverigg"} HMP Haverigg
    %option{"data-postcode" => "B97 6QS", :value => "hmp_hewell"} HMP Hewell
    %option{"data-postcode" => "SM2 5PJ", :value => "hmp_high_down"} HMP High Down
    %option{"data-postcode" => "CB8 9YG", :value => "hmp_highpoint_north"} HMP Highpoint North
    %option{"data-postcode" => "CB8 9YG", :value => "hmp_highpoint_south"} HMP Highpoint South
    %option{"data-postcode" => "WN2 5TH", :value => "hmp_yoi_hindley"} HMP/YOI Hindley
    %option{"data-postcode" => "IP12 3JW", :value => "hmp_hollesley_bay"} HMP Hollesley Bay
    %option{"data-postcode" => "TS18 2QU", :value => "hmp_holme_house"} HMP Holme House
    %option{"data-postcode" => "HU9 5LS", :value => "hmp_hull"} HMP Hull
    %option{"data-postcode" => "HU15 2JZ", :value => "hmp_humber"} HMP Humber
    %option{"data-postcode" => "RG9 5SB", :value => "hmp_yoi_huntercombe"} HMP/YOI Huntercombe
    %option{"data-postcode" => "SE28 0NZ", :value => "hmp_yoi_isis"} HMP/YOI Isis
    %option{"data-postcode" => "PO30 5RS", :value => "hmp_isle_of_wight_albany"} HMP Isle of Wight (Albany)
    %option{"data-postcode" => "PO30 5NX", :value => "hmp_isle_of_wight_parkhurst"} HMP Isle of Wight (Parkhurst)
    %option{"data-postcode" => "L31 1HX", :value => "hmp_kennet"} HMP Kennet
    %option{"data-postcode" => "PR4 2RN", :value => "hmp_kirkham"} HMP Kirkham
    %option{"data-postcode" => "TS15 9PA", :value => "hmp_kirklevington_grange"} HMP Kirklevington Grange
    %option{"data-postcode" => "LA1 3QZ", :value => "hmp_lancaster_farms"} HMP Lancaster Farms
    %option{"data-postcode" => "LS12 2TJ", :value => "hmp_leeds"} HMP Leeds
    %option{"data-postcode" => "LE2 7AJ", :value => "hmp_leicester"} HMP Leicester
    %option{"data-postcode" => "BN7 1EA", :value => "hmp_lewes"} HMP Lewes
    %option{"data-postcode" => "GL12 8BT", :value => "hmp_leyhill"} HMP Leyhill
    %option{"data-postcode" => "LN2 4BD", :value => "hmp_lincoln"} HMP Lincoln
    %option{"data-postcode" => "DN7 6EE", :value => "hmp_lindholme"} HMP Lindholme
    %option{"data-postcode" => "PE28 0SR", :value => "hmp_littlehay"} HMP Littlehey
    %option{"data-postcode" => "L9 3DF", :value => "hmp_liverpool"} HMP Liverpool
    %option{"data-postcode" => "WR11 8TZ", :value => "hmp_long_lartin"} HMP Long Lartin
    %option{"data-postcode" => "DH1 5YA", :value => "hmp_low_newton"} HMP Low Newton
    %option{"data-postcode" => "NG14 7DA", :value => "hmp_lowdham_grange"} HMP Lowdham Grange
    %option{"data-postcode" => "ME14 1UZ", :value => "hmp_maidstone"} HMP Maidstone
    %option{"data-postcode" => "M60 9AH", :value => "hmp_manchester"} HMP Manchester
    %option{"data-postcode" => "DN7 6BW", :value => "hmp_moorland"} HMP Moorland
    %option{"data-postcode" => "WF4 4XX", :value => "hmp_new_hall"} HMP New Hall
    %option{"data-postcode" => "NE65 9XG", :value => "hmp_northumberland"} HMP Northumberland
    %option{"data-postcode" => "PE22 0QX", :value => "hmp_north_sea_camp"} HMP North Sea Camp
    %option{"data-postcode" => "NR1 4LU", :value => "hmp_norwich"} HMP Norwich
    %option{"data-postcode" => "NG5 3AG", :value => "hmp_nottingham"} HMP Nottingham
    %option{"data-postcode" => "WV10 7QD", :value => "hmp_oakwood"} HMP Oakwood
    %option{"data-postcode" => "CV23 8AP", :value => "hmp_onley"} HMP Onley
    %option{"data-postcode" => "CF35 6AP", :value => "hmp_parc"} HMP Parc
    %option{"data-postcode" => "N7 8TT", :value => "hmp_pentonville"} HMP Pentonville
    %option{"data-postcode" => "PE3 7PD", :value => "hmp_peterborough"} HMP Peterborough
    %option{"data-postcode" => "DT5 1DL", :value => "hmp_yoi_portland"} HMP/YOI Portland
    %option{"data-postcode" => "NP4 0TB", :value => "hmp_prescoed"} HMP Prescoed
    %option{"data-postcode" => "PR1 5AB", :value => "hmp_preston"} HMP Preston
    %option{"data-postcode" => "DN22 8EU", :value => "hmp_ranby"} HMP Ranby
    %option{"data-postcode" => "WA3 6BP", :value => "hmp_risley"} HMP Risley
    %option{"data-postcode" => "ME1 3QS", :value => "hmp_yoi_rochester"} HMP/YOI Rochester
    %option{"data-postcode" => "CV23 8SZ", :value => "hmp_rye_hill"} HMP Rye Hill
    %option{"data-postcode" => "GU23 7LJ", :value => "hmp_send"} HMP Send
    %option{"data-postcode" => "ME12 4DZ", :value => "hmp_sheppey_cluster_elmley"} HMP Sheppey Cluster (Elmley)
    %option{"data-postcode" => "ME12 4AA", :value => "hmp_sheppey_cluster_standford_hill"} HMP Sheppey Cluster (Standford Hill)
    %option{"data-postcode" => "ME12 4AX", :value => "hmp_sheppey_cluster_swaleside"} HMP Sheppey Cluster (Swaleside)
    %option{"data-postcode" => "ST16 3AW", :value => "hmp_stafford"} HMP Stafford
    %option{"data-postcode" => "LE15 7RD", :value => "hmp_stocken"} HMP Stocken
    %option{"data-postcode" => "TF9 2JL", :value => "hmp_stoke_heath"} HMP Stoke Heath
    %option{"data-postcode" => "SK9 4HR", :value => "hmp_styal"} HMP Styal
    %option{"data-postcode" => "DE6 5HW", :value => "hmp_sudbury"} HMP Sudbury
    %option{"data-postcode" => "SA1 3SR", :value => "hmp_swansea"} HMP Swansea
    %option{"data-postcode" => "WS14 9QS", :value => "hmp_swinfen_hall"} HMP Swinfen Hall
    %option{"data-postcode" => "SE28 0FJ", :value => "hmp_thameside"} HMP Thameside
    %option{"data-postcode" => "HP3 0NZ", :value => "hmp_the_mount"} HMP The Mount
    %option{"data-postcode" => "WA4 4RL", :value => "hmp_thorn_cross"} HMP Thorn Cross
    %option{"data-postcode" => "NP15 1XP", :value => "hmp_usk"} HMP Usk
    %option{"data-postcode" => "WF2 9AG", :value => "hmp_wakefield"} HMP Wakefield
    %option{"data-postcode" => "SW18 3HU", :value => "hmp_wandsworth"} HMP Wandsworth
    %option{"data-postcode" => "IP12 3BF", :value => "hmp_yoi_warren_hill"} HMP/YOI Warren Hill
    %option{"data-postcode" => "IP25 6RL", :value => "hmp_wayland"} HMP Wayland
    %option{"data-postcode" => "LS23 7AZ", :value => "hmp_wealstun"} HMP Wealstun
    %option{"data-postcode" => "ST9 0DX", :value => "hmp_yoi_werrington"} HMP/YOI Werrington
    %option{"data-postcode" => "LS22 5ED", :value => "hmp_yoi_wetherby"} HMP/YOI Wetherby
    %option{"data-postcode" => "NG13 9FQ", :value => "hmp_whatton"} HMP Whatton
    %option{"data-postcode" => "PE15 0PR", :value => "hmp_whitemoor"} HMP Whitemoor
    %option{"data-postcode" => "SO22 5DF", :value => "hmp_winchester"} HMP Winchester
    %option{"data-postcode" => "MK4 4DA", :value => "hmp_woodhill"} HMP Woodhill
    %option{"data-postcode" => "W12 0AE", :value => "hmp_wormwood_scrubs"} HMP Wormwood Scrubs
    %option{"data-postcode" => "PR26 8LW", :value => "hmp_wymott"} HMP Wymott
    %option{"data-postcode" => "RH6 0PQ", :value => "irc_brook_house"} IRC Brook House
    %option{"data-postcode" => "OX5 1RE", :value => "irc_campsfield_house"} IRC Campsfield House
    %option{"data-postcode" => "UB7 0FX", :value => "irc_colnbrook"} IRC Colnbrook
    %option{"data-postcode" => "ML10 6RF", :value => "irc_dungavel_house"} IRC Dungavel House
    %option{"data-postcode" => "UB7 0HB", :value => "irc_harmondsworth"} IRC Harmondsworth
    %option{"data-postcode" => "BT40 1UR", :value => "irc_larne_house"} IRC Larne House
    %option{"data-postcode" => "LN6 9PT", :value => "irc_morton_hall"} IRC Morton Hall
    %option{"data-postcode" => "M90 4AG", :value => "irc_pennine_house"} IRC Pennine House
    %option{"data-postcode" => "RH6 0PQ", :value => "irc_tinsley_house"} IRC Tinsley House
    %option{"data-postcode" => "MK44 2FQ", :value => "irc_yarls_wood"} IRC Yarl's Wood

