.form-group.fx-additional-info
  %h2.heading-medium
    Additional information (optional)
  .form-group
    %label.form-label{:for => "travel-expense-1-additional-information"}
      Provide any information that will help in the assessment of your expenses
    %textarea#travel-expenses-additional-information.form-control.form-control-full-textarea{:autocapitalize => "off", :autocorrect => "off", :name => "travel_expenses_additional_information", :rows => "5", :spellcheck => "false"}
