= f.govuk_text_area :travel_expense_additional_information,
  hint: { text: t(".#{@claim.agfs? ? 'agfs' : 'lgfs'}_additional_info_label") },
  label: { text: t('.additional_info_heading'), size: 'm',  class: "govuk-!-padding-top-7"  }
