%label.form-label-bold{:for => "travel-expense-1-additional-information"}
  Additional information (optional)
  %span.form-hint Provide supporting evidence for this expense
%textarea#travel-expense-1-additional-information.form-control.form-control-full-textarea{:name => "travel_expense_1_additional_information", :rows => "2"}
