.button-holder
  = f.submit t('buttons.continue'), name: commit, class: 'button left'

  - if @claim.draft?
    = f.submit t('buttons.save_a_draft'), name: 'commit_save_draft', class: 'button button-secondary left'