.button-holder
  = f.submit t('.submit_to_laa'), class: 'button left'
  - if @claim.draft?
    = f.submit t('.save_to_drafts'), class: 'button button-secondary left'
  = link_to t('.clear_form'), request.fullpath, class: 'button button-secondary right', data: { confirm: 'Are you sure you want to clear this form?' }
