.button-holder
  = f.submit 'Continue', class: 'button left'
  = f.submit 'Save a draft', class: 'button button-secondary left'
  - if params[:action] == 'step_2'
    = f.submit 'Back', class: 'button button-secondary left'
