.button-holder
  = f.submit t('buttons.submit_to_laa'), class: 'govuk-button', data: { module: 'govuk-button' }
  - if @claim.draft?
    = govuk_button_link_to(t('buttons.save_to_drafts'), secondary: true)

  = govuk_button_link_to(t('buttons.clear_form'), request.fullpath, secondary: true, 'data-confirm': 'Are you sure you want to clear this form?')
