%h2.bold-medium
  = f.label :additional_information, t('.additional_information')
#additional-info-hint.form-hint.xsmall
  = t('.additional_information_prompt_text')
#additional-info-area
  = f.text_area :additional_information, rows: 5, 'aria-describedby': 'additional-info-hint'
