.feedback-banner {
  padding-top: govuk-spacing(2);
  padding-bottom: govuk-spacing(2);

  border-bottom: 1px solid $govuk-border-colour;
}

.feedback-banner__content {
  @include govuk-font($size: 16);
  @include govuk-text-colour;

  display: table;
  margin: 0;
}

.feedback-banner__text {
  display: table-cell;
  vertical-align: middle;
}
