// stylelint-disable declaration-no-important

.govuk-notification-banner--alert,
.govuk-notification-banner--error {
  border-color: $govuk-error-colour !important;
  background-color: $govuk-error-colour !important;

  .govuk-notification-banner__link {
    @include govuk-link-style-error;
  }
}

.govuk-notification-banner--notice {
  border-color: $govuk-success-colour !important;
  background-color: $govuk-success-colour !important;

  .govuk-notification-banner__link {
    @include govuk-link-style-success;
  }
}
