.app-tag--authorised,
.app-tag--accepted {
  color: govuk-colour("green", $variant: "shade-50");
  background-color: govuk-colour("green", $variant: "tint-80");
}

.app-tag--allocated {
  color: govuk-colour("purple", $variant: "shade-50");
  background-color: govuk-colour("purple", $variant: "tint-80");
}

.app-tag--draft {
  color: govuk-colour("blue", $variant: "shade-50");
  background-color: govuk-colour("blue", $variant: "tint-80");
}

.app-tag--rejected,
.app-tag--refused,
.app-tag--unverified {
  color: govuk-colour("red", $variant: "shade-50");
  background-color: govuk-colour("red", $variant: "tint-80");
}

.app-tag--archived-pending-delete,
.app-tag--submitted {
  color: govuk-colour("black");
  background-color: govuk-colour("black", $variant: "tint-80");
}

.app-tag--redetermination {
  color: govuk-colour("black");
  background-color: govuk-colour("black", $variant: "tint-80");
}

.app-tag--part-authorised {
  color: govuk-colour("blue", $variant: "shade-50");
  background-color: govuk-colour("blue", $variant: "tint-80");
}