- warnable = expenses.select(&:distance_gt_calculated?)
.govuk-error-summary{ 'aria-labelledby': 'error-summary-expenses', role: 'alert', tabindex: '-1' }
  %h1#govuk-error-summary__title.govuk-heading-m.error-summary-heading
    = t('.title', count: warnable.size)
  %p
    = t('.message', count: warnable.size)
