---
http_interactions:
- request:
    method: get
    uri: http://apilayer.net/api/historical?access_key=<CURRENCY_API_KEY>&currencies=USD,GBP&date=2018-10-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
      X-Apilayer-Transaction-Id:
      - 730d58cf-4ba6-4c8a-99b5-599b4d2f6449
      X-Request-Time:
      - '0.007'
    body:
      encoding: UTF-8
      string: '{"success":false,"error":{"code":101,"type":"invalid_access_key","info":"You
        have not supplied a valid API Access Key. [Technical Support: support@apilayer.com]"}}'
  recorded_at: Mon, 21 Mar 2022 15:50:28 GMT
recorded_with: VCR 6.1.0
