---
http_interactions:
- request:
    method: get
    uri: http://apilayer.net/api/historical?access_key=<CURRENCY_API_KEY>&currencies=USD,GBP&date=2018-10-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json; Charset=UTF-8
      Etag:
      - 72eddf93ecaba2a5f674c25bd3e6631e
      X-Apilayer-Transaction-Id:
      - 515ee41a-d153-4529-b4bb-0729c0d6f4a9
      Last-Modified:
      - Wed, 31 Oct 2018 23:59:59 GMT
      X-Request-Time:
      - '0.034'
    body:
      encoding: UTF-8
      string: '{"success":true,"terms":"https:\/\/currencylayer.com\/terms","privacy":"https:\/\/currencylayer.com\/privacy","historical":true,"date":"2018-10-31","timestamp":1541030399,"source":"USD","quotes":{"USDUSD":1,"USDGBP":0.78315}}'
  recorded_at: Fri, 01 Mar 2019 16:45:39 GMT
recorded_with: VCR 4.0.0
