%dl
  %dt
    Advocate
  %dd
    #{claim.advocate.email}
  %dt
    Defendant name
  %dd
    #{claim.defendants.map(&:name).join(', ')}
  %dt
    Case number
  %dd
    #{claim.case_number}
  %dt
    Court
  %dd
    #{claim.court.name}