= render partial: 'errors/error_summary', locals:{ ep: @case_worker, error_summary: 'This case worker has '}

= render partial: 'layouts/header', locals: {page_heading: 'Edit case worker details'}

= render 'form'
