#show-messages-wrapper
  - present(@claim) do |claim|
    = render 'shared/claim_header', claim: claim

    .print-messages-hint.form-hint
      %p This page shows all messages for this claim in an easy to print or save format. If you want to print all messages, you can use the browser print option.
      %p Press both "Ctrl" + "P" ("Cmd" + "P" on Mac) on your keyboard at the same time as a short-cut or go to "File" on the top menu of your browser, and select "Print".

    .panel.no-border
      .messages-container
        .messages-list
          = render partial: 'shared/history_items_list', locals: { claim: claim }