---
http_interactions:
- request:
    method: get
    uri: https://laa-fee-calculator-dev.apps.non-production.k8s.integration.dsd.io/api/v1/fee-schemes/?case_date=2018-04-01&type=AGFS
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"count":1,"next":null,"previous":null,"results":[{"id":3,"start_date":"2018-04-01","end_date":null,"type":"AGFS","description":"AGFS
        Fee Scheme 10"}]}'
  recorded_at: Wed, 01 Aug 2018 23:28:39 GMT
- request:
    method: get
    uri: https://laa-fee-calculator-dev.apps.non-production.k8s.integration.dsd.io/api/v1/fee-schemes/3/scenarios/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"count":12,"next":null,"previous":null,"results":[{"id":1,"name":"Discontinuance","code":"AS000001"},{"id":2,"name":"Guilty
        plea","code":"AS000002"},{"id":3,"name":"Cracked trial","code":"AS000003"},{"id":4,"name":"Trial","code":"AS000004"},{"id":5,"name":"Appeal
        against conviction","code":"AS000005"},{"id":6,"name":"Appeal against sentence","code":"AS000006"},{"id":7,"name":"Committal
        for sentence","code":"AS000007"},{"id":8,"name":"Contempt","code":"AS000008"},{"id":9,"name":"Breach
        of crown court order","code":"AS000009"},{"id":10,"name":"Cracked before retrial","code":"AS000010"},{"id":11,"name":"Retrial","code":"AS000011"},{"id":12,"name":"Elected
        case not proceeded","code":"AS000014"}]}'
  recorded_at: Wed, 01 Aug 2018 23:28:39 GMT
- request:
    method: get
    uri: https://laa-fee-calculator-dev.apps.non-production.k8s.integration.dsd.io/api/v1/fee-schemes/3/calculate/?advocate_type=JUNIOR&day=1&fee_type_code=AGFS_APPEAL_CON&offence_class&scenario=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"amount":250.0}'
  recorded_at: Wed, 01 Aug 2018 23:28:40 GMT
[...]
- request:
    method: get
    uri: https://laa-fee-calculator-dev.apps.non-production.k8s.integration.dsd.io/api/v1/fee-schemes/3/calculate/?advocate_type=JUNIOR&day=1&fee_type_code=AGFS_APPEAL_CON&number_of_cases=2&offence_class&scenario=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"amount":300.0}'
  recorded_at: Wed, 01 Aug 2018 23:29:46 GMT
- request:
    method: get
    uri: https://laa-fee-calculator-dev.apps.non-production.k8s.integration.dsd.io/api/v1/fee-schemes/3/calculate/?advocate_type=JUNIOR&day=1&fee_type_code=AGFS_APPEAL_CON&number_of_cases=2&offence_class&scenario=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"amount":300.0}'
  recorded_at: Wed, 01 Aug 2018 23:29:46 GMT
recorded_with: VCR 3.0.3
