- supplier_numbers = present(current_user.persona.provider.lgfs_supplier_numbers, SupplierNumberCollectionPresenter)

.lgfs-supplier-numbers.has-select
  - if current_user.persona.provider.lgfs_supplier_numbers.length >= 6
    .fx-autocomplete-wrapper
      = f.govuk_collection_select :supplier_number,
        supplier_numbers,
        :supplier_number,
        :supplier_label,
        options: { include_blank: '' },
        label: { text: t('.lgfs_supplier_number') },
        hint: { text: supplier_number_hint }

  - else
    = f.govuk_collection_radio_buttons :supplier_number,
      supplier_numbers,
      :supplier_number,
      :supplier_label,
      legend: { text: t('.lgfs_supplier_number'), class: "govuk-!-padding-top-7" },
      hint: { text: supplier_number_hint }
