.govuk-grid-row
  .govuk-grid-column-two-thirds
    %h1.govuk-heading-l
      = 'Statistics reports'

  .govuk-grid-column-two-thirds
    %ul.govuk-list.govuk-list--bullet.govuk-list--spaced
      - @available_reports.each do |title, url_part|
        %li
          = link_to(title, send("#{url_part}_geckoboard_api_widgets_path", format: 'html'))
