#misc-fees.mod-fees
  #misc_fees.misc-fee-group-wrapper
    %h3.govuk-heading-m
      = t('.misc_fee')
    = f.govuk_check_boxes_fieldset :misc_fees, legend: { text: t('.fee_type') }, form_group: { id: 'claim-misc-fees-field-error' } do
      = f.fields_for :misc_fees do |misc_fee_fields|
        - @misc_fee_count += 1
        = render partial: 'external_users/claims/misc_fees/advocates/supplementary/misc_fee_fields', locals: { f: misc_fee_fields }
