- locale_scope = 'external_users.claims.disbursements.disbursement_fields'

= content_for :page_title, flush: true do
  = t('.page_title')

#disbursements-header.form-group
  %h2.govuk-heading-l
    = t('page_header', scope: locale_scope)

= render partial: 'external_users/claims/disbursements/fields', locals: { f: f }
