- locale_scope = 'external_users.claims.fixed_fees.litigators.fields'

= render partial: 'external_users/claims/fees_shared_header', locals: {page_header: t('page_header', scope: locale_scope), page_hint: t('page_intro_html', scope: locale_scope)}
= render partial: 'external_users/claims/fixed_fees/litigators/fields', locals: { f: f }
