{
  "presets": [
    ["@babel/preset-env",
      {
        "forceAllTransforms": true,
        "useBuiltIns": "entry",
        "corejs": 3,
        "modules": false,
        "exclude": ["transform-typeof-symbol"],
        "loose": true
      }
    ]
  ],
  "plugins": ["@babel/plugin-transform-runtime"]
}
