.idea/**/
.DS_Store

node_modules
public/system/documents
public/paperclip
public/uploads
public/assets/test/*
public/assets/test
public/assets/dev/*
public/assets/dev
public/packs/*
public/packs-test/*

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml

log/*

tmp/stats/*.csv
tmp/*.log
tmp/dev/**/*
tmp/*

coverage/*
coverage
features/*
features
vcr/*
vcr

# Note: We need spec folder for smoke test
# spec/*

.env
.env.sample
.rubocop.yml
.rubocop_todo.yml

.dockerignore
.git
.github
.rspec
.rspec_parallel
.bundle
.circleci
.editorconfig
.stylelintrc.yml
.k8s

# dump files
dump.rdb
*_dump.psql
*_dump.psql.gz

Brewfile
README.md
docs
ux
