# git-crypt kubernetes secrets
kube*/**/*secret* filter=git-crypt diff=git-crypt
*k8s*/**/*secret* filter=git-crypt diff=git-crypt

# for default rails 6 master.key and similar
*.key filter=git-crypt diff=git-crypt
