// --------------------------------------- */
// Buttons */
// --------------------------------------- */

.button-secondary {

  @include button($grey-3);

  &.blue {
    background-color: $link-hover-colour;
    box-shadow: 0 2px 0 $link-colour;
    color: $page-colour;
  }

  &.blue:hover {
    background-color: $govuk-blue;
  }
  &:link, &:link:focus, &:hover, &:focus, &:visited {
    color: $page-colour;
  }
}

.button-holder {
  margin-top: $gutter;
}

.btn-green {
  @include button();
}

.button-grey-3,
.button-gray-3 {

  @include button($grey-3);
  padding: .52632em .78947em .26316em;

  @include media (mobile) {
    text-align: center;
    width: 100%;
  }
}

form .form-buttons * {
  display: inline-block;
  margin-right: 10px;
}



// Buttons
// ==========================================================================

.button {
  @include button ($button-colour);
  @include box-sizing (border-box);
  vertical-align: top;

  @include media (mobile) {
    width: 100%;
    text-align: center;
  }
}

// Fix unwanted button padding in Firefox
.button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.button:focus {
  outline: 3px solid $focus-colour;
}

// Disabled buttons
.button[disabled="disabled"] {
  background: $button-colour;
}

.button[disabled="disabled"]:focus {
  outline: none;
}

// Start now buttons
.button-start,
.button-get-started {
  @include bold-24;
  background-image: file-url("icon-pointer.png");
  background-repeat: no-repeat;
  background-position: 100% 50%;
  padding: em(7) em(41) em(4) em(16);

  @include device-pixel-ratio {
    background-image: file-url("icon-pointer-2x.png");
    background-size: 30px 19px;
  }

  @include ie(6) {
    background-image: file-url("icon-pointer-2x.png");
  }
}
