.confirmation-header {
  background-color: $turquoise;
  color: $page-colour;
  text-align: center;
  padding-top: $gutter * 2;
  padding-bottom: $gutter * 2;
  margin-bottom: $gutter;
}


.confirmation-tick {
  width: 36px;
  height: 36px;
}

.confirmation-section {
  h2 {
    margin-bottom: $gutter-half;
    margin-top: $gutter;
  }
}
