.form-control:disabled,
input.form-control:read-only {
  border-color: $grey-3;
  cursor: not-allowed;
}

.field_with_errors,
.dropdown_field_with_errors {
  input, select, textarea {
    border: 4px solid $error-colour;
  }

  fieldset.indent-fieldset {
    border-left: 5px solid $error-colour;
  }
}

.field_with_errors {
  .field_with_errors {
    border: none;
    padding:0;
  }
}

.form-control-full {
  width: 100%;

  @include media(tablet) {
    width: 75%;
  }
}

.form-control-full-textarea {
  width: 100% !important;

  @include media(tablet) {
    width: 75%;
  }
}
