.mod-fees{
  .bold-medium{
    padding-bottom: $gutter;
  }
  .dates-wrapper{
    position: relative;
  }
  .header-action,
  .date-action{
    float: right;
    @include core-19;
    font-weight: 700;
    }
  .date-action{
    position: absolute;
    right:40%;
  }
}

.expense-group{
  @extend .mod-fees;
}
