.mod-fees{
  .bold-medium{
    padding-bottom: $gutter;
  }
  .dates-wrapper{
    position: relative;
  }
  .header-action,
  .date-action{
    float: right;
    @include core-16;
    }
  .date-action{
    position: absolute;
    right:40%;
  }
}
