#offence-list {
  padding: 0px;

  .offence-item {
    margin: 0px;
    padding: 10px;
    border-bottom: 1px solid #ccc;

    span.link-grey {
      a{
        color: #6f777b !important;
        text-decoration: none;
      }
      a:hover{
        text-decoration: underline;
      }
      color: #6f777b !important;
    }

    .align-right {
      text-align: right;
    }
  }

  .offence-item:nth-child(odd) {
    color: #000;
    background-color: #f8f8f8;
  }

  .offence-item:hover {
    color: #000;
    background-color: #e7f4fb;
  }

  .offence-item a.offence-item-button {
    visibility: hidden;
  }

  .offence-item:hover a.offence-item-button {
    visibility: visible;
  }

  .empty-message {
    color: #000;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ccc;
  }
}

.selected-offence {
  background: #e1e8e8;
  padding: 15px 30px;
}
.highlight {
  background-color: #ffffca;
}
