%fieldset
  %legend
    %h3.heading-medium
      = t('.supporting_evidence_checklist')

  = render partial: 'external_users/claims/supporting_evidence_checklist/evidence_checklist', locals: { f: f, collection: DocType.all }