%fieldset
  %h2
    %legend.bold-medium
      = t('.supporting_evidence_checklist')
  .evidence-checklist
    = render partial: 'external_users/claims/supporting_evidence_checklist/evidence_checklist', locals: { f: f }
