%fieldset.checklist
  %h2.bold-medium
    = t('.supporting_evidence_checklist')
  .grid-row
    .column-two-thirds
      = render partial: 'external_users/claims/supporting_evidence_checklist/evidence_checklist', locals: { f: f, collection: DocType.all }
