- if current_user.persona.is_a? ExternalUser
  %p.form-hint
    If you don't provide enough evidence, your claim may be rejected.
/ - if current_user == claim.external_user.user && claim.editable?
/   = link_to 'Edit', "#{edit_polymorphic_path(@claim)}#evidence-checklist"
- if claim.evidence_checklist_ids.empty?
  %p
    No documentary evidence specified as having been provided.
- else
  %table{class:'table-summary'}
    %caption
      %span.table-caption.visuallyhidden
        Supporting evidence checklist
    %tbody
      - DocType.find_by_ids(claim.evidence_checklist_ids).each do |dt|
        %tr
          %th
            = dt.name
          %td
            Provided