.form-section.defendants
  %fieldset
    = f.fields_for :defendants do |defendant|
      = render partial: 'external_users/claims/defendants/defendant_fields', locals: { f: defendant }
.form-section.defendants-actions
  %hr
  = link_to_add_association t('.add_another_defendant'), f, :defendants, partial: 'external_users/claims/defendants/defendant_fields', class: 'button button-secondary blue'
