- locale_scope = 'external_users.claims.offence_details.fields'
#cc-offence
  - if @claim.new_record?
    - selected_offence_category = params[:offence_category].present? ? params[:offence_category][:description] : nil
  - else
    - selected_offence_category = @claim.offence.description rescue nil

  = f.govuk_collection_select :offence_category,
    @offence_descriptions,
    :description, :description,
    form_group: { class: 'fx-autocomplete-wrapper', id: 'cc-transfer-stage js-claim-offence-category-description' },
    hint: { text: t('offence_category_hint', scope: locale_scope)},
    label: { text: t('offence_category', scope: locale_scope)},
    options: { include_blank: '', selected: selected_offence_category }

.js-offence-class-select-wrapper
  = render partial: 'external_users/claims/offence_details/offence_select', locals: { offences: @offences, f: f }
= f.hidden_field :offence_id
