= f.govuk_collection_select :offence_class,
  offences.map { |offence| [offence.id, offence.offence_class.letter_and_description] },
  :first,
  :last,
  form_group: { class: 'js-offence-class-select' },
  label: { text: t('.offence_class') }
