= f.govuk_collection_select :offence_class,
  offences.map { |offence| [offence.id, offence.offence_class.description] },
  :first,
  :last,
  label: { text: t('.offence_class')},
  form_group: { classes: 'js-offence-class-select'}
