- if resource.errors.any?
  .govuk-error-summary{ tabindex: '-1', role: 'alert', 'data-module': 'govuk-error-summary', 'aria-labelledby': 'error-summary-title' }
    %h2#error-summary-title.govuk-error-summary__title
      = t('.error_summary_title')

    .govuk-error-summary__body
      %ul.govuk-list.govuk-error-summary__list
        - resource.errors.each do |error|
          %li= "#{error.attribute.to_s.humanize} #{error.message}"
