%fieldset.inline.allocation-filter-form.form-row
  .form-col
    %legend
      = t('.case_types')
    = select_tag :filter, options_for_select(allocation_filters_for_scheme(params[:scheme] || 'agfs').collect{ |filter| [filter.humanize, filter] }, params[:filter]), class: 'form-control'
  .form-col{ style: 'padding: 26px 0 0' }
    = submit_tag 'Select', class: 'button'
