%fieldset.inline.allocation-filter-form
  .column-half
    %legend
      = t('.case_types')
    = select_tag :filter, options_for_select(allocation_filters_for_scheme(params[:scheme] || 'agfs').collect{ |filter| [filter.humanize, filter] }, params[:filter]), class: 'select2'
  .column-half{ style: 'padding: 15px 15px' }
    = submit_tag 'Select', class: 'button'
