.form-group#filter-status.dtFilter
  %label.form-label{:for => "select-box"} Claim status:
  %select.form-control{:name => "filter_status"}
    %option{:value => ""}
      All
    %option{:value => "true"}
      True
    %option{:value => "false"}
      False