#allocation-filters.form-group
  %fieldset.inline
    %legend.visuallyhidden
      Choose your Scheme

    .multiple-choice
      %input#scheme_agfs{:name => "scheme", :type => "radio", :value => "agfs", :checked => "checked"}/
      %label{:for => "scheme_agfs"} AGFS
    .multiple-choice
      %input#scheme_lgfs{:name => "scheme", :type => "radio", :value => "lgfs"}/
      %label{:for => "scheme_lgfs"} LGFS

    %noscript
      = submit_tag "Submit"