#allocation-filters
  = f.govuk_collection_radio_buttons :scheme,
    [['AGFS','agfs'], ['LGFS','lgfs']],
    :last,
    :first,
    inline: true,
    legend: { text: t('.choose_your_scheme'), size: 'm' }
