%h1 Our current JSON template for claim generation
%h3 Claims should be presented as an array of JSON objects - Each JSON object should have the following structure:
%p
  != ap @template
%h1 Our current JSON schema which you can use to validate your JSON documents
%p
  != ap @schema