- if fees_to_offer.present?
  = form_with url: 'testing', builder: GdsAdpFormBuilder do |f|
    .js-callout-banner#mod-unclaimed-fees
      = f.govuk_collection_check_boxes :additional_fees,
        fees_to_offer,
        :id,
        :description,
        legend: { text: 'You may be eligible for these additional fees' },
        hint: { text: "Based on the details of your case there are some fees to which you would usually eligible. If you have not already included them in another claim for the same case then you may like to add them here.  n future these can be added during the submission process as 'Miscellaneous Fees'" }
      = govuk_button 'Add', id: 'add-unclaimed-fees', class: 'add-unclaimed-fees'
