//=require dropzone/basic

// advocates
$table-th-colour: #d8d8d8;

/****************************
Messaging - Colours
****************************/
$message-history-text: #4C2C92;
$left-message-colour: #ccdbf1;
$read-text: #444444;
$date-text: #006435;
$date-border-colour: $green;
$status-text: #6F777B;
