= f.govuk_collection_radio_buttons :advocate_category,
  f.object.eligible_advocate_categories.sort,
  :to_s,
  :to_s,
  form_group: { class: 'js-fee-calculator-advocate-type cc-advocate-categories' },
  legend: { text: t('shared.claim.advocate_category'), size: 's' }
