= f.govuk_collection_radio_buttons :prosecution_evidence,
  yes_no_options,
  :last,
  :first,
  form_group: { class: 'js-fee-calculator-prosecution-evidence prosecution-evidence' },
  legend: { text: t('common.prosecution_evidence'), size: 's' }
