---
http_interactions:
- request:
    method: get
    uri: http://apilayer.net/api/historical?access_key=<CURRENCY_API_KEY>&currencies=USD,GBP&date=2018-01-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json; Charset=UTF-8
      Etag:
      - a794c569a513379eeb3285e9656a8922
      X-Apilayer-Transaction-Id:
      - 79de0b8b-af66-4d17-95ec-68d61f65a8a4
      Last-Modified:
      - Wed, 31 Jan 2018 23:59:59 GMT
      X-Request-Time:
      - '0.030'
    body:
      encoding: UTF-8
      string: '{"success":true,"terms":"https:\/\/currencylayer.com\/terms","privacy":"https:\/\/currencylayer.com\/privacy","historical":true,"date":"2018-01-31","timestamp":1517443199,"source":"USD","quotes":{"USDUSD":1,"USDGBP":0.70417}}'
  recorded_at: Tue, 08 Jan 2019 10:38:18 GMT
[...]
- request:
    method: post
    uri: https://www.performance.service.gov.uk/data//test-quarterly-volumes
    body:
      encoding: UTF-8
      string: '[{"_id":"MjAxOC0wMS0wMVQwMDowMDowMCswMDowMC4ucXVhcnRlcg==","_timestamp":"2018-01-01T00:00:00+00:00","service":null,"period":"quarter","report":"test-quarterly-volumes","cost_per_transaction_quarter":null,"start_at":"2018-01-01
        00:00:00","end_at":"2018-03-31 22:59:59","total_cost_quarter":0.0,"transactions_per_quarter":0}]'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer
  response:
    status:
      code: 404
      message: NOT FOUND
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n  \"message\": \"The requested URL was not found on the server.
        \ If you entered the URL manually please check your spelling and try again.\",
        \n  \"status\": \"error\"\n}"
  recorded_at: Thu, 17 Jan 2019 15:48:48 GMT
recorded_with: VCR 3.0.3
