---
http_interactions:
- request:
    method: get
    uri: http://apilayer.net/api/historical?access_key=<CURRENCY_API_KEY>&currencies=USD,GBP&date=2018-01-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json; Charset=UTF-8
      Etag:
      - a794c569a513379eeb3285e9656a8922
      X-Apilayer-Transaction-Id:
      - 79de0b8b-af66-4d17-95ec-68d61f65a8a4
      Last-Modified:
      - Wed, 31 Jan 2018 23:59:59 GMT
      X-Request-Time:
      - '0.030'
    body:
      encoding: UTF-8
      string: '{"success":true,"terms":"https:\/\/currencylayer.com\/terms","privacy":"https:\/\/currencylayer.com\/privacy","historical":true,"date":"2018-01-31","timestamp":1517443199,"source":"USD","quotes":{"USDUSD":1,"USDGBP":0.70417}}'
  recorded_at: Tue, 08 Jan 2019 10:38:18 GMT
[...]
- request:
    method: get
    uri: http://apilayer.net/api/historical?access_key=<CURRENCY_API_KEY>&currencies=USD,GBP&date=2018-03-31
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Proxy-Connection:
      - Keep-Alive
      Content-Type:
      - application/json; Charset=UTF-8
      Etag:
      - e8436ff1cb03cb1cea1b2deaa12aaca2
      X-Apilayer-Transaction-Id:
      - cffbabcc-ff3c-4467-a9c8-293760fe3ab3
      Last-Modified:
      - Sat, 31 Mar 2018 23:59:59 GMT
      X-Request-Time:
      - '0.040'
    body:
      encoding: UTF-8
      string: '{"success":true,"terms":"https:\/\/currencylayer.com\/terms","privacy":"https:\/\/currencylayer.com\/privacy","historical":true,"date":"2018-03-31","timestamp":1522540799,"source":"USD","quotes":{"USDUSD":1,"USDGBP":0.71347}}'
  recorded_at: Tue, 08 Jan 2019 10:38:19 GMT
recorded_with: VCR 3.0.3
