- i18n_scope = 'case_workers.admin.management_information.index'

- if report_rec&.started_at
  %p
    = t('report_generated_at_html',
        scope: i18n_scope,
        datetime: report_rec.started_at.iso8601,
        time: report_rec.started_at.strftime(Settings.report_date_format))
- else
  %p
    = t('unavailable_report', scope: i18n_scope)

- if report_rec&.started_at.present?
  = govuk_link_button(t('download_html', scope: i18n_scope, report_name: report_name_html),
                    rails_blob_path(report_rec.document, disposition: "attachment"))

- if report_object.updatable?
  = govuk_link_button_secondary(t('update_report_html', scope: i18n_scope, report_name: report_name_html),
                              case_workers_admin_management_information_generate_url(report_type: report_object.name))
