= render partial: 'layouts/header', locals: {page_heading: t('.h1_managment_info')}

.form.fieldset.label
  = label_tag t('.all_claims_report')
= link_to 'Download', case_workers_admin_management_information_report_url(format: :csv), class: "button"
