- fee = present(f.object)

=f.adp_text_field :quantity,label: t('.quantity'),
                                     hint_text: t('.quantity_hint'),
                                     hide_hint: true,
                                     input_classes: 'quantity fee-quantity form-control-1-8 js-fee-quantity js-fee-calculator-quantity',
                                     input_type: 'number',
                                     value: fee.quantity,
                                     errors: @error_presenter