---
http_interactions:
- request:
    method: get
    uri: https://laa-fee-calculator-production.apps.cloud-platform-live-0.k8s.integration.dsd.io/api/v1/fee-schemes/?case_date=2016-01-01&type=AGFS
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
<<<<<<< HEAD
      - Wed, 17 Apr 2019 11:26:50 GMT
=======
      - Mon, 15 Apr 2019 15:02:02 GMT
>>>>>>> bfb207ed7... Rerecord features
      Content-Type:
      - application/json
      Content-Length:
      - '158'
      Connection:
      - keep-alive
      Vary:
      - Accept, Cookie
      Allow:
      - GET, HEAD, OPTIONS
      X-Frame-Options:
      - SAMEORIGIN
      Strict-Transport-Security:
      - max-age=15724800; includeSubDomains
    body:
      encoding: UTF-8
      string: '{"count":1,"next":null,"previous":null,"results":[{"id":1,"start_date":"2012-04-01","end_date":"2018-03-31","type":"AGFS","description":"AGFS
        Fee Scheme 9"}]}'
<<<<<<< HEAD
  recorded_at: Wed, 17 Apr 2019 11:26:50 GMT
=======
  recorded_at: Mon, 15 Apr 2019 15:02:02 GMT
>>>>>>> bfb207ed7... Rerecord features
- request:
    method: get
    uri: https://laa-fee-calculator-production.apps.cloud-platform-live-0.k8s.integration.dsd.io/api/v1/fee-schemes/1/scenarios/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
<<<<<<< HEAD
      - Wed, 17 Apr 2019 11:26:50 GMT
=======
      - Mon, 15 Apr 2019 15:02:02 GMT
>>>>>>> bfb207ed7... Rerecord features
      Content-Type:
      - application/json
      Transfer-Encoding:
      - chunked
      Connection:
      - keep-alive
      Vary:
      - Accept, Cookie
      - Accept-Encoding
      Allow:
      - GET, HEAD, OPTIONS
      X-Frame-Options:
      - SAMEORIGIN
      Strict-Transport-Security:
      - max-age=15724800; includeSubDomains
    body:
      encoding: ASCII-8BIT
      string: '{"count":12,"next":null,"previous":null,"results":[{"id":1,"name":"Discontinuance","code":"AS000001"},{"id":2,"name":"Guilty
        plea","code":"AS000002"},{"id":3,"name":"Cracked trial","code":"AS000003"},{"id":4,"name":"Trial","code":"AS000004"},{"id":5,"name":"Appeal
        against conviction","code":"AS000005"},{"id":6,"name":"Appeal against sentence","code":"AS000006"},{"id":7,"name":"Committal
        for sentence","code":"AS000007"},{"id":8,"name":"Contempt","code":"AS000008"},{"id":9,"name":"Breach
        of crown court order","code":"AS000009"},{"id":10,"name":"Cracked before retrial","code":"AS000010"},{"id":11,"name":"Retrial","code":"AS000011"},{"id":12,"name":"Elected
        case not proceeded","code":"AS000014"}]}'
<<<<<<< HEAD
  recorded_at: Wed, 17 Apr 2019 11:26:50 GMT
=======
  recorded_at: Mon, 15 Apr 2019 15:02:02 GMT
>>>>>>> bfb207ed7... Rerecord features
- request:
    method: get
    uri: https://laa-fee-calculator-production.apps.cloud-platform-live-0.k8s.integration.dsd.io/api/v1/fee-schemes/1/prices/?advocate_type=JRALONE&fee_type_code=AGFS_APPEAL_CON&limit_from=1&offence_class=H&scenario=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
<<<<<<< HEAD
      - Wed, 17 Apr 2019 11:26:50 GMT
=======
      - Mon, 15 Apr 2019 15:02:02 GMT
>>>>>>> bfb207ed7... Rerecord features
      Content-Type:
      - application/json
      Transfer-Encoding:
      - chunked
      Connection:
      - keep-alive
      Vary:
      - Accept, Cookie
      - Accept-Encoding
      X-Frame-Options:
      - SAMEORIGIN
      Allow:
      - GET, HEAD, OPTIONS
      Strict-Transport-Security:
      - max-age=15724800; includeSubDomains
    body:
      encoding: ASCII-8BIT
      string: '{"count":1,"next":null,"previous":null,"results":[{"id":2064,"scenario":5,"advocate_type":"JRALONE","fee_type":8,"offence_class":null,"scheme":1,"unit":"DAY","fee_per_unit":"130.00000","fixed_fee":"0.00000","limit_from":1,"limit_to":30,"modifiers":[{"limit_from":2,"limit_to":null,"fixed_percent":"0.00","percent_per_unit":"20.00","modifier_type":{"id":1,"name":"NUMBER_OF_CASES","description":"Number
        of cases","unit":"CASE"},"required":false,"priority":0,"strict_range":false},{"limit_from":2,"limit_to":null,"fixed_percent":"0.00","percent_per_unit":"20.00","modifier_type":{"id":2,"name":"NUMBER_OF_DEFENDANTS","description":"Number
        of defendants","unit":"DEFENDANT"},"required":false,"priority":0,"strict_range":false}],"strict_range":false}]}'
<<<<<<< HEAD
  recorded_at: Wed, 17 Apr 2019 11:26:50 GMT
=======
  recorded_at: Mon, 15 Apr 2019 15:02:02 GMT
>>>>>>> bfb207ed7... Rerecord features
[...]
- request:
    method: get
    uri: https://laa-fee-calculator-production.apps.cloud-platform-live-0.k8s.integration.dsd.io/api/v1/fee-schemes/1/prices/?advocate_type=JRALONE&fee_type_code=AGFS_STD_APPRNC&limit_from=1&offence_class=H&scenario=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
<<<<<<< HEAD
      - Wed, 17 Apr 2019 11:26:56 GMT
=======
      - Mon, 15 Apr 2019 15:02:08 GMT
>>>>>>> bfb207ed7... R[...]
[...]
- request:
    method: get
    uri: https://laa-fee-calculator-production.apps.cloud-platform-live-0.k8s.integration.dsd.io/api/v1/fee-schemes/1/prices/?advocate_type=QC&fee_type_code=AGFS_APPEAL_CON&limit_from=1&offence_class=H&scenario=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
<<<<<<< HEAD
      - Wed, 17 Apr 2019 11:26:59 GMT
=======
      - Mon, 15 Apr 2019 15:02:10 GMT
>>>>>>> bfb207ed7... Rereco[...]
[...]
- request:
    method: get
    uri: https://laa-fee-calculator-production.apps.cloud-platform-live-0.k8s.integration.dsd.io/api/v1/fee-schemes/1/prices/?advocate_type=QC&fee_type_code=AGFS_STD_APPRNC&limit_from=1&offence_class=H&scenario=5
>>>>>>> bfb207ed7... Rerecord features
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
<<<<<<< HEAD
      - Wed, 17 Apr 2019 11:26:59 GMT
=======
      - Mon, 15 Apr 2019 1[...]
[...]
- request:
    method: get
    uri: https://laa-fee-calculator-production.apps.cloud-platform-live-0.k8s.integration.dsd.io/api/v1/fee-schemes/1/prices/?advocate_type=JRALONE&fee_type_code=AGFS_FEE&limit_from=1&offence_class=H&scenario=12
>>>>>>> bfb207ed7... Rerecord features
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
<<<<<<< HEAD
      - Wed, 17 Apr 2019 11:27:00 GMT
=======
      - Mon, 15 Apr 2019 15[...]
[...]
- request:
    method: get
    uri: https://laa-fee-calculator-production.apps.cloud-platform-live-0.k8s.integration.dsd.io/api/v1/fee-schemes/1/prices/?advocate_type=QC&fee_type_code=AGFS_FEE&limit_from=1&offence_class=H&scenario=12
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
<<<<<<< HEAD
      - Wed, 17 Apr 2019 11:27:16 GMT
=======
      - Mon, 15 Apr 2019 15:02:28 GMT
>>>>>>> bfb207ed7... Rerecord fea[...]
[...]
