- if claim.agfs? && claim.advocate_category.present?
  %table{ class: 'summary' }
    %tbody
      %tr
        %th{ scope: 'row', class: 'bold' }
          = t("common.external_user.category.#{claim.external_user_type}")
        %td
          = claim.advocate_category
