- if claim.agfs? && claim.advocate_category.present?
  = govuk_summary_list do
    = govuk_summary_list_row( t("common.external_user.category.#{claim.external_user_type}") ) { claim.advocate_category }
