- if claim.agfs? && claim.advocate_category.present?
  %table.summary
    %tbody
      %tr
        %th{ scope: 'row' }
          = t("common.external_user.category.#{claim.external_user_type}")
        %td
          = claim.advocate_category
