= govuk_summary_list(classes: 'govuk-summary-list--no-border app-summary-list_sidebar') do |summary_list|
  - if claim.fixed_fee_case?
    - summary_list.with_row do |row|
      - row.with_key(text: t('shared.summary.fixed_fees'),
       html_attributes: { data: { seed: claim.raw_fixed_fees_total, autovat: @claim.apply_vat? ? 'true' : 'false' }}, classes: 'fx-seed-fixedFees')
      - row.with_value(text: claim.fixed_fees_total, classes: 'total-fixedFees')

  - else
    - summary_list.with_row do |row|
      - row.with_key(text: t('.graduated_fees'), html_attributes: { data: { seed: claim.raw_basic_fees_total, autovat: @claim.apply_vat? ? 'true' : 'false'}}, classes: 'fx-seed-gradFees')
      - row.with_value(text: claim.basic_fees_total, classes: 'total-gradFees')

  - summary_list.with_row do |row|
    - row.with_key(text: t('external_users.claims.agfs_supplementary_claim_sidebar.miscellaneous_fees'),
      html_attributes: { seed: claim.raw_misc_fees_total, autovat: @claim.apply_vat? ? 'true' : 'false'}, classes: 'fx-seed-miscFees')
    - row.with_value(text: claim.misc_fees_total, classes: 'total-miscFees')

  - summary_list.with_row do |row|
    - row.with_key(text: t('external_users.claims.agfs_supplementary_claim_sidebar.travel_expenses'),
      html_attributes: { data: { seed: claim.raw_expenses_total,
        autovat: @claim.apply_vat? ? 'true' : 'false'}}, classes:'fx-seed-expenses')
    - row.with_value(text: claim.expenses_total, classes: 'total-expenses')

  - summary_list.with_row do |row|
    - row.with_key(text: t('external_users.claims.agfs_supplementary_claim_sidebar.vat'),
      html_attributes: { 'data-vat-total': claim.raw_vat_amount}, classes: 'fx-seed')
    - row.with_value(text: claim.vat_amount, classes: 'total-vat')

  - summary_list.with_row do |row|
    - row.with_key(text: t('external_users.claims.agfs_supplementary_claim_sidebar.total'),
      html_attributes: { 'data-total-inc': claim.raw_total_inc}, classes: 'fx-seed')
    - row.with_value(text: claim.total_inc, classes: 'total-grandTotal')
