= govuk_summary_list(classes: 'govuk-summary-list--no-border app-summary-list_sidebar') do |summary_list|
  - summary_list.with_row do |row|
    - row.with_key(text: t('external_users.claims.agfs_supplementary_claim_sidebar.miscellaneous_fees'), classes: 'fx-seed-miscFees', html_attributes: {data: {seed: claim.raw_misc_fees_total, autovat: (@claim.apply_vat? ? 'true' : 'false')}})
    - row.with_value(text: claim.misc_fees_total)

  - summary_list.with_row do |row|
    - row.with_key(text: t('external_users.claims.agfs_supplementary_claim_sidebar.travel_expenses'), classes: 'fx-seed-expenses', html_attributes: {data: {seed: claim.raw_expenses_total, autovat: (@claim.apply_vat? ? 'true' : 'false')}})
    - row.with_value(text: claim.expenses_total, classes: 'total-expenses')

  - summary_list.with_row do |row|
    - row.with_key(text: t('external_users.claims.agfs_supplementary_claim_sidebar.vat'), classes: 'fx-seed', html_attributes: {data: {vat_total: claim.raw_vat_amount}})
    - row.with_value(text: claim.vat_amount, classes: 'total-vat')

  - summary_list.with_row do |row|
    - row.with_key(text: t('external_users.claims.agfs_supplementary_claim_sidebar.total'), classes: 'fx-seed', html_attributes: {data: {total_inc: claim.raw_total_inc}})
    - row.with_value(text: claim.total_inc, classes: 'total-grandTotal')
