- if claim.new_record? && show_api_promo_to_user?

  .js-callout-banner{'data-setting': 'api_promo_seen'}
    = govuk_warning_text t('callout_banner.api_promo_warning_text')

    %p
      = t('callout_banner.api_promo_information_html', href: api_landing_page_path)

    %ul.govuk-list
      %li.hide-link
        = link_to t('callout_banner.api_promo_hide_banner'), settings_user_path(current_user.id, api_promo_seen: 1), method: :put, remote: true
