#fees-header.form-group
  %h2.heading-large
    = local_assigns.has_key?(:page_header) ? page_header : t('.fees')

  %p
    = local_assigns.has_key?(:page_hint) ? page_hint : t('.fees_header_prompt_text_html')
