- present(@claim) do |claim|
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      = render partial: 'form', locals: { claim: claim }
    %aside.govuk-grid-column-one-third.stick-at-top
      - if claim.show_sidebar?
        = render partial: 'external_users/claims/summary_claims_sidebar', locals: { claim: claim }
      - else
        &nbsp;
