= form_for [:external_users, @json_document_importer], html: {multipart: true}, remote: true do |f|
  .claim-importer-header
    = f.label :json_file, t('.import_claim'), class: 'form-hint'
  = f.file_field :json_file, class: 'custom-uploader'
  = f.submit t('common.upload'), class: "button button-secondary"
  .errors
