= govuk_summary_list(classes: 'govuk-summary-list--no-border app-summary-list_sidebar') do |summary_list|
  - summary_list.with_row do |row|
    - row.with_key(text: t('common.hardship_fees'), html_attributes: { data: { seed: claim.raw_hardship_fees_total, autovat: @claim.apply_vat? ? 'true' : 'false' } }, classes: 'fx-seed-hardshipFees')
    - row.with_value(text: claim.hardship_fees_total, classes: 'total-hardshipFees')

  - summary_list.with_row do |row|
    - row.with_key(text: t('shared.summary.miscellaneous_fees'), html_attributes: { data: { seed: claim.raw_misc_fees_total, autovat: @claim.apply_vat? ? 'true' : 'false' } }, classes: 'fx-seed-miscFees')
    - row.with_value(text: claim.misc_fees_total,  classes: 'total-miscFees')

  - summary_list.with_row do |row|
    - row.with_key(text: t('shared.summary.vat'), html_attributes: { 'data-vat-total': claim.raw_vat_amount }, classes: 'fx-seed')
    - row.with_value(text: claim.vat_amount, classes: 'total-vat')

  - summary_list.with_row do |row|
    - row.with_key(text: t('shared.new_lgfs_disbursements.total'), html_attributes: { class: 'font-weight-bold', 'data-total-inc': claim.raw_total_inc }, classes: 'fx-seed')
    - row.with_value(text: claim.total_inc, classes: 'total-grandTotal')
