= govuk_summary_list(classes: 'govuk-summary-list--no-border app-summary-list_sidebar') do |summary_list|
  - summary_list.with_row do |row|
    - row.with_key(text: t('common.interim_fees'), html_attributes: { class: 'fx-seed-interimFees', data: { seed: claim.raw_interim_fees_total, autovat: @claim.apply_vat? ? 'true' : 'false' } })
    - row.with_value(text: claim.interim_fees_total, classes: 'total-interimFees')

  - summary_list.with_row do |row|
    - row.with_key(text: t('common.disbursements'), html_attributes: { class: 'fx-seed-disbursements', data: { seed: claim.raw_disbursements_total, autovat: 'false', 'seed-vat': claim.raw_disbursements_vat } })
    - row.with_value(text: claim.disbursements_total, classes: 'total-disbursements')

  - summary_list.with_row do |row|
    - row.with_key(text: t('common.expenses'), html_attributes: { class: 'fx-seed-expenses', data: { seed: claim.raw_expenses_total, autovat: 'false', 'seed-vat': claim.raw_expenses_vat } })
    - row.with_value(text: claim.expenses_total, classes: 'total-expenses')

  - summary_list.with_row do |row|
    - row.with_key(text: t('shared.new_lgfs_disbursements.vat'), html_attributes: { class: 'fx-seed', 'data-vat-total': claim.raw_vat_amount })
    - row.with_value(text: claim.vat_amount, classes: 'total-vat')

  - summary_list.with_row do |row|
    - row.with_key(text: t('shared.summary_lgfs.disbursements.total'), html_attributes: { class: 'fx-seed', 'data-total-inc': claim.raw_total_inc })
    - row.with_value(text: claim.total_inc, classes: 'total-grandTotal')
