%dl.govuk-summary-list
  .govuk-summary-list__row
    %dt.govuk-summary-list__key
      = t("common.prosecution_evidence")
    %dd.govuk-summary-list__value
      = t(claim.prosecution_evidence?.class)
