.new-claim-hgroup.js-stick-at-top-when-scrolling.totals-summary
  %h2
    Summary total

  = render partial: "external_users/claims/#{claim.type_identifier}_claim_sidebar", locals: { claim: claim, display_buttons: display_buttons }

  - if display_buttons == true
    %br/
    = link_to t('.continue'), new_external_users_claim_certification_path(claim), {class: 'button', role: 'button', 'aria-label': t('.button_label')}
    = link_to t('.edit_claim'), edit_polymorphic_path(claim), { role: 'button' }
    /Edit this claim
