%p
  = t('external_users.claims.check_your_claim.help_text')

- claim.summary_sections.each do |section|
  = render partial: "external_users/claims/#{section}/summary", locals: { claim: claim, editable: claim.editable? }
