.new-claim-hgroup.js-stick-at-top-when-scrolling.totals-summary{ role: 'status' }
  %h2.govuk-heading-m
    Summary total

  = render partial: "external_users/claims/#{claim.type_identifier}_claim_sidebar", locals: { claim: claim }
