= render partial: 'layouts/header', locals: {page_heading: 'Claim type'}

%h2.bold-medium
  What type of claim are you making?

%ul
  %li
    = link_to 'Advocate fees', new_external_users_claim_path(claim_type: 'agfs')
  %li
    = link_to 'Litigator fees', new_external_users_claim_path(claim_type: 'lgfs')
