%header.main-header{role: 'banner'}

  - if @claim.agfs?
    - page_heading = t('.agfs_heading')
  - elsif @claim.lgfs?
    - page_heading = t('.lgfs_heading')

= render partial: 'layouts/header', locals: {page_heading: page_heading}

= render 'form'
