= render partial: 'layouts/header', locals: { page_heading: t('.heading') }

- present(@claim) do |claim|

  .new-claim-sidebar
    = render partial: 'external_users/claims/summary_claims_sidebar', locals: { claim: claim }
  .new-claim-content
    = render partial: 'external_users/claims/summary_claims_content', locals: { claim: claim }
