.fx-result{
  border: red 1px solid;
  padding: 0 $gutter;
  margin: $gutter 0;
}

.js-enabled select.typeahead{
  @extend .visuallyhidden;
  width: auto !important;
}

.typeahead.fixedwidth{
  width: 330px;
}

//autocomplete styling
.tt-menu {
  background-color: #fff;
  border: 1px solid #ccc;
  width: 100%;
  max-height: 220px;
  overflow-y: scroll;
}

.tt-highlight{
  background-color: #ffffca !important;
}


@media (min-width: 641px){
  .tt-menu {
    width: 50%;
  }

  .js-block, #offence{
    .tt-menu{
      width: 100%;
    }
  }

}
.tt-hint{
  opacity: 0.6 !important;
}

.tt-suggestion {
  padding: 0.5em;

  &:hover,
  &.tt-cursor {
    color: #fff;
    background-color: #0097cf;
  }
}

.twitter-typeahead {
  width: 100%;
}

.empty-message{
  padding: 0.5em;
}

.mod-search-input{
  .fx-clear-filters{}
  .fx-input{
    float:left;
  }
  .fx-clear-search{
    display: inline-block;
    margin: 10px;
    font-weight: normal;
  }
}
