.button-secondary{
  @include button($grey-3);
}

.button-holder {
  margin-top: $gutter;
}

.external-user-json-export{
  margin-bottom: 10px;
}

p.file-upload-name {
  margin: 5px 0 0;
  font-style: italic;
}

.button{
	padding-bottom: 0.1em;
}

.btn-green{
	@include button();
}

.btn-gray{
	@include button($grey-3);
}
