.button-secondary{
  @include button($grey-3);
}

.button-holder {
  margin-top: $gutter;
}

.external-user-json-export{
  margin-bottom: 10px;
}

p.file-upload-name {
  margin: 5px 0 0;
  font-style: italic;
}

.btn-green{
  @include button();
}

.button-grey-3, .button-gray-3{
  @include button($grey-3);
  padding: 0.52632em 0.78947em 0.26316em 0.78947em;
  @include media (mobile) {
    width: 100%;
    text-align: center;
  }
}

.certify-claim {
  display: block;
  width: 8.8em;
  margin: 10px 0 !important;
}

.delete-draft {
  color: $red !important;
}
