
@import "datatables.min.css";
.scheme-filters{
  margin-top: $gutter/2;
}

// Rows per page control
.dataTables_length select{
  font-size: 19px;
  line-height: 1.31579;
  width: 25%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "nta", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 16px;
  line-height: 1.25;
  width: 100%;
  padding: 5px 4px 4px;
  border: 2px solid #0b0c0c;
}
.dataTables_wrapper{
  .dataTables_filter{
    float: left;
  }

  // .dataTables_length,
  .dataTables_info{
    float: right;
  }
}
