//  label
label {
  &.form-label {
    @include clearfix;
  }
  .form-hint {
    margin-top:0;
  }
  + .form-group.inline {
    .block-label {
      margin-top:0;
    }
  }
}
//  input
input.form-control[type=text],
input.form-control[type=email],
input.form-control[type=tel],
input.form-control[type=password] {
  @include span(8 of 12);
  @include first;
  @include core-19();
  &.short-input{
    @include span(4 of 12);
    margin-left: 0;
  }
  &.medium-input{
    @include span(6 of 12);
    margin-left: 0;
  }
  &.search{
    @include span(10 of 12);
    @include first;
  }
}

select.form-control {
  @include span(6 of 12);
  .form-row & {
    @include full;
  }
}

textarea.form-control{
  width:100%;
}
// Search form
// button
button.search {
  margin-left: 5px;
}

.search-form {
  @extend .search-wrapper;
  .search-wrapper & {
    @include span(6 of 12);
    @include first;
  }
  > form {
    @include span(6 of 12);
    @include first;
    .search-wrapper & {
      width:100%;
    }
    & + div {
      @extend .claim-count;
    }
  }
}
.expense-group {
  margin-bottom:$gutter;
}
.form-row {
  @include container;
  margin-bottom:$gutter;
  > div {
    @include span(4 of 12);
    &:last-child{
      @include last;
    }
    &:first-child{
      @include first;
    }
  }
}
.claim-summary-content{
  @include span(8 of 12);
  @include first;
  th{
    width: 50%;
  }
}
.claim-summary-sidebar{
  @include span(3 at 9 of 12);
  @include last;
  border-top: 5px solid $link-colour;
  margin-top: 5px;

  a{
    display: inline-block;
    margin-bottom: $gutter-half;
  }
  .total{
    border-top: 1px solid $border-colour;
    margin-top: $gutter-half;
    margin-bottom: $gutter-half;
    padding-top: $gutter-half;
  }
}

.claim-confirmation{
  @include span(8 of 12);
  @include first;
  .button-holder{
    @include clearfix;
  }
}

// TODO: FIX BELOW

#claim-accordion {
  h2 {
    @include core-19();
    margin-top: 0;
    color: $text-colour;
    background-color: $panel-colour;
    cursor: pointer;
    clear: both;
    border-top: 1px solid $border-colour;
    padding: 1em;
    &::before {
      content: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+Cjxzdmcgd2lkdGg9IjE2cHgiIGhlaWdodD0iMTZweCIgdmlld0JveD0iMCAwIDE2IDE2IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbG5zOnNrZXRjaD0iaHR0cDovL3d3dy5ib2hlbWlhbmNvZGluZy5jb20vc2tldGNoL25zIj4KICAgIDwhLS0gR2VuZXJhdG9yOiBTa2V0Y2ggMy4zLjMgKDEyMDgxKSAtIGh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaCAtLT4KICAgIDx0aXRsZT5UcmlhbmdsZSAyPC90aXRsZT4KICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPgogICAgPGRlZnM+PC9kZWZzPgogICAgPGcgaWQ9Ik1haW4tZmxvdyIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc2tldGNoOnR5cGU9Ik1TUGFnZSI+CiAgICAgICAgPGcgaWQ9IkNsYWltLWRldGFpbC0tLWNsb3NlZCIgc2tldGNoOnR5cGU9Ik1TQXJ0Ym9hcmRHcm91cCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTE0Ny4wMDAwMDAsIC00MDQuMDAwMDAwKSIgZmlsbD0iIzZGNzc3QiI+CiAgICAgICAgICAgIDxwb2x5Z29uIGlkPSJUcmlhbmdsZS0yIiBza2V0Y2g6dHlwZT0iTVNTaGFwZUdyb3VwIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxNTUuMDAwMDAwLCA0MTIuMDAwMDAwKSByb3RhdGUoOTAuMDAwMDAwKSB0cmFuc2xhdGUoLTE1NS4wMDAwMDAsIC00MTIuMDAwMDAwKSAiIHBvaW50cz0iMTU1LjM4MDk1MiA0MDQgMTYzIDQyMCAxNDcgNDIwICI+PC9wb2x5Z29uPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+');
      width: 16px;
      margin-right: 5px;
    }
    &::after {
      content: "Open";
      color: blue;
      text-decoration: underline;
      float: right;
    }
    &[aria-expanded="true"]{
      &::before {
        content: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+Cjxzdmcgd2lkdGg9IjE2cHgiIGhlaWdodD0iMTZweCIgdmlld0JveD0iMCAwIDE2IDE2IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbG5zOnNrZXRjaD0iaHR0cDovL3d3dy5ib2hlbWlhbmNvZGluZy5jb20vc2tldGNoL25zIj4KICAgIDwhLS0gR2VuZXJhdG9yOiBTa2V0Y2ggMy4zLjMgKDEyMDgxKSAtIGh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaCAtLT4KICAgIDx0aXRsZT5UcmlhbmdsZSAyIENvcHk8L3RpdGxlPgogICAgPGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M+CiAgICA8ZGVmcz48L2RlZnM+CiAgICA8ZyBpZD0iTWFpbi1mbG93IiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBza2V0Y2g6dHlwZT0iTVNQYWdlIj4KICAgICAgICA8ZyBpZD0iQ2xhaW0tZGV0YWlsLS0tT1BFTiIgc2tldGNoOnR5cGU9Ik1TQXJ0Ym9hcmRHcm91cCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTE0Ny4wMDAwMDAsIC03NzUuMDAwMDAwKSIgZmlsbD0iIzZGNzc3QiI+CiAgICAgICAgICAgIDxwb2x5Z29uIGlkPSJUcmlhbmdsZS0yLUNvcHkiIHNrZXRjaDp0eXBlPSJNU1NoYXBlR3JvdXAiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDE1NS4wMDAwMDAsIDc4My4wMDAwMDApIHJvdGF0ZSgtMTgwLjAwMDAwMCkgdHJhbnNsYXRlKC0xNTUuMDAwMDAwLCAtNzgzLjAwMDAwMCkgIiBwb2ludHM9IjE1NS4zODA5NTIgNzc1IDE2MyA3OTEgMTQ3IDc5MSAiPjwvcG9seWdvbj4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPg==');
        width: 16px;
      }
      &[aria-expanded="true"]::after {
        content: "Close"
      }
    }
  }

  div[aria-hidden="true"] {
    display: none;
  }

  .panel {
    padding-top: $gutter-half;
    padding-left: $gutter;
    padding-bottom: $gutter-half;
  }


  #claim-status {
    label.container {
      // @include span-columns(3);
      line-height: 4;
      text-align: center;
      border: 1px solid $black;
      margin-top: 1em;
    }
    .actions {
      float: right;
    }
  }

  .draft {
    background-color: $white;
    border: 1px solid $button-colour;
    color: $button-colour;
    padding: 0 0.5rem;
    position: relative;
    top: 1px;
    margin-right: 1em;
    font-size: 1em;
    line-height: 1.8;
    text-decoration: none;
  }
}

.currency {
  position: relative;
  padding-left: 1em;
  .currency-symbol {
    position: absolute;
    left: 0;
  }
}
