form {
  fieldset {
    &.error{
      border-left-width: 3px;
      .form-control{
        border-width: 2px;
      }
    }
    label {
      margin-top: 0;
    }
    &.spacer{
      margin: 20px 0 !important;
    }
  }
}



.dz-error-message{
  color: $error-colour;
}
//  label
label {
  .field_with_errors{
    border-left-width: 0;
  }
  &.form-label {
    @include clearfix;
  }
  .form-hint {
    margin-top:0;
  }
  + .form-group.inline {
    .block-label {
      margin-top:0;
    }
  }
}

.case-worker-reallocation{
  padding-bottom: 30px;

  .margin-spacer-sm{
    padding: 0;
    margin: 25px 0 0 25px;
  }
  .column-one-quarter{
    padding: 0;
  }
  .awesomplete{
    input{
      width: 88%;
    }
  }
}

//  input
input.form-control[type=text],
input.form-control[type=email],
input.form-control[type=tel],
input.form-control[type=password],
input.form-control[type=number]
{
  // @include span(8 of 12);
  @include first;
  @include core-19();
  &.short-input{
    @include span(4 of 12);
    margin-left: 0;
    float: none;
  }
  &.medium-input{
    @include span(6 of 12);
    margin-left: 0;
    float: none;
  }
  &.long-input{
    @include span(8 of 12);
    margin-left: 0;
    float: none;
  }
  &.search{
    @include span(9 of 12);
    @include first;
  }
}

select.form-control {
  @include span(6 of 12);
  .form-row & {
    @include full;
  }
}

textarea.form-control{
  width:100%;
}
// Search form
// button
button.search {
  margin-left: 5px;
}

.form-control:disabled {
  border-color: $grey-3;
  cursor: not-allowed;
}

.search-form {
  @extend .search-wrapper;
  .search-wrapper & {
    @include span(6 of 12);
    @include first;
  }
  > form {
    @include span(6 of 12);
    @include first;
    .search-wrapper & {
      width:100%;
    }
    & + div {
      @extend .claim-count;
    }
  }
}

.currency-indicator{
    display: inline-block;
    padding: 4px 12px;
    border-right: 0;
    background-color: $panel-colour;
    border-left: 2px solid $border-colour;
    border-top: 2px solid $border-colour;
    border-bottom: 2px solid $border-colour;
}

.pb8{
  padding-bottom:8px;
}
select.form-control {
  display: block;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+Cjxzdmcgd2lkdGg9IjE2cHgiIGhlaWdodD0iMTZweCIgdmlld0JveD0iMCAwIDE2IDE2IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbG5zOnNrZXRjaD0iaHR0cDovL3d3dy5ib2hlbWlhbmNvZGluZy5jb20vc2tldGNoL25zIj4KICAgIDwhLS0gR2VuZXJhdG9yOiBTa2V0Y2ggMy4zLjMgKDEyMDgxKSAtIGh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaCAtLT4KICAgIDx0aXRsZT5UcmlhbmdsZSAyIENvcHk8L3RpdGxlPgogICAgPGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M+CiAgICA8ZGVmcz48L2RlZnM+CiAgICA8ZyBpZD0iTWFpbi1mbG93IiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBza2V0Y2g6dHlwZT0iTVNQYWdlIj4KICAgICAgICA8ZyBpZD0iQ2xhaW0tZGV0YWlsLS0tT1BFTiIgc2tldGNoOnR5cGU9Ik1TQXJ0Ym9hcmRHcm91cCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTE0Ny4wMDAwMDAsIC03NzUuMDAwMDAwKSIgZmlsbD0iIzZGNzc3QiI+CiAgICAgICAgICAgIDxwb2x5Z29uIGlkPSJUcmlhbmdsZS0yLUNvcHkiIHNrZXRjaDp0eXBlPSJNU1NoYXBlR3JvdXAiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDE1NS4wMDAwMDAsIDc4My4wMDAwMDApIHJvdGF0ZSgtMTgwLjAwMDAwMCkgdHJhbnNsYXRlKC0xNTUuMDAwMDAwLCAtNzgzLjAwMDAwMCkgIiBwb2ludHM9IjE1NS4zODA5NTIgNzc1IDE2MyA3OTEgMTQ3IDc5MSAiPjwvcG9seWdvbj4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPg==') no-repeat right 5px center;
  padding-right: 25px;
}
.disbursement-group{
  .fee-vat{
    text-align: right;
  }
}
.mod-expenses,
.mod-graduated-fees,
.mod-fees{
  input.rate,
  input.amount,
  input.vat,
  input.total{
    width: 65%;
  }
}

.mod-expenses,
.mod-graduated-fees {
  .grid-row{
    .column-one-third.js-expense-reason,
    .column-one-third.js-expense-amount {
      padding-top:60px;
    }
  }
}

.mod-fees,
.mod-expenses,
.mod-graduated-fees{
  .govuk-legend{
    font-weight:normal;
  }
  .expense-cost{
    display:none;
  }

  .column-one-third{
    padding:0;
    width: 40%;
    &.condensed{
      // border: 1px solid blue;
      width: 20%;
      input.amount{
        width:70%;
      }
    }
  }
  .dates-wrapper{
    .column-one-third{
    padding:0;
    width: 33.33%;
    }
  }
  .expense-distance,
  .expense-hours,
  .js-expense-amount,
  .vat_amount_wrapper{
    text-align: right;
    input.form-control[type=text],
    input.form-control[type=email],
    input.form-control[type=tel],
    input.form-control[type=password],
    input.form-control[type=number]{
      float: none;
      text-align: right;
    }
  }

  .js-expense-reason-text{
    display: inline-block;
    margin-top: 10px;
  }

  .js-expense-reason-text,
  .js-expense-location,
  .js-expense-distance{
    .form-group{
      margin-bottom: 0;
    }
    input{
      width: 90%;
    }
  }
  select{
    &.form-control{
      width:90%;
      margin-left: 0;
    }
  }

  .form-group-year{
    input{
      width: 80%;
    }
  }
}

.misc-fee-group-wrapper{
  .fee-rate{
    float: right;
  }
}
.mod-fees{
  .form-control.js-misc-fee-case-numbers{
    width:100%;
  }
  @include clearfix;
  .fee-dates-row{
    margin-top: -65px;
    .form-label{
      margin-top: 40px;
    }
    .no-dates.form-hint {
      display: inline-block;
    }
  }
  .awesomplete{
    input{
      width: 100%;
    }
  }
  .fee-type{
    width: 60%;
  }

  .disbursement-type{
    width: 50%;
  }

  .fee-quantity,
  .fee-rate{
    width: 20%;
  }

  .js-interim-trialDates, .js-interim-retrialDates{
    .estimated_trial_length_wrapper,.retrial_estimated_length_wrapper {
      margin-top: 30px;
    }
  }

  .margin-spacer-lg{
    margin-top: 60px;
  }
  .margin-spacer-sm{
    margin-top: 30px;
  }
  .js-interim-feeTotal{
    .amount_wrapper{
      margin-top: 60px;
    }
  }
  .fee-quantity{
    &.js-interim-ppe{
      float:right;
      width: 32%;
      .form-group{
        margin-bottom: auto;
      }
    }
  }

  .fee-vat,
  .fee-quantity,
  .fee-amount,
  .fee-total,
  .fee-rate{
    text-align: right;
    input.form-control[type=text],
    input.form-control[type=email],
    input.form-control[type=tel],
    input.form-control[type=password],
    input.form-control[type=number]{
      float: none;
      text-align: right;
    }
  }

  .fee-rate{
    input.form-control{
      width: 65%;
    }
  }

  .fee-rate{
    input.form-control{
      width: 65%;
    }
  }

  .fee-rate{
    input.form-control{
      width: 65%;
    }
  }

  .fee-rate{
    input.form-control{
      width: 65%;
    }
  }

  .fee-total{
    float:right;
  }

  .dates-wrapper{
    font-size: 16px;
    line-height: 1.25;
    margin-top:0;
    .nested-fields{
      margin-top:0;
    }
  }

  .fee-date-remove{
    padding-top: 15px !important;
    text-align:right;
  }
}

.pound-wrapper {
  padding-left: 35px;
  position: relative;
  &:before {
    background-color: $panel-colour;
    border-left: 1px solid $border-colour;
    border-top: 1px solid $border-colour;
    border-bottom: 1px solid $border-colour;
    content: "\00a3";
    font-size: 19px;
    height: 34px;
    left: 0;
    line-height: 34px;
    padding: 1px 8px 0 8px;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    width: 18px;
  }
}

#determinations{
  th, td{
    text-align: right;
    width: 33.33%;
  }
  tr th:first-child, tr td:first-child{
    text-align: left;
  }
  .pound-wrapper{
    display: inline-block;
    input{
      display:block;
      width: 100%;
      text-align:right;
    }
  }
  .form-hint{
    font-size: inherit;
  }
}



.form-date {
  .form-group {
    label {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

label.form-date-spacing {
  padding-top: 60px;

  &.with-hint {
    padding-top: 30px;
  }
}

.expense-group {
  margin-bottom:$gutter;
}

.js-case-worker-list {
  .form-control {
      width: 100%;
    }
}

.form-row {
  @include container;
  margin-bottom:$gutter;
  .form-col {
    @include span(4 of 12);
    &.form-col-two-thirds {
      @include span(8 of 12);
    }
    &.form-col-one-half {
      @include span(6 of 12);
    }
    &:nth-child(1), &.first-col {
      @include first;
    }
    .form-control {
      width: 100%;
    }
  }
}


.new-claim-content{
  @include span(8 of 12);
  @include first;
  th{
    width: 50%;
  }
}
.new-claim-sidebar{
  // @include span(3 at 9 of 12);
  // @include last;
  a{
    display: inline-block;
    margin-bottom: $gutter-half;
  }
  .total{
    border-top: 1px solid $border-colour;
    margin-top: $gutter-half;
    margin-bottom: $gutter-half;
    padding-top: $gutter-half;
  }
}

.claim-confirmation{
  @include span(8 of 12);
  @include first;
  .button-holder{
    @include clearfix;
  }
}

// TODO: FIX BELOW


.currency {
  position: relative;
  padding-left: 1em;
  .currency-symbol {
    position: absolute;
    left: 0;
  }
}

.js-enabled {
  select.autocomplete {
    @include visually-hidden;
    width:1px !important;
  }
}

// This is needed for javascript in views/case_types/show.js.erb
.defendants.hide-dob {
  div.dob {
    display: none;
  }
}

// To ensure date fields are wide enough
.form-date input[type=number] {
  width: 100%;
}

.checklist{
  label.block-label{
    width: 77%;
  }
}


.field_with_errors, .dropdown_field_with_errors{
  // border-left: 3px solid $error-colour;
  // padding: 0 0 0 15px;

  .error{
    font-size: 16px;
    line-height: 1.25;
    font-weight: 400;
    text-transform: none;
    display: block;
    color: $error-colour;
    padding-left: 0;
    border:0;
    margin-right: 0;
    clear:both;
  }

  input, select, textarea{
    border: 2px solid $error-colour;
  }
}

.form-row .cssfix.field_with_errors{
  @include span(5 of 12);
  input.form-control[type=text].medium-input{
    @include span(8.5 of 12);
    float: none;
    margin-left:0;
  }
}

.fee-date-from, .fee-date-to{
  & > span > div:first-child{
  display: block;
  }
}

.js-callout-banner {
  border: 1px solid #2E2F30;
  padding: 20px;
  padding-bottom: 10px;
  margin-bottom: 50px;
  margin-right: 20px;
}


#warrant_fee{
  .warrant-amount{
    text-align: right;
    .column-quarter{
      float: right;
    }
  }
}

.fee-dates .field_with_errors{
  display: inline-block;
}