#global-header .header-wrapper {
  .header-global {
    @include span(4 of 12);
    .header-logo {
      width:auto;
      .content {
        margin-left:0;
      }
    }
  }
  .header-proposition {
    @include span(6 of 12);
  }
}

.mod-fees{
  .grid-row {
    .column-one-third,
    .column-one-half,
    .column-one-quarter{
      padding: 0;
    }
  }
}
select {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';

}

select::-ms-expand{
  display:none;
}

.block-label input{
  width: auto;
}