// Hide only visually, but have it available for screen readers:
// http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
@mixin visually-hidden {
  clip: rect(0, 0, 0, 0);
  overflow: hidden !important;
  position: absolute !important;
  opacity: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  width: 1px;
  height: 1px;
}

@mixin clearfix {
  zoom: 1;
  &:before, &:after {
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
  }
  &:after {
    clear: both;
  }
}
