.primary-nav-bar nav,
nav.pagination {
  @include container;
  padding:$gutter-half 0;
}
nav {
  &.pagination {
    ul {
      float:right;
    }
    a {
      border:none;
    }
  }
  ul {
    padding-left:0;
    &.primary-nav {
      @include span(8 of 12);
      @include first;
      padding-left: 0;
    }
    li {
      display: inline-block;
      list-style: none;
      &:first-child a{
        padding-left:0;
      }
      &:last-child a{
        margin-right:0;
        border-right:none;
        padding-right: 0;
      }
    }
    a {
      display: block;
      padding:0 $gutter-half/2;
      border-right: 1px solid $grey-3;
    }
  }
  .user_links {
    @include span(4 of 12);
    @include last;
    padding-right:0;
    ul {
      float:right;
      text-align: right;
    }
  }

}
