.primary-nav-bar nav,
nav.pagination {
  @include container;
  padding:$gutter-half 0;
}
nav {
  &.pagination {
    ul {
      float:right;
    }
    a {
      border:none;
    }
  }
  ul {
    padding-left:0;
    li {
      display: inline-block;
      list-style: none;
      &:first-child a{
        padding-left:0;
      }
      &.last a{
        margin-right:0;
        border-right:none;
        padding-right: 0;
      }
    }
    a {
      display: block;
    }
  }
}
.primary-nav-bar {
  a {
    padding:0 $gutter-half/2;
    border-right: 1px solid $grey-3;
  }
}

.fl-right{
  float:right;
}