.field_with_errors{
  .field_with_errors{
    border: none;
    padding:0;
  }
}

.search-wrapper {
  @include container;
  position: relative;
}
caption {
  @include container;
}
.table-caption {
  @include span(6 of 12);
  @include first;
}
.claim-count {
  @include span(6 of 12);
  @include last;
  text-align: right;
  font-weight: 400;
}

//Start a new claim

.expense-cost{
  legend{
    font-weight: normal;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  label{
    margin-top:0;
    margin-bottom:0;
  }
}

// ==========================================================================
// claim detail page

.financial-summary{
  @include span(8 of 12);
  @include first;
  div{
    @include span(6 of 12);
    &:first-child{
      @include first;
    }
    &:last-child {
      @include last;
    }
  }
  p{
    margin:0;
  }
}
.claims-actions {
  @include span(3 of 12);
  @include last;
}



// ==========================================================================
// Phase banner
.phase-banner {
  @include phase-banner(beta);
}

// ================================================================//
// claims-list.SCSS
// ================================================================//
#claims-list {
  margin: 0;
  padding: 0;
  li {
    padding: 0;
    list-style-type: none;
  }
}

#claims-list > li {
  background-color: $grey-4;
  clear: both;
  overflow: hidden;
  padding: 1rem;
  &:nth-child(even) {
    background-color: $grey-3;
  }

}
.case-data-headings {
  margin: 0;
  padding: 0;
   li {
    //  @include span-columns(4);
     list-style-type: none;
  }
}

a.detail-link {
  border: 1px solid $button-colour;
  color: $button-colour;
  padding: 0.5rem;
  text-decoration: none;
}

.claim-controls {
  .toggle {
    background-image: image-url("list-toggle.png");
    background-position: 0 -48px;
    cursor: pointer;
    display: inline-block;
    height: 24px;
    width: 42px;
    margin: 0 0 1em 2px;
    &.expanded {
      background-position: 0 0;
    }
  }
}

.status-indicator {
  width: 20px;
  height: 20px;
}


// ================================================================//
// claim-accordion.SCSS
// ================================================================//
form {
  .extra-margin {
    margin-left: 0.2em;
    margin-right: 0.2em;
  }

  .validation-error {
    display: block;
    clear: left;
    color: $error-colour;
  }

  h2 {
    margin-top: 1em;
  }

  fieldset {

    &.user-form {
      border-bottom: 0;
    }

    legend {
      font-weight: bold;
    }
    label {
      display: block;
      margin-top: 1em;
    }
  }

  textarea {
    width: 100%;
    font-size: 1em;
  }

  h2 + fieldset {
    margin-top: 0;
    padding-top: 0;
  }

  .nested-fields {
    margin-bottom: 1em;
  }


  .nested-fields {
    td, th {
      border-bottom: 0;
      border-top: 1px solid #bfc1c3;
    }

    &.extra-data {
      th, td {
        border-top: 0;
        border-bottom: 1px solid #bfc1c3;
      }
    }
  }



  input[type="file"] {
    // TODO: come up with some better colours for this

    &.has-file {
      border-color: green;
      color: $ministry-of-justice;
      font-weight: bold;
    }
  }
  .select2 {
    display: block;
  }
}

.warning {
  display: block;
  padding: 15px;
  color: red;
}

.field_with_errors {
  display:inline-block;
}

.remove-expense:first-child a {
  display: none;
}

.evidence-checklist div {
  float: left;
  margin-right: 10px;
  margin-top: 1em;
}

.defendants {
  .nested-fields .indent-fieldset {
    padding: 0;
    padding-left: $gutter-half;
  }
}

.controller-feedback fieldset {
  border: 0;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.controller-claims {
  .judicial-apportionment-notice{
    margin-top: $gutter-half;
    margin-bottom: $gutter-half;
  }
}

.inline-form {
  display: inline;
}

.indent-fieldset {
  border-left: 5px solid $border-colour;
  border-bottom: 0;
  padding-left: $gutter-half;
  padding-top: 5px;
  padding-bottom: 5px;
}

// ================================================================//
// DYNAMIC-OFFENCE-LIST.SCSS
// ================================================================//
/*
*  select2 prevents function of normal jQuery .hide()
*  and .show() functions - these classes are used as a
*  workaround.
*
*/

.hide-optgroup {
	display: none!important;
}

.show-optgroup {
	display: block!important;
}
// ================================================================//
// ADMIN.SCSS
// ================================================================//
.working-pattern {
  li {
    display: inline;
    &:first-child {
      border-left: 1px solid $black;
    }
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;
    border-right: 1px solid $black;
    padding-top: 0.3em;
    text-align: center;
    width: 15%;
    display: inline-block;
    background-color: $white;
    &.working-day{
      background-color: $grey-2;
    }
  }
}
// ================================================================//
// COMMMUNICATION-TOOL.SCSS
// ================================================================//
#messages {
  float: left;
  margin-bottom: 1em;
  width: 100%;
  .timeline {
    ul.days {
      padding: 0;
      &> li {
        padding-top: 1em;
        border-top: 1px solid $grey-2;
        list-style-type: none;
        margin: 1em 0 2em;
        h5 {
            width: 10em;
            margin: -2em auto 1em;
            text-align: center;
            background-color: white;
        }
        ul {
          margin: 0;
          padding: 0;
          .message-from,
          .message-time {
            padding: 0;
          }
          .time-ago {
            display: inline-block;
            padding-left: 0.5em;
            font-size: 0.75em
          }
        }
        li {
          float: left;
          width: 100%;
          padding: 15px;
          &:nth-child(even) {
            background-color: $grey-4;
          }
        }
      }
    }
  }
  form{
    min-height: 3em;
  }
}

// ================================================================//
// FLASH-NOTICES MESS
// ================================================================//
.flash {
  width: 66.667%;
  margin: auto;
  padding: 5px;
  font-weight: bold;
  &.notice {
    color: green;
  }
  &.alert {
    color: red;
  }
}
// ================================================================//
// TANDCS.SCSS
// ================================================================//
.tandcs {

  .section-title {
    font-weight: bold;
  }

  b {
    font-weight: bold;
  }

  ul {
    list-style-type: disc;
    padding-left: $gutter;
    ul {
      list-style-type: circle;
    }
  }

}
// ================================================================//
// certification.SCSS
// ================================================================//
.certification {
  ul, ol {
    list-style-type: initial;
  }
  li {
    margin-bottom: $gutter;
  }
  legend {
    font-weight: normal;
  }
  fieldset {
    border-bottom: 0;
    margin-bottom: 0;
  }
  strong {
    font-weight: bold;
  }
  .button-holder {
    margin-top: $gutter;
  }
}
// ================================================================//
// claims-table.SCSS
// ================================================================//


.totals {
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: right;
}

.filter-by-value {
  margin-left: 0.35em;
  margin-right: 0.35em;
}
// search form for tables
.search-form {
  legend{
    @include visually-hidden;
  }
  label {
    margin-top:0;
  }
  button {
    margin-bottom:0;
  }
  input.form-control[type=text]{
    @include first;
  }
}
// search result for tables when nothing exists
.search-summary .panel-indent{
  margin-top:0;
  margin-right:0;
}

/***************************************

Page specific styling for the Claims detail
page

***************************************/

.claim-header, .claim-detail-header {
  margin-bottom: $gutter-half;
}



/****************************************
Other Claim Navigation
****************************************/
.other-claims {
  background-color: $panel-colour;
  padding: 5px $gutter-half/2;
  border: 1px solid $border-colour;
}

.evidence-checklist-read-only {
  .selected {
    width: 16px;
    height: 16px;
    margin-right: 10px;
  }
}

.basic-info-row {
  // @extend .grid-row;
  margin-top: $gutter;
  margin-bottom: $gutter;
}

.certification-info-row {
  border: 1px solid $border-colour;
  padding: $gutter-half;
  margin-right: 0px;
  .confirmation-section & {
    margin-left: 0;
  }
}

.defendant-row {
  margin-left: -30px;
  .confirmation-section & {
    margin-left: -$gutter-half;
  }
}

.defendant-card {
  border: 1px solid $border-colour;
  padding: $gutter-half 10px $gutter-half $gutter-half;
  margin-top: $gutter-half;
  margin-bottom: $gutter-half;

  table {
    th {
      @include bold-16();
      padding: 5px;
    }
  }

  .title{
    margin-bottom: $gutter-half;
  }

  .judical_apportionment {
    margin-top: $gutter-half;
    margin-bottom: $gutter-half;
  }
}
/*********************************
Styling for Claims Messaging
*********************************/
.messages {
  .none {
    color: $border-colour;
  }
  .new-message {
    width: 26px;
    height: 26px;
    margin-left: 5px;
  }
  > * {
    vertical-align: middle;
  }
}

.messages-container {
  border: 1px solid $border-colour;
  margin-top: 1em;
  margin-bottom: 1em;
  overflow: hidden;
  .messages-list {
    min-height: 200px;
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 5px;
    margin-bottom: 1em;
    .single-date {
      text-align: center;
      legend {
        text-align: center;
        border: 1px solid $border-colour;
        padding-left: $gutter;
        padding-right: $gutter;
        padding-top: 5px;
        color: $secondary-text-colour;
        font-weight: bold;
        margin-bottom: $gutter-half;
      }
      .event-date {
        color: $green;
        border: 2px solid $green;
        border-radius: 0.5em;
        display: inline-block;
        margin-top: $gutter-half;
        margin-bottom: $gutter-half;
        padding: 5px 10px;
        font-weight: bold;
      }
    }
    .message-container {
      margin-bottom: 1em;
      margin-left: 1em;
      margin-right: 1em;
    }
    .message-body {
      padding: 5px 20px;
    }
    .message-left {
      .message-body {
        background-color: $grey-3;
        position: relative;
        text-align: left;
        border-radius: 0.5em 0.5em 0.5em 0.75em;
        &::after {
          content: "";
          position: absolute;
          left: -1.5em;
          bottom: 0;
          width: 1.5em;
          height: 1.5em;
          border-right: 1em solid $grey-3;
          border-bottom-right-radius: 1.75em 1.5em;
        }
      }
    }

    .message-right {
      .message-body {
        background-color: $panel-colour;
        position: relative;
        text-align: left;
        border-radius: 0.5em 0.5em 0.75em 0.5em;
        &::after {
          content: "";
          position: absolute;
          right: -1.5em;
          bottom: 0;
          width: 1.5em;
          height: 1.5em;
          border-left: 1em solid $panel-colour;
          border-bottom-left-radius: 1.75em 1.5em;
        }
      }
    }

    .message-audit {
      font-size: 80%;
      color: $secondary-text-colour;
      font-weight: bold;
      text-align: left;
      .sent {
        padding-right: 1.6em;
        text-align: right;
      }
    }
  }

  .messages-print-link {
    text-align: right;
    padding-right: 1em;
  }

  .message-status {
    position: relative;
    left: -9999px;

    .message-success {
      color: $green;
      font-weight: bold;
    }

    .message-error {
      color: $error-colour;
      font-weight: bold;
    }
  }
  .message-controls {
    padding: $gutter-half;
    border-top: 1px solid $border-colour;

    .upload-column {
      // @include grid-column( 1/7 );
      .upload-button {
        cursor: pointer;
        overflow: hidden;
        text-align: center;
        margin: 0;
        .file::-webkit-file-upload-button {
          // visibility: hidden;
        }
        input.file {
        }
      }
    }

    .message-column {
      margin:$gutter-half 0;
      input[type="text"] {
        width: 50%;
        padding: 2px 5px;
        @include core-19();
      }
      textarea {
        resize: vertical;
      }
    }

    .submit-column {
      // @include grid-column( 1/7 );
      .button-secondary {
        margin: 0;
        padding-left: $gutter;
        padding-right: $gutter;
        background-color: $link-hover-colour;
        color: $white;
        box-shadow: 0 2px 0 $link-colour;
        &:hover {
          background-color: $link-colour;
        }
      }
    }

    .file-to-be-uploaded {
      border-top: 1px solid $border-colour;
      padding-top: 15px;
      display: none;
      .filename {
        font-weight: bold;
      }
    }
  }

  .history {
    .event {
      color: $link-visited-colour;
      padding: 5px 10px;
      margin-bottom: 5px;
      margin-right: 1em;
      text-align: right;
      strong {
        font-weight: bold;
      }
      table {
        td {
          border-top: 1px solid $border-colour;
        }
      }
    }
  }
}

// ================================================================//
// claims-importer.SCSS
// ================================================================//
.claims-importer {

  &.has-errors {
    border-color: $red;
  }

  label {
    @include core-16;
  }
  .js-enabled & {
    input[type="file"],
    .no-file-selected [type="submit"] {
      @include visually-hidden;
    }
  }
  button.button-secondary {
    @include core-19;
  }
  .errors {
    margin-top: 5px;
    line-height: 1.2;
    color: $red;
  }
}

.importer-results {
  .results-body {
    padding: 20px;

    & + .results-body {
      margin-top: 10px;
    }
  }

  .import-success {
    border: 4px solid $green-50;
  }
}
// ================================================================//
// claims-importer.SCSS
// ================================================================//
.api-documentation {
  @include core-24();

  ul,
  ol {
    margin: 1em 0;
    padding-left: 1.1em;
  }

  h3 {
    font-size: 1.1em;
  }
}
// ================================================================//
// icons.SCSS
// ================================================================//
.search-icon {
  width: 16px;
  height: 16px;
}

.confirmation-header {
  background-color: $turquoise;
  color: $white;
  text-align: center;
  padding-top: $gutter * 2;
  padding-bottom: $gutter * 2;
  margin-bottom: $gutter;
}


.confirmation-tick {
  width: 36px;
  height: 36px;
}

.confirmation-section {
  h2 {
    margin-bottom: $gutter-half;
    margin-top: $gutter;
  }
}
.contact-us-footer {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 1em;
  border-top: 1px solid $border-colour;
  clear: both;
}
/*******************************************
########  ########   #######  ########  ########  #######  ##    ## ########
##     ## ##     ## ##     ## ##     ##      ##  ##     ## ###   ## ##
##     ## ##     ## ##     ## ##     ##     ##   ##     ## ####  ## ##
##     ## ########  ##     ## ########     ##    ##     ## ## ## ## ######
##     ## ##   ##   ##     ## ##          ##     ##     ## ##  #### ##
##     ## ##    ##  ##     ## ##         ##      ##     ## ##   ### ##
########  ##     ##  #######  ##        ########  #######  ##    ## ########

      ##  ######
      ## ##    ##
      ## ##
      ##  ######
##    ##       ##
##    ## ##    ##
 ######   ######
 Description: Dropzone js styling
*******************************************/
.dropzone {
  border: 2px dashed black;
  padding: 30px;
  // width: 100%;
  // min-height: 200px;
  margin-bottom: 20px;

  .arrow-icon::before {
    content: asset-data-url('icons/drag-drop-upload-ico.svg');
    float: right;
    width: 90px;
    height: 90px;
  }
  &.dz-drag-hover {
    border-color: $yellow;
    .drag-helptext::before {
      content: asset-data-url('icons/drag-drop-upload-hover-ico.svg');
      float: left;
      width: 90px;
      height: 90px;
    }
  }

  .drag-helptext {
    text-align: center;
    display: inline-block;
    &::before {
      content: asset-data-url('icons/drag-drop-upload-ico.svg');
      float: left;
      width: 90px;
      height: 90px;
    }
  }

  .button-secondary {
    margin: 0;
  }

  .dz-preview {
    border-top: 1px solid $border-colour;
    padding-top: $gutter-half;
    width: 100%;
    .dz-progress {
      width: 15em;
      display: inline-block;
      .dz-upload {
        background-color: $grass-green;
        display:inline-block;
        height: 15px;
        border-radius: 10px;
      }
      &.dz-success {
        .dz-success-mark {
          position: static;
        }
      }
    }
  }

  .file-info {
    font-size: 12px;
    color: $secondary-text-colour;
  }
}



.dz-success.dz-complete{
  .dz-progress{
    display: none;
  }
}


.btn-spacer-20{
  margin-right:20px;
}


@include media(desktop) {
  .btn-spacer-40{
    margin-right:40px;
  }
}

.right{
  float: right;
}

.b {
  font-weight: 700;
}
