.table-container {
  margin-top:$gutter-half;
  margin-bottom:$gutter;
}
table {
  width: 100%;
  margin-bottom: 1em;
  background-color: #fff;
  border-collapse: collapse;
  border-bottom: 1px solid $border-colour;
  caption {
    text-align: left;
  }
  tr {
    th,
    td {
      &:first-child{
        padding-left:$gutter-half/3;
      }
      &:last-child{
        padding-right:$gutter-half/3;
      }
    }
  }
  th {
    border-top: 1px solid $border-colour;
  }
  th,
  td {
    padding:$gutter-half/2 $gutter-half $gutter-half/2 0;
    border-right: none;
    border-left: none;
  }
  thead th {
    padding-top:$gutter-half;
    padding-bottom:$gutter-half;
  }
  tbody {
    tr:hover {
      background-color: $grey-4;
    }
    th {
      @include core-16;
      color:$text-colour;
      background: transparent;
    }
  }
}
