.table-container {
  margin-top:$gutter-half;
  margin-bottom:$gutter;
}
table {
  width: 100%;
  margin-bottom: 1em;
  background-color: #fff;
  border-collapse: collapse;
  // border-bottom: 1px solid $border-colour;
  border-top: 2px solid $border-colour;
  caption {
    @include core-19;
    font-weight:700;
    text-align: left;
    padding-bottom:$gutter-half/2;
  }

  tr {
    th,
    td {
      &:first-child{
        padding-left:$gutter-half;
      }
      &:last-child{
        padding-right:$gutter-half/3;
      }
    }
    &.no-border {
      th,
      td {
        border: none;
      }
    }
  }
  th,
  td {
    padding:$gutter-half/2 $gutter-half $gutter-half/2 0;
    border-right: none;
    border-left: none;
  }
  thead th {
    padding-top:$gutter-half;
    padding-bottom:$gutter-half;
  }
  tbody {
    tr:hover {
      background-color: $grey-4;
    }
    th {
      @include core-16;
      font-weight:700;
      color:$text-colour;
      background: transparent;
    }
  }
}
// ================================================================//
// statuses
// ================================================================//
span.state {
  display: block;
  text-align: center;
  padding:$gutter-half/3;
  border-width: 2px;
  border-style: solid;
  background: #fff;
  &.state-authorised {
    color: #00602b;
    border-color: #00602b;
  }
  &.state-allocated {
    color: #912b88;
    border-color: #912b88;
  }
  &.state-draft {
    color: #1d5780;
    border-color: #1d5780;
  }
  &.state-rejected,
  &.state-refused {
    color: #99181a;
    border-color: #99181a;
  }
  &.state-submitted {
    color: #52585a;
    border-color: #52585a;
  }
  &.state-redermination {
    color: #0b0c0c;
    border-color: #0b0c0c;
  }
  &.state-part-authorised {
    color: #1d5780;
    border-color: #54592f;
  }
}

.unique-id-small {
  color: #8c8e90;
  font-size: 12px;
}

#claim-accordion {
  .heading-medium{
    margin-bottom: 0;
  }
  .table-summary{
    th, td{
      vertical-align: top;
    }
    tr > th{
      width: 30%;
    }
  }
}