header.main-header {
  @include container;
  margin-bottom:$gutter;
  h1{
    @include span(8 of 12);
    @include first;
    @include heading-48;
    font-weight: 700;
  }

}
.sub-header{
  margin-bottom: $gutter-half;
}
.hgroup {
  h2{
    @include core-24;
    margin:0;
    color:$grey-1;
    font-weight:400;
  }
  .numerical-value{
    @include bold-36();
    display:block;
    color:$text-colour;
  }
}

.claim-hgroup{
  @include clearfix;
  .column-one-third{
    padding: 0;
  }
  margin-bottom: 10px;
  h1{
    @include first;
    @include media(desktop) {
      margin-left: 0;
    }
    @include core-19;
    padding-top: 0;
    display: inline-block;
    margin-left: 0;
  }
  .case-number-header{
    @include core-36();
    display: block;
    font-weight: 700;
  }
  .claim-status{
    @include span(7 of 12);
    @include media(desktop){
      // @include span(2 at 4 of 12);
    }
    @include core-19;
    display: block;
    margin-bottom: 10px;
    float:none;
  }
  .claim-detail-actions{
    @include last;
    @include media(mobile){
      @include first;
      margin-bottom: 10px;
    }
    @include core-19;
    .button, .button-secondary{
      margin-right: 5px;
    }

    .resubmit-claim{
      width: -moz-calc(216px);
      padding-left: -moz-calc(3px);
    }

    .action-wrapper{
      overflow: auto;
      a:first-child, .resubmit-claim{
        margin-right: 20px;
      }
    }
  }
}

.new-claim-content{
  h2{
    @include core-24;
    font-weight: 800;
    margin-top: $gutter;
  }
  h2 ~ h2 {
    margin-top: $gutter * 2;
  }
}
.new-claim-hgroup{
  border-top: 5px solid $link-colour;
  margin-top: 5px;

  h2{
    @include core-24;
    font-weight: 800;
    margin-top: $gutter-half;
  }
  h3{
    @include core-19;
    font-weight: 800;
  }
  .numeric{
    display: block;
    font-weight: normal;
  }
}

.error-summary,.notice-summary {
  @include span(8 of 12);
  @include first;
  float:none;
  h1{
    margin-top: 0;
    margin-bottom: 0;
  }
}
.notice-summary{
  @extend .error-summary;
  border-color: $button-colour;

}

.contact-us-details {
  li {
    line-height: 30px;

    &.last-element {
      margin-bottom: 40px;
    }
  }
}

.timed-retention-states {
  padding-left: 20px;

  li {
    list-style: disc inside;
    line-height: 30px;

    &.last-element {
      margin-bottom: 30px;
    }
  }
}
