header.main-header {
  @include container;
  margin-bottom:$gutter;
  h1{
    @include span(8 of 12);
    @include first;
    @include heading-48;
    font-weight: 700;
  }

}
.sub-header{
  margin-bottom: $gutter-half;
}
.hgroup {
  h2{
    @include core-24;
    margin:0;
    color:$grey-1;
    font-weight:400;
  }
  .numerical-value{
    @include bold-36();
    display:block;
    color:$text-colour;
  }
}

.claim-hgroup{
  @include clearfix;
  margin-bottom: 10px;
  h1{
    @include span(6 of 12);
    @include first;
    @include media(desktop) {
      @include span(4 of 12);
      margin-left: 0;
    }
    @include core-19;
    padding-top: 0;
    display: inline-block;
    margin-left: 0;
  }
  .case-number-header{
    @include core-36();
    display: block;
    font-weight: 700;
  }
  .claim-status{
    @include span(6 at 6 of 12);
    @include media(desktop){
      @include span(2 at 4 of 12);
    }
    @include core-19;
    display: block;
    margin-bottom: 10px;
  }
  .claim-detail-actions{
    @include span(5 of 12);
    @include last;
    @include media(mobile){
      @include span(8 of 12);
      @include first;
      margin-bottom: 10px;
    }
    @include core-19;
    .button, .button-secondary{
      margin-right: 5px;
    }

    .edit-claim, .resubmit-claim{
      float: left;
    }

    .archive-claim, .delete-draft{
      float:right;
    }

    .action-wrapper{
      // text-align: right;
    }
  }
}

.new-claim-content{
  h2{
    @include core-24;
    font-weight: 800;
    margin-top: $gutter;
  }
  h2 ~ h2 {
    margin-top: $gutter * 2;
  }
}
.new-claim-hgroup{
  border-top: 5px solid $link-colour;
  margin-top: 5px;

  h2{
    @include core-24;
    font-weight: 800;
    margin-top: $gutter-half;
  }
  h3{
    @include core-19;
    font-weight: 800;
  }
  .numeric{
    display: block;
    font-weight: normal;
  }
}

.error-summary,.notice-summary {
  @include span(8 of 12);
  @include first;
  float:none;
  h1{
    margin-top: 0;
    margin-bottom: 0;
  }
}
.notice-summary{
  @extend .error-summary;
  border-color: $button-colour;

}

.contact-us-details {
  li {
    line-height: 30px;

    &.last-element {
      margin-bottom: 40px;
    }
  }
}