- claims_scope = 'external_users.claims'
%p
  = t('.page_intro_html')


#misc-fees.mod-fees.fx-numberedList-wrapper
  .misc-fee-group-wrapper
    = f.fields_for :misc_fees do |misc_fee_fields|
      - @misc_fee_count += 1
      = render 'external_users/claims/misc_fees/misc_fee_fields', f: misc_fee_fields

  .form-group
    = link_to_add_association t('.add_misc_fee'), f, :misc_fees, partial: 'external_users/claims/misc_fees/misc_fee_fields', class: 'button button-secondary blue add_fields', data: {'association-insertion-method' => 'append', 'association-insertion-node' => '.misc-fee-group-wrapper'}
