- provider_advocates = @provider.advocates.sort_by(&:name_and_number)

- if provider_advocates.length >= 6
  = f.govuk_collection_select :external_user_id,
    provider_advocates,
    :id,
    :name_and_number,
    form_group: { class: ['fx-autocomplete-wrapper'] },
    label: { text: t('.advocate'),  class: "govuk-!-padding-top-7" },
    options: { include_blank: '' }

- else
  = f.govuk_collection_radio_buttons :external_user_id,
    provider_advocates,
    :id,
    :name_and_number,
    legend: { text: t('.advocate'), class: "govuk-!-padding-top-7" }

= govuk_detail t('.help_missing_advocates_summary_heading') do
  = t('.help_missing_advocates_summary_body_html',
    link: external_users_admin_external_users_path,
    link_text: t('.help_missing_advocates_summary_link_text'))
