= f.govuk_date_field :case_concluded_at,
  form_group: { id: 'case_concluded_at' },
  hint: { text: t('.date_hint') },
  legend: { text: t('.case_concluded_at'),  class: "govuk-!-padding-top-7" },
  maxlength_enabled: true

