- if @claim.hardship?
  - if @claim.agfs?
    = f.govuk_collection_select :case_stage_id,
      @case_stages.map { |cs| [cs.description, cs.id, { data: { 'is-fixed-fee': cs.is_fixed_fee?, 'requires-cracked-dates': cs&.requires_cracked_dates?, 'requires-retrial-dates': cs&.requires_retrial_dates?, 'requires-trial-dates': cs&.requires_trial_dates? } }] },
      :second,
      :first,
      form_group: { class: ['fx-autocomplete-wrapper'], id: 'cc-case-stage' },
      hint: { text:t('.agfs_stage_type_hint') },
      label: { text: t('.stage_type') },
      options: { include_blank: '' }

  - elsif @claim.lgfs?
    = f.hidden_field(:case_stage_id, value: @case_stages.first.id)

- else
  - if display_elected_not_proceeded_signpost?(@claim)
    = govuk_warning_text(text: t('.enp_signpost_contingency_html'))

  = f.govuk_collection_select :case_type_id,
    @case_types.map{ |ct| [ct.name, ct.id, { data: { 'is-fixed-fee': ct.is_fixed_fee?, 'requires-cracked-dates': ct&.requires_cracked_dates?, 'requires-retrial-dates': ct&.requires_retrial_dates?, 'requires-trial-dates': ct&.requires_trial_dates? } }] },
    :second,
    :first,
    form_group: { class: ['fx-autocomplete-wrapper'], id: 'cc-case-type' },
    hint: { text:t('.case_type_hint') },
    label: { text: t('.case_type') },
    options: { include_blank: '' }
