.london-rates{ id: 'london-rates' }
  = f.govuk_radio_buttons_fieldset :london_rates_apply, legend: { size: 'm', text: t('.london_rates_title') }, hint: { text: t('.london_rates_hint') } do
    = f.govuk_radio_button :london_rates_apply, true, label: { text: t('global_yes') }
    = f.govuk_radio_button :london_rates_apply, false, label: { text: t('global_no') }

