= label_tag t('.offence_class')
.form-hint.xsmall.zero-vert-margin
  &nbsp;<br/><br/>
- selected_offence = @claim.try(:offence) ? @claim.offence.id : (offences.count == 1 ? offences.first : nil)
= collection_select :offence_class, :description, offences, :id, :offence_class, options = { include_blank: true, selected: selected_offence }, html_options = { class: 'form-control autocomplete', disabled: offences.count == 1 }
