= f.govuk_radio_buttons_fieldset(:case_transferred_from_another_court, legend: { size: 'm', text: t('.case_transferred_from_another_court') }) do
  = f.govuk_radio_button :case_transferred_from_another_court, true, label: { text: t('global_yes') }, link_errors: true do
    = render partial: 'external_users/claims/case_details/transfer_court_fields', locals: { f: f }
  = f.govuk_radio_button :case_transferred_from_another_court, false, label: { text: t('global_no') }
