= f.govuk_collection_select :transfer_court_id,
  Court.alphabetical,
  :id,
  :name,
  form_group: { class: ['fx-autocomplete-wrapper'] },
  hint: { text: t('.transfer_court_hint') },
  label: { text: t('.transfer_court') },
  options: { include_blank: '' }

= f.govuk_text_field :transfer_case_number,
  hint: { text: t('.transfer_case_number_or_urn_hint') },
  label: { text: t('.transfer_case_number_or_urn') },
  width: 'one-half'
