-# div.js-typeahead select.fx-autocomplete
= f.govuk_collection_select :transfer_court_id,
  Court.alphabetical,
  :id,
  :name,
  label: { text: t('.transfer_court') },
  hint: { text:t('.transfer_court_hint') }

= f.govuk_text_field :transfer_case_number,
  label: { text: t('.transfer_case_number_or_urn') },
  hint: { text: t('.transfer_case_number_or_urn_hint') }
