---
http_interactions:
- request:
    method: post
    uri: https://ministryofjustice.zendesk.com/api/v2/tickets
    body:
      encoding: UTF-8
      string: '{"ticket":{"subject":"Feedback (test)","description":"task: 1\nrating:
        4\ncomment: lorem ipsum\nreason: [\"1\", \"2\"]\nother_reason: dolor sit","custom_fields":[{"id":"26047167","value":null},{"id":"23757677","value":"advocate_defence_payments"},{"id":"23791776","value":null},{"id":"32342378","value":"test"}],"comment":null}}'
    headers:
      Authorization:
      - Basic Og==
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Www-Authenticate:
      - Basic realm="Web Password"
      X-Zendesk-Origin-Server:
      - classic-app-server-79d6c5f89d-tgldp
      X-Zendesk-Zorg:
      - 'yes'
    body:
      encoding: UTF-8
      string: '{"error":"Couldn''t authenticate you"}'
  recorded_at: Tue, 11 Jul 2023 12:34:05 GMT
recorded_with: VCR 6.2.0
