---
http_interactions:
- request:
    method: post
    uri: https://api.eu.surveymonkey.com/v3/collectors/330142588/responses
    body:
      encoding: UTF-8
      string: '{"pages":[{"id":"25473840","questions":[{"id":"60742936","answers":[{"choice_id":"505487572"}]},{"id":"60742964","answers":[{"choice_id":"505488046"}]},{"id":"60742937","answers":[{"text":"This
        is great!"}]},{"id":"60745386","answers":[{"other_id":"505511338","text":"Something
        Else"}]}]}]}'
    headers:
      Authorization:
      - Bearer <SURVEY_MONKEY_BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-App-Global-Minute-Limit:
      - '120'
      X-Ratelimit-App-Global-Minute-Remaining:
      - '119'
      X-Ratelimit-App-Global-Minute-Reset:
      - '55'
      X-Ratelimit-App-Global-Day-Limit:
      - '500'
      X-Ratelimit-App-Global-Day-Remaining:
      - '480'
      X-Ratelimit-App-Global-Day-Reset:
      - '39175'
      Sm-Request-Id:
      - 1f98650a-58ad-4e95-bb07-5972199df069
      X-Oauth-Scopes-Granted:
      - surveys_write,surveys_read,collectors_write,collectors_read,responses_write,responses_read,responses_read_detail,contacts_write,contacts_read,users_read,groups_read,groups_write,workgroups_read,workgroups_write,workgroups_members_read,workgroups_members_write,roles_read,roles_write,workgroups_shares_read,workgroups_shares_write,webhooks_write,webhooks_read,library_read
      X-Oauth-Scopes-Available:
      - users_read,surveys_read,collectors_read,collectors_write,contacts_read,contacts_write,surveys_write,responses_read,responses_read_detail,responses_write,groups_read,groups_write,webhooks_read,webhooks_write,library_read,workgroups_read,workgroups_write,workgroups_members_read,workgroups_members_write,roles_read,roles_write,workgroups_shares_read,workgroups_shares_write
      X-Edge-Origin-Shield-Skipped:
      - '0'
    body:
      encoding: UTF-8
      string: '{"id":"14003372762","recipient_id":"","collection_mode":"default","response_status":"completed","custom_value":"","first_name":"","last_name":"","email_address":"","ip_address":"","logic_path":{},"metadata":{"respondent":{"user_agent":{"type":"number","value":143636.0},"language":{"type":"string","value":"en"}},"contact":{}},"page_path":[],"collector_id":"330142588","survey_id":"230307169","custom_variables":{},"edit_url":"https:\/\/eu.surveymonkey.com\/r\/?sm=TTYEK2CcZBXuDaHm5PsF3NkQiOuoZUuNvW2EGb3KTDDSQMtVhCtwPZuYaERB8gxu","analyze_url":"https:\/\/eu.surveymonkey.com\/analyze\/browse\/FqC_2F76PGiyhhSxq1WgD2qDdKlHukhiYUGRXPmeCU8d8_3D?respondent_id=14003372762","total_time":0,"date_modified":"2021-09-29T13:07:05+00:00","date_created":"2021-09-29T13:07:04+00:00","href":"https:\/\/api.eu.surveymonkey.com\/v3\/collectors\/330142588\/responses\/14003372762","pages":[{"id":"25473840","questions":[{"id":"60742936","answers":[{"choice_id":"505487572"}]},{"id":"60742964","answers":[{"choice_id":"505488046"}]},{"id":"60742937","answers":[{"tag_data":[],"text":"This
        is great!"}]},{"id":"60745386","answers":[{"other_id":"505511338","text":"Something
        Else"}]}]}]}'
  recorded_at: Wed, 29 Sep 2021 13:07:05 GMT
recorded_with: VCR 6.0.0
