= render partial: 'external_users/claims/supplier_number/fields', locals: { f: f }

= render partial: 'external_users/claims/case_details/fields', locals: { f: f }

= render partial: 'external_users/claims/buttons/continue', locals: { f: f, commit: 'commit_continue' }
