= render partial: 'external_users/claims/api_promo_banner', locals: { claim: @claim }

= render partial: 'external_users/claims/transfer_fee/detail_fields', locals: { f: f }

= render partial: 'external_users/claims/buttons/continue', locals: { f: f, commit: 'commit_stage_1' }
