%section#advonote
  %h4
    Communication tool
  .timeline
    %ul.days
      %li
        %h5
          Today
        %ul.messages
          %li
            .message-from
              Caseworker
            .message
              Bacon ipsum dolor amet venison dolor short ribs prosciutto dolore filet mignon, proident pork loin adipisicing mollit boudin occaecat voluptate frankfurter. Cupidatat irure in, pork culpa prosciutto cow strip steak ham hock. 
            .message-time
              Today
              .time-ago
                42 minutes ago
            %li
              .message-from
                Advocate
              .message
                Bacon ipsum dolor amet venison dolor short ribs prosciutto dolore filet mignon, proident pork loin adipisicing mollit boudin occaecat voluptate frankfurter. Cupidatat irure in, pork culpa prosciutto cow strip steak ham hock. 
              .message-time
                Today
                .time-ago
                  5 hours ago
      %li
        %h5
          April
        %ul.messages
          %li
            .message-from
              Caseworker
            .message
              Bacon ipsum dolor amet venison dolor short ribs prosciutto dolore filet mignon, proident pork loin adipisicing mollit boudin occaecat voluptate frankfurter. Cupidatat irure in, pork culpa prosciutto cow strip steak ham hock. 
            .message-time
              29 April
              .time-ago
                5 days ago
            %li
              .message-from
                Advocate
              .message
                Bacon ipsum dolor amet venison dolor short ribs prosciutto dolore filet mignon, proident pork loin adipisicing mollit boudin occaecat voluptate frankfurter. Cupidatat irure in, pork culpa prosciutto cow strip steak ham hock. 
              .message-time
                29 April
                .time-ago
                  5 days ago

    %form
    %textarea{placeholder: 'Type a message'}
    %button.button
      Submit

