%section
  %form#claim-status
    %div
      %label
        Paid in full
      %label
        Part paid
      %label
        Not paid

    %textarea{placeholder: 'Reason / description', disabled: true}
