
= f.label :offence_class

= f.collection_select :offence_class_id,
                      OffenceClass.all,
                      :id,
                      :letter_and_description,
                      options = { prompt: ' -- Please select offence class to filter offences -- ' },
                      html_options = { class: 'select2' }

= f.label :offence_category

= f.grouped_collection_select :offence_id,
                              OffenceClass.includes(:offences),
                              :offences,
                              :letter_and_description,
                              :id,
                              :description,
                              options = { prompt:  ' -- Please select offence category (based on class above) -- ' },
                              html_options = {  class: 'select2' }