.nested-fields
  %table#evidence-checklist
    %thead
      %tr
        %th
          Description
        %th
          Provided
    %tbody
    = f.collection_check_boxes :evidence_list_item_ids, EvidenceListItem.all.order(item_order: :asc), :id, :description do |b|
      %tr
        %td
          = b.label
        %td
          = b.check_box
