%p
  If you don't provide enough evidence, your claim may be rejected.
= f.collection_check_boxes :evidence_checklist_ids, DocType.all, :id, :name do |b|
  %div
    = b.label(class: "block-label") {b.check_box + b.text}
