= form_for [:advocates, @json_document_importer], html: {multipart: true}, remote: true do |f|
  = f.label nil, 'Import Claim', {class: "bold-normal", for:"json_file"}
  = f.file_field :json_file
  = f.submit 'Upload', class: "button button-secondary"
%div#errors
