%section 
  //= @claim.inspect
  %h3
    MAAT123456
  %ul#representation-order
    %li
      %div
        %h3
          Preview
        %a
          View full screen
    %li
      %div
        %h3
          Download
        %a
          Download PDF
    %li
      %div
        %h3
          Upload
        %form
          %input{type: 'file'}