%section 
  %ul#evidence-list
    - @claim.defendants.each do |defendant|
      %li 
        Representation order for defendant:
        = defendant.name
        .item-controls
          = link_to 'View', representation_order_path(defendant.representation_order), target: '_blank', class: 'view'
          = link_to 'Download', download_representation_order_path(defendant.representation_order), class: 'download'
