= form_tag advocates_claims_path, method: :get do
  = text_field_tag :search, params[:search], placeholder: t('common.search')
  - if current_user.persona.admin?
    = select_tag :search_field, options_for_select(@search_options, params[:search_field])
  = submit_tag t('common.search'), class: 'button'