%ul#payments
  %li
    %div 
      %h3
        Total Outstanding Claims:
      = number_to_currency(claims_summary.total_outstanding_claim_value)

  %li
    %div 
      %h3
        Total Authorised Claims:
      = number_to_currency(claims_summary.total_authorised_claim_value)
