%br Total Outstanding Claims:

#outstanding_claims
  = number_to_currency(claims_summary.total_outstanding_claim_value)

%br Total Authorised Claims:

#authorised_claims
  = number_to_currency(claims_summary.total_authorised_claim_value)
