%h1.page-title
  Authorised Claims

%h2
  = @claims.length
  claims with a total assessed value of
  = number_to_currency(@total_value)

#details
  = render partial: 'claims', locals: { claims: @claims }
