%h1
  Thank you for submitting your claim!

%p
  Your claim will be processed shortly

%p
  = link_to 'File another claim', new_advocates_claim_path, class: 'button'
  &nbsp;
  or
  &nbsp;
  = link_to 'View your claims', advocates_root_url, class: 'button'
