%h1 Claims

%p
  = link_to 'New Claim', new_advocates_claim_path, class: 'button'

%hr

%h2 Claims
- if @claims.none?
  %p No claims found
- else
  %table
    %thead
      %th
        Created at
      %th
        Status
      %th
        Actions
    %tbody
    - @claims.each do |claim|
      %tr{id: dom_id(claim)}
        %td
          = link_to claim.created_at.strftime('%d/%m/%Y %H:%M'), advocates_claim_path(claim)
        %td
          = claim.state.capitalize
        %td
          = link_to 'Edit', edit_advocates_claim_path(claim)
