%h1 Claims

%p
  = link_to 'New Claim', new_advocates_claim_path, class: 'button'

%hr

%h2 Claims
- if @claims.none?
  %p No claims found
- else
  %ul
    - @claims.each do |claim|
      %li
        = link_to claim.created_at, advocates_claim_path(claim)
