- cracked_trial_detail_translations = 'external_users.claims.case_details.cracked_trial_fields'
%tr
  %th{scope: "col"}
    = t("external_users.claims.case_details.case_concluded_date.case_concluded_at")
  %td
    = claim.case_concluded_at