- cracked_trial_detail_translations = 'external_users.claims.case_details.cracked_trial_fields'

= govuk_summary_list_row_collection(t('external_users.claims.case_details.case_concluded_date.case_concluded_at')) do
  = claim.case_concluded_at
