.js-callout-banner
  - present(claim.last_state_transition) do |transition|
    = govuk_warning_text transition.reason_header

    %ul.govuk-list.govuk-list--bullet
      -transition.reason_descriptions do |description|
        %li
          = description
