- defendant_count = 0
- defendants.each_slice(2) do |(defendant_left, defendant_right)|

  .grid-row.defendant-row
    .column-half
      = render partial: 'shared/claim_defendant_details', locals: {defendant: defendant_left, index: defendant_count += 1 }

    .column-half
      - if defendant_right
        = render partial: 'shared/claim_defendant_details', locals: {defendant: defendant_right, index: defendant_count += 1 }
      - else
        &nbsp;
