.basic-info-row
  .column-half
    .b
      = t('common.transfer_detail_summary')
    = claim.transfer_detail_summary
  .column-half
    .b
      = t('common.transfer_date')
    = claim.transfer_date
