- cracked_trial_detail_translations = 'external_users.claims.case_details.cracked_trial_fields'
.basic-info-row
  .column-quarter
    .bold-xsmall
      = t("external_users.claims.case_details.case_concluded_date.case_concluded_at")
    .xsmall
      = claim.case_concluded_at
  .column-quarter
    .bold-xsmall
    .xsmall
  .column-quarter
    .bold-xsmall
    .xsmall
  .column-quarter
    .bold-xsmall
    .xsmall
