- defendants.each_with_index do | defendant, index |
  .govuk-grid-column-one-half
    = render partial: 'shared/claim_defendant_details', locals: { defendant: present(defendant, @defendant_presenter), index: index += 1 }
