- retrial_i18n_scope = %i[external_users claims case_details retrial_detail_fields]

= govuk_summary_list do |summary_list|
  - summary_list.with_row do |row|
    - row.with_key(text: t('retrial_started_at', scope: retrial_i18n_scope))
    - row.with_value { claim&.retrial_started_at&.strftime(Settings.date_format) }

  - summary_list.with_row do |row|
    - row.with_key(text: t('retrial_estimated_length', scope: retrial_i18n_scope))
    - row.with_value { claim&.retrial_estimated_length }

  - summary_list.with_row do |row|
    - row.with_key(text: t('retrial_actual_length', scope: retrial_i18n_scope))
    - row.with_value { claim&.retrial_actual_length }

  - summary_list.with_row do |row|
    - row.with_key(text: t('retrial_concluded_at', scope: retrial_i18n_scope))
    - row.with_value { claim&.retrial_concluded_at&.strftime(Settings.date_format) }

  - summary_list.with_row do |row|
    - row.with_key(text: t('retrial_reduction', scope: retrial_i18n_scope))
    - row.with_value { claim&.retrial_reduction? ? 'Yes' : 'No' }
