.basic-info-row
  .column-half
    .bold-xsmall
      = t('common.transfer_detail_summary')
    .xsmall
      = claim.transfer_detail_summary
  .column-half
    .bold-xsmall
      = t('common.transfer_date')
    .xsmall
      = claim.transfer_date
