.grid-row.history
  .column-third
    &nbsp;
  .column-two-thirds
    .message-right.event
      .message-container
        .message-body
          = determination.event
          %table{summary: t('.summary')}
            %caption.visuallyhidden
              = t('.caption')
            - determination.itemise do |item, amount|
              %tr
                %th{scope: 'row'}
                  #{item}:
                %td{scope:'col'}
                  #{number_to_currency(amount)}
