%fieldset#claim-status
  = "Current status: #{claim.state.humanize}"

  %table#determinations
    %thead
      %tr
        %th.numerical{colspan: 2, scope: 'col'} Claimed by advocate
        %th.numerical{ scope: 'col'} Total authorised by LAA
    %tbody
      - if claim.redeterminations.any?
        = render partial: 'shared/determination_amounts', locals: { claim: claim, determination: claim.redeterminations.last }
      - else
        = render partial: 'shared/determination_amounts', locals: { claim: claim, determination: claim.assessment }
