#claim-status
  %h3.indent-sides= "Current status: #{claim.state.humanize}"

  %table#determinations.indent-sides
    %thead
      %tr
        %th.numeric{colspan: 2, scope: 'col'} Claimed by advocate
        %th.numeric{ scope: 'col'} Total authorised by LAA
    %tbody
      - if claim.redeterminations.any?
        = render partial: 'shared/determination_amounts', locals: { claim: claim, determination: claim.redeterminations.last }
      - else
        = render partial: 'shared/determination_amounts', locals: { claim: claim, determination: claim.assessment }
