%h3.heading-small
  = t('disk_evidence.help_sending_evidence')

%p
  = t('disk_evidence.hint')

%p
  = t('disk_evidence.hint_html', link: new_external_users_claim_disc_evidence_coversheets_path(@claim))

= render partial: 'external_users/claims/supporting_documents/laa_address', locals: { f: f }
