- if display_downtime_warning?
  .govuk-notification-banner{'aria-labelledby': 'govuk-notification-banner-title', 'data-module': "govuk-notification-banner", role: 'region'}
    .govuk-notification-banner__header
      %h2#govuk-notification-banner-title.govuk-notification-banner__title
        = t('.banner_title')
    .govuk-notification-banner__content
      %h3.govuk-notification-banner__heading
        = t('.banner_heading', date_string: Settings.downtime_warning_date.to_date.strftime("%d %B %Y"))
      %p.govuk-body
        = t('.banner_paragraph')
