#evidence-checklist-read-only
  - if current_user.persona.is_a? Advocate 
    %p
      Please note that if insufficient documentary evidence is provided your claim may be rejected, slowing the claim process and any eventual payment.
  - if current_user == @claim.advocate.user && @claim.editable?
    = link_to 'Edit', "#{edit_advocates_claim_path(@claim)}#evidence-checklist"
  - if @claim.evidence_checklist_ids.empty?
    %p
      No documentary evidence specified as having been provided.
  - else
    %p
      Author has specified that the following documentary evidence has been provided:
      %ul#evidence-checklist
        - DocType.find_by_ids(@claim.evidence_checklist_ids).each do |dt|
          %li
            = dt.name
    %p