.evidence-checklist-read-only.grid-row
  - if @claim.disk_evidence?
    %h3.heading-medium
      Please send evidence to the following address:
    = render partial: 'external_users/claims/supporting_documents/laa_address', locals: { f: @claim }

  %h3.heading-medium
    = "Supporting evidence checklist"
  - if current_user.persona.is_a? ExternalUser
    %p.form-hint
      If you don't provide enough evidence, your claim may be rejected.

  - if @claim.evidence_checklist_ids.empty?
    %p
      No documentary evidence specified as having been provided.
  - else
    %ul
    - DocType.find_by_ids(@claim.evidence_checklist_ids).each do |dt|
      %li
        = dt.name
