- if @claim.disk_evidence?
  .evidence-checklist-read-only
    %h3.govuk-heading-m
      = t('.evidence_address')
    = render partial: 'external_users/claims/supporting_documents/laa_address', locals: { f: @claim }

    - unless @claim.evidence_checklist_ids.empty?
      = render partial: 'shared/supporting_evidence_checklist', locals: { f: @claim }
