.messages-container
  .messages-list
    = render partial: 'shared/message_list', locals: {claim: @claim }
  .message-status
    = "Status:"
    %span.message-success
    %span.message-error
  - if (current_user.persona.is_a?(CaseWorker) || (current_user.persona.is_a?(Advocate) && @message.claim.rejected? == false && @message.claim.draft? == false)) && @message.claim.archived_pending_delete? == false
    .js-controls.message-controls{"data-auth-url" => current_user.persona.is_a?(CaseWorker) ? show_message_controls_case_workers_claim_path(@claim) : show_message_controls_advocates_claim_path(@claim) }
      = render partial: "shared/message_controls", locals: {message: @message }
