.govuk-grid-row.message{ id: dom_id(message) }

  - if message.sender_is_a?(ExternalUser)
    .govuk-grid-column-two-thirds
      .message-left
        -# .message-container
        -#   .message-body
        -#     = message.body
        -#     .message-audit
        -#       = message.sender_name
        -#       = message.timestamp
        = render partial: 'shared/message_body', locals: { message: }

    .govuk-grid-column-one-third
      &nbsp;

  - if message.sender_is_a?(CaseWorker)
    .govuk-grid-column-one-third
      &nbsp;
    .govuk-grid-column-two-thirds
      .message-right
        -# .message-container
        -#   .message-body
        -#     = message.body
        -#     .message-audit
        -#       = message.sender_name
        -#       = message.timestamp
        = render partial: 'shared/message_body', locals: { message: }
