.govuk-grid-row.message{ id: dom_id(message) }

  - if message.sender_is_a?(ExternalUser)
    .govuk-grid-column-two-thirds
      .message-left
        = render partial: 'shared/message_body', locals: { message: }

    .govuk-grid-column-one-third
      &nbsp;

  - if message.sender_is_a?(CaseWorker)
    .govuk-grid-column-one-third
      &nbsp;
    .govuk-grid-column-two-thirds
      .message-right
        = render partial: 'shared/message_body', locals: { message: }
