%h2.govuk-heading-l{ class:'govuk-!-static-margin-bottom-6'}
  = t('.h2_defendant_details')

- if claim.defendants.any?
  - claim.defendants.each_with_index do | defendant, index |
    - if @show_maat_details
      = render partial: 'shared/new_claim_defendant_details_with_maat', locals: { defendant: present(defendant, CaseWorkers::DefendantPresenter), index: index += 1 }
    - else
      = render partial: 'shared/new_claim_defendant_details', locals: { defendant: present(defendant, CaseWorkers::DefendantPresenter), index: index += 1 }
- else
  = govuk_summary_card(t('.h2_defendant_details'), t('.no_defendant'))
