.govuk-summary-list__row.summary-page-table-two-row
  %dt.govuk-summary-list__key
    = t('external_users.claims.case_details.case_concluded_date.case_concluded_at')
  %dd.govuk-summary-list__value
    = claim.case_concluded_at
