.govuk-summary-card
  .govuk-summary-card__title-wrapper
    %h2.govuk-summary-card__title
      = t('shared.new_claim_accordion.additional_information')

  .govuk-summary-card__content
    .govuk-summary-list
      %dl.govuk-summary-list__row
        = format_multiline(claim.additional_information)



