-# AGFS fees accordion content
- present(@claim) do |claim|
  - if claim.fees_total == 0
    = govuk_summary_card(title: t('common.fees')) do
      - summary_list.with_row do |row|
        = row.with_value(title: t('shared.summary.no_values.fees'))
  - else
    = render partial: 'shared/new_agfs_fee_details', locals: { claim: claim }

  - if claim.final? && claim.interim_claim_info.present?
    = render partial:'shared/new_warrant_fees_details', locals: { claim: claim }
