.govuk-summary-card
  .govuk-summary-card__title-wrapper
    %h2.govuk-summary-card__title
      = t('shared.claim_information.additional_information')

  .govuk-summary-card__content
    = format_multiline(claim.additional_information)
