- present(claim.interim_claim_info) do |info|
  - if info.warrant_fee_paid?
    = govuk_summary_card(title: t('.fields.warrant_fee'), classes: 'govuk-visually-hidden') do |card|
      = t('.fees.caption')

      = govuk_summary_list do |summary_list|
        - summary_list.with_row do |row|
          - row.with_key(text: t('.fields.date_issued') )
          - row.with_value(text: info.warrant_issued_date.strftime('%d %B %Y'))

        - summary_list.with_row do |row|
          - row.with_key(text: t('.fields.date_executed'))
          - row.with_value(text: info.warrant_executed_date.strftime('%d %B %Y'))
