.phase-banner
  %p
    %span
      This is a new service – your
      = link_to content_tag(:span, 'Give your ', class: 'visuallyhidden') + "feedback", new_feedback_path, target: '_blank'
      will help us to improve it.
      You can
      = link_to "report a fault here.", new_feedback_path(type: 'bug_report'), target: '_blank'
