= govuk_table do |table|
  - table.with_caption(size: 's', text: 'Details from MAAT (beta)')

  - table.with_body do |body|
    - body.with_row do |row|
      - row.with_cell(header: true, text: 'Case number')
      - row.with_cell(text: representation_order.maat_details[:case_number])
