.grid-row.history
  .column-one-third
    &nbsp;
  .column-two-thirds
    .message-right
      .message-container
        .message-body
          %p
            = claim_state_transition.transition_message
          .message-audit
            = claim_state_transition.audit_users
            = claim_state_transition.timestamp


