.panel.panel-border-narrow
  .form-section.defendants
    %fieldset
      - @collection = f.object.lgfs_supplier_numbers.present? ? f.object.lgfs_supplier_numbers : [f.object.lgfs_supplier_numbers.build]
      = f.fields_for :lgfs_supplier_numbers, @collection do |snf|
        = render partial: 'shared/supplier_number_fields', locals: { f: snf, collection: @collection }
  .form-section.form-actions
    = link_to_add_association t('.add_supplier'), f, :lgfs_supplier_numbers, partial: 'shared/supplier_number_fields', render_options: { locals: { collection: @collection } }, class: 'button button-secondary blue'
