.form-group.supplier-number-group
  = f.label :supplier_number, class: 'form-label'
  = f.text_field :supplier_number, class: 'form-control'

  = link_to_remove_association t('.remove'), f, { wrapper_class: 'supplier-number-group' }