
%section#vat-report{"data-vat-url" => vat_path(format: :json), 'data-submitted-date' => claim.vat_date(:db)}
  %h2.heading-xlarge VAT

  %table
    %thead
      %th = t('.tax_date')
      %th = t('.vat_rate')
      %th = t('.net_total')
      %th = t('.vat_amount')
    %tbody
      %tr
        %td
          %span.vat-date= claim.vat_date
        %td
          %span.vat-rate= claim.pretty_vat_rate
        %td
          %span.vat-total= claim.total
        %td
          %span.vat-amount= claim.vat_amount
