- unless claim.fixed_fee_case?
  .form-section
    = render partial: 'shared/summary/summary_fees', locals: { claim: claim, header: t('.header'), fee: claim.graduated_fee, editable: editable, section: section, step: :graduated_fees }
