= render partial: 'errors/error_summary', locals:{ ep: @external_user.user, error_summary: t('.prohibited_save')}

= render partial: 'layouts/header', locals: {page_heading: t('.edit_advocate')}

.body-content
  = render 'form'
