= render partial: 'errors/error_summary', locals:{ ep: @external_user, error_summary: t('.prohibited_save')}

= render partial: 'layouts/header', locals: {page_heading: t('.new_advocate')}

= render 'form'
