#miscellaneous-fees-section.app-summary-section
  = render partial: 'summary_fees', locals: misc_fees_summary_locals(claim, editable: editable, section: section)

  - if claim.requires_interim_claim_info?
    = render partial: 'shared/summary/interim_claim_info/summary', locals: { claim: claim }
