//=require dropzone/basic

// advocates

$table-th-colour: #d8d8d8;

/****************************
Messaging - Colours
****************************/
$message-history-text: #4C2C92;
$left-message-colour: #ccdbf1;
$read-text: #444444;
$date-text: #006435;
$date-border-colour: $date-text;
$status-text: #6F777B;

@import "../imports";
@import "report-options";
@import "dropzonejs";

.contact-us-footer {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 1em;
  border-top: 1px solid $border-colour;
  clear: both;
}
