//= require dropzone/basic

// advocates

$laa-gray:#bdbbbb;
$laa-green: #006d55;

$body-bg:#F6F6F6;
$list-item-bg:#fff;
$table-th-colour: #d8d8d8;
$section-colour: #0055b8;
$section-highlight-colour: #009ac7;
$navbar-text:#fff;
$sidebar-bg:#fff;

@import "../imports";
@import "claims-table";
@import "report-options"
