.claims_table{
  border-collapse: collapse;
    tr{
      border-bottom: 1px solid #fff;
      overflow: hidden;
      &:nth-child(even){
        background-color: $grey-4;
      }
      &.rejected{
        background-color: #FAEBEC;
        border-left: 5px solid #DF3034;
      }
    }

  /*  th,td{
      border-left: 1px solid #979797;
      border-right: 1px solid #979797;
    }*/
    th{
      @include bold-16();
      text-align: left;
      background-color: $table-th-colour;
      color: $link-colour;
    }
    .currency{
      text-align: right;
    }
    .message{
      @include bold-16();
      display: inline-block;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      line-height: 25px;
      text-align: center;
      color: $page-colour;
      background-color: $grey-1;
      &.new{
        background: $turquoise;
      }
    }
}
