%h1.govuk-heading-xl
  =t('.text')
%h2.govuk-heading-m
  =t('.disable_message')
.govuk-button-group
  = govuk_link_button_warning(t('.disable_user'), disable_provider_management_provider_external_user_path(@provider, @external_user))
  = govuk_link_to(t('.cancel_button'), provider_management_provider_external_user_path(@provider, @external_user))




