%h1.govuk-heading-xl
  =t('.page_title')
%h2.govuk-heading-m
  =t('.enable_message', external_user: @external_user.name)
.govuk-button-group
  = govuk_link_button(t('.enable_user'), enable_provider_management_provider_external_user_path(@provider, @external_user))
  = govuk_link_to(t('.cancel_button'), provider_management_provider_external_user_path(@provider, @external_user))
