%section
  = render partial: 'layouts/header', locals: {page_heading: 'The service is unavailable'}

  %p This service is temporarily unavailable right now, we are carrying out maintenance work.
  %p
    You can try again later or email us on
    %a{:href => "mailto:crowncourtdefence@digital.justice.gov.uk"}crowncourtdefence@digital.justice.gov.uk
