#transfer-fees-section.form-section
  = render partial: 'shared/summary/summary_fees', locals: { claim: claim, header: t('.header'), fee: claim.transfer_fee, editable: editable, section: section, step: :transfer_fees }
