---
http_interactions:
- request:
    method: get
    uri: https://laa-fee-calculator.service.justice.gov.uk/api/v1/fee-schemes/?case_date=2022-09-30&main_hearing_date=2022-09-30&type=AGFS
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":1,"next":null,"previous":null,"results":[{"id":7,"start_date":"2022-09-30","end_date":"2023-01-31","earliest_main_hearing_date":null,"type":"AGFS","description":"AGFS
        Fee Scheme 13 (2022-09 - CLAIR)"}]}'
  recorded_at: Sat, 29 Oct 2022 23:00:00 GMT
- request:
    method: get
    uri: https://laa-fee-calculator.service.justice.gov.uk/api/v1/fee-schemes/7/scenarios/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":16,"next":null,"previous":null,"results":[{"id":1,"name":"Discontinuance","code":"AS000001"},{"id":2,"name":"Guilty
        plea","code":"AS000002"},{"id":3,"name":"Cracked trial","code":"AS000003"},{"id":4,"name":"Trial","code":"AS000004"},{"id":5,"name":"Appeal
        against conviction","code":"AS000005"},{"id":6,"name":"Appeal against sentence","code":"AS000006"},{"id":7,"name":"Committal
        for sentence","code":"AS000007"},{"id":8,"name":"Contempt","code":"AS000008"},{"id":9,"name":"Breach
        of crown court order","code":"AS000009"},{"id":10,"name":"Cracked before retrial","code":"AS000010"},{"id":11,"name":"Retrial","code":"AS000011"},{"id":47,"name":"Warrant
        issued - trial","code":null},{"id":51,"name":"Warrant issued - appeal against
        conviction","code":null},{"id":52,"name":"Warrant issued - appeal against
        sentence","code":null},{"id":53,"name":"Warrant issued - committal for sentence","code":null},{"id":54,"name":"Warrant
        issued - breach of crown court order","code":null}]}'
  recorded_at: Sat, 29 Oct 2022 23:00:00 GMT
- request:
    method: get
    uri: https://laa-fee-calculator.service.justice.gov.uk/api/v1/fee-schemes/7/prices/?advocate_type=JUNIOR&fee_type_code=AGFS_APPEAL_CON&limit_from=1&offence_class=17.1&scenario=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":1,"next":null,"previous":null,"results":[{"id":192838,"scenario":5,"advocate_type":"JUNIOR","fee_type":8,"offence_class":null,"scheme":7,"unit":"DAY","fee_per_unit":"380.00000","fixed_fee":"0.00000","limit_from":1,"limit_to":30,"modifiers":[{"limit_from":2,"limit_to":null,"fixed_percent":"0.00","percent_per_unit":"20.00","modifier_type":{"id":1,"name":"NUMBER_OF_CASES","description":"Number
        of cases","unit":"CASE"},"required":false,"priority":0,"strict_range":false},{"limit_from":2,"limit_to":null,"fixed_percent":"0.00","percent_per_unit":"20.00","modifier_type":{"id":2,"name":"NUMBER_OF_DEFENDANTS","description":"Number
        of defendants","unit":"DEFENDANT"},"required":false,"priority":0,"strict_range":false}],"strict_range":false}]}'
  recorded_at: Sat, 29 Oct 2022 23:00:00 GMT
[...]
- request:
    method: get
    uri: https://laa-fee-calculator.service.justice.gov.uk/api/v1/fee-schemes/9/prices/?advocate_type=JUNIOR&fee_type_code=AGFS_APPEAL_CON&limit_from=1&offence_class=17.1&scenario=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":1,"next":null,"previous":null,"results":[{"id":257926,"scenario":5,"advocate_type":"JUNIOR","fee_type":8,"offence_class":null,"scheme":9,"unit":"DAY","fee_per_unit":"380.00000","fixed_fee":"0.00000","limit_from":1,"limit_to":30,"modifiers":[{"limit_from":2,"limit_to":null,"fixed_percent":"0.00","percent_per_unit":"20.00","modifier_type":{"id":1,"name":"NUMBER_OF_CASES","description":"Number
        of cases","unit":"CASE"},"required":false,"priority":0,"strict_range":false},{"limit_from":2,"limit_to":null,"fixed_percent":"0.00","percent_per_unit":"20.00","modifier_type":{"id":2,"name":"NUMBER_OF_DEFENDANTS","description":"Number
        of defendants","unit":"DEFENDANT"},"required":false,"priority":0,"strict_range":false}],"strict_range":false}]}'
  recorded_at: Tue, 06 Jan 2026 16:07:19 GMT
recorded_with: VCR 6.3.1
