%section.api-documentation
  %h1.page-title
    API release notes

  %h3
    July 2015

  %ul.list-bullet
    %li
      created

  %h3
    October 2015

  %ul.list-bullet
    %li
      first significant release

  %h3
    February 2016

  %ul.list-bullet
    %li
      case number validation - restricted to A12345678
    %li
      indictment removed from claim
    %li
      expense quantities allow decimals
    %li
      rate added to fees, amount removed except for PPE and NPW
    %li
      api key not required by claim importer
    %li
      creator does not have to be an admin
    %li
      advocates endpoint names renamed to external_users
    %li
      granting body removed from representation orders
    %li
      PPE and NPW fee types require quantity and amount - rate must be blank
    %li
      retrial fields added - required for Retrial case type claims
    %li
      claim importer - reports specific errors for valid JSON files that contain model validation errors
