= render partial: 'layouts/header', locals: {page_heading: 'Contact us'}

%section.contact-us
  %p
    For any queries about your claim, contact the following:

  %ul.contact-us-details
    %li
      Advocates’ graduated fee scheme
    %li
      Email: #{mail_to Settings.advocates_email, Settings.advocates_email}
    %li.last-element
      Phone:
      %a{:href => 'tel:03002002020'} 0300 200 2020
    %li
      Litigators’ graduated fee scheme
    %li
      Email: #{mail_to Settings.litigators_email, Settings.litigators_email}
    %li
      Phone:
      %a{:href => 'tel:03002002020'} 0300 200 2020
