%h1
  Crime Billing Online

- unless current_user
  %p= link_to 'Advocate Sign In', new_user_session_path(role: 'advocate'), class: 'button'
  %p= link_to 'Case Worker Sign In', new_user_session_path(role: 'case_worker'), class: 'button'
