%h1
  Crime Billing Online

%ul
  %li= link_to 'Advocate Sign Up', new_advocate_registration_path
  %li= link_to 'Advocate Sign In', new_advocate_session_path

%ul
  %li= link_to 'Case Worker Sign Up', new_case_worker_registration_path
  %li= link_to 'Case Worker Sign In', new_case_worker_session_path
