%section
  = render partial: 'layouts/header', locals: { page_heading: t('.page_heading') }

  %p
    = t('.page_unavailable')
  %p
    = t('.page_unavailable_html', email: 'crowncourtdefence@digital.justice.gov.uk')
