%section.tandcs
  %h2
    THE ADVOCATES’ DEFENCE PAYMENTS APPLICATION TERMS OF USE

  %h3
    1. INTRODUCTION

  %p
    1.1
    %br
    The below terms (the 
    %b "Terms"
    ) apply to you when you use the Advocates’ Defence Payments Application available at 
    <a href="http://staging-adp.dsd.io">http://staging-adp.dsd.io</a> 
    the 
    %b
      "Advocates’ Defence Payments Application"
    ) and as applicable to Authorising Organisations. The Advocates’ Defence Payments Application is a single point of log in for payments under the Advocates’ Graduated Fee Scheme (
    %b
      “AGFS”
    ). These Terms will also apply to the Litigators’ Graduate Fee Scheme (
    %b
      “LGFS”
    ) at a future time as notified to you by the Legal Aid Agency (the “
    %b
      LAA
    ”). 

  %p
    1.2
    %br
    The LAA is an Executive Agency of the Ministry of Justice through which the Lord Chancellor acts to administer Legal Aid. Our head office is at 102 Petty France, London SW1H 9AJ.

  %p
    1.3
    %br
    These Terms govern your use of the Advocates’ Defence Payments Application, therefore please read these Terms carefully and do not use the Advocates’ Defence Payments Application if you do not agree with them.

  %h3 2. DEFINITIONS 

  %p
    2.1
    %b
    References in these Terms to: 

  %p
    %b
      "Approved Representative" 
    means (i) any employee of the Authorising Organisation; or (ii) any person, firm or company approved by an Authorising Organisation to supply services to an Authorising Organisation in accordance with the Standard Terms and with authority from the Authorising Organisation to accept the Terms on behalf of the Authorising Organisation; and, in each case, who is also an Authorised Signatory (iii) an Instructed Advocate; (vi) a Litigator.

  %p
    %b
      "Authorised Signatory" 
    means an Approved Representative of the Authorising Organisation who meets our signatory requirements as set out in the AGFS and, as applicable LGFS “bill submission screens”; 

  %p
    %b
      "Authorising Organisation" 
    means an organisation or person making Claims under the Standard Terms or any other organisation or person who has written authority from us to use the Advocates’ Defence Payments Application in accordance with the Terms; 

  %p
    %b
      "Claims" 
    means a claim, correctly made in accordance with the Criminal Legal Aid (Remuneration) (Amendment) Regulations 2013, for payment for work which you have submitted to us in respect of the work you have performed for an individual who has been assessed (by a competent person or body) as a person for whom, under the Legal Aid Legislation, work may be performed;  

  %p
    %b
      “Data” 
    means as defined in the Data Protection Act 1998; 

  %p
    %b
      “Data Controller” 
    means as defined in the Data Protection Act 1998;

  %p
    %b
      “Data Processor” 
    means as defined in the Data Protection Act 1998;

  %p
    %b
      “Data Protection Legislation”  
    the Data Protection Act 1998, the EU Data Protection Directive 95/46/EC, the Regulation of Investigatory Powers Act 2000, the Telecommunications (Lawful Business Practice) (Interception of Communications) Regulations 2000 (SI 2000/2699), the Electronic Communications Data Protection Directive 2002/58/EC, the Privacy and Electronic Communications (EC Directive) Regulations 2003 and all applicable laws and regulations relating to processing of personal data and privacy, including where applicable the guidance and codes of practice issued by the Information Commissioner;

  %p
    %b
      “Data Subject” 
    means as defined in the Data Protection Act 1998;

  %p
    %b
      "Instructed Advocate" 
    means (i) a practising barrister or person who is authorised by any relevant approved regulator to exercise a 'right of audience' as defined by section 119 (1) of the Courts and Legal Services Act 1990 ("Authorised Advocate(s)") who is instructed by an Authorising Organisation. 

  %p
    %b
      “LAA Data” means:
  %p
    (a) the Data on the Advocates’ Defence Payments Application (including drawings, diagrams, images or sounds (together with any database made up of any of these which is embodied in any electronic, magnetic optical or tangible media)) which:
    %br
    i.  are supplied to you by us or on our behalf;
    %br
    ii. you are required to Process in performance of your contract with us;
  %p
    (b) any Personal Data for which we are the Data Controller but not including the Shared Data;


  %p
    %b
    "Legal Aid Legislation" 
    means the Legal Aid, Sentencing and Punishment of Offenders Act 2012 and statutory instruments made under that Act which are relevant to the AGFS and/or LGFS as applicable;
   
  %p
    %b
      “Litigator” 
    means a solicitor, firm of solicitors or other appropriately qualified person referred to in a representation order as representing an assisted person;

  %p
    %b
      “Personal Data” 
    means as defined in the Data Protection Act 1998;

  %p
    %b
      “Process” 
    means as defined under the Data Protection Legislation but, for the purposes of these Terms, it shall include both manual and automatic processing.

  %p
    %b
      “Shared Data” 
    means Data (including Personal Data) on the Advocates’ Defence Payments Application for which you are the Data Controller, either alone or in common with us;

  %p
    %b
      "Standard Terms" 
    means, as applicable:
  %p
    a.)   the 2010 Standard Civil Contract, the 2010 Standard Crime Contract, the 2013 CLA Contract, any 2013 Standard Civil Contract available at: <a href="www.justice.gov.uk/legal-aid/contracts-and-tenders">www.justice.gov.uk/legal-aid/contracts-and-tenders</a> as applicable, entered into between us and an Authorising Organisation for the provision of legal aid services, as each such contract is amended and updated from time to time; and
  %p
    b.)  the Criminal Legal Aid (Remuneration) (Amendment) Regulations 2013 being regulations incorporating both the AGFS and the LGFS and available at: <a href="www.legislation.gov.uk/uksi/2013/422/contents">www.legislation.gov.uk/uksi/2013/422/contents</a> 

  %p
  Reference to any Legal Aid Legislation and other legislation (including any subordinate legislation made under it or them) is, as the context requires, a reference to any substitute for, amendment, variation or re-enactment of, it or them and any subordinate legislation made under it or them (whether on or after the date of these Terms) and is a reference to any legislation which supersedes it or them and/or any subordinate legislation made under it or them and includes any new Legal Aid Legislation in force on or after the date of these Terms;

  %p
    %b
      "we", us", our" 
    means the Lord Chancellor acting through the LAA; and 
    %b
      "you", "your" 
    refers to (unless expressly indicated otherwise) you as an Approved Representative, whom the Authorising Organisation has authorised to use the Advocates’ Defence Payments Application , an Instructed Advocate or a Litigator (as relevant). 


  %h3
    3.
    %br
    AUTHORISING ORGANISATION AND INSTRUCTED COUNSEL 

  %p
    3.1
    %br
    In order to use the Advocates’ Defence Payments Application, you must be either (i) an Approved Representative (ii) Authorised Signatory (iii) an Instructed Advocate or (iiii) a Litigator. 

  %p
    3.2
    %br 
    The Authorising Organisation shall ensure that any Approved Representative to whom it provides or facilitates access to the Advocates’ Defence Payments Application complies with these Terms and the applicable provisions in the Standard Terms. 

  %p
    3.3 
    %br
    To the extent you are an Approved Representative, Instructed Advocate or a Litigator, you shall comply with these Terms when using the Advocates’ Defence Payments Application. 


  %h3
    4.
    %br 
    LICENCE TO USE THE ADVOCATES’ DEFENCE PAYMENTS APPLICATION 

  %p
    4.1 
    %br
    To the extent you are an Approved Representative and subject to section 13, we grant you a non-exclusive, non-transferable and revocable licence to use the Advocates’ Defence Payments Application in accordance with the purposes set out in the Standard Terms.
   
  %p 
    4.2 
    %br
    To the extent you are an Instructed Advocate and subject to section 13, we grant you a non-exclusive, non-transferable and revocable licence to use the Advocates’ Defence Payments Application for the purpose of assisting us to fulfil our statutory obligations under Part 1 of the Legal Aid, Sentencing and Punishment of Offenders Act 2012 relating to the Legal Aid scheme. 

  %p
    4.3 
    %br
    To the extent you are a Litigator and subject to section 13, we grant you a non-exclusive, non-transferable and revocable licence to use the Advocates’ Defence Payments Application in accordance with the purposes set out in the Standard Terms. 

  %h3
    5.
    %br 
    INFORMATION ON ADVOCATES’ DEFENCE PAYMENTS APPLICATION 

  %p
    You acknowledge that any information and other materials posted on the Advocates’ Defence Payments Application are not intended to amount to advice on which reliance should be placed. 

  %h3
    6. 
    %br
    AVAILABILITY OF ADVOCATES’ DEFENCE PAYMENTS APPLICATION 

  %p
    6.1
    %br 
    We will use our reasonable endeavours to ensure access to the Advocates’ Defence Payments Application but we will not be liable to you if for any reason the Advocates’ Defence Payments Application is unavailable at any time or for any period. 

  %p
    6.2 
    %br
    We reserve the right to withdraw or amend the Advocates’ Defence Payments Application or the services we provide through the Advocates’ Defence Payments Application without notice. From time to time, we may: 

  %p
    6.2.1 
    %br
    restrict access to some or all of the Advocates’ Defence Payments Application; and 

  %p
    6.2.2 
    %br
    make changes to the Advocates’ Defence Payments Application and any material on it. 



  %h3
    7. 
    %br
    INFORMATION SUBMITTED THROUGH THE ADVOCATES’ DEFENCE PAYMENTS APPLICATION 

  %p
    7.1 
    %br
    To the extent you are an Authorising Organisation, you shall ensure that: 

  %p
    7.1.1 
    %br
    Your Approved Representatives, Instructed Advocate and Litigators submit Claims, information and requests through the Advocates’ Defence Payments Application in accordance with the Standard Terms; 


  %p
    7.1.2 
    %br
    Your Approved Representatives, Instructed Advocate and Litigator’s do not make the same submission in paper form and electronically through the Advocates’ Defence Payments Application unless authorised to do so by us; and 

  %p
    7.1.3 
    %br
    Your Approved Representatives, Instructed Advocate and Litigators submit only true, accurate and reasonable Claims. 

  %p
    7.2 
    %br
    You acknowledge that any breach of section 7.1.3 is a material breach of these Terms and the Standard Terms by you. 

  %p
    7.3 
    %br
    To the extent you are an Instructed Advocate or Litigator, you shall: 

  %p
    7.3.1 
    %br
    submit Claims, information and requests through the Advocates’ Defence Payments Application in accordance with these Terms; 

  %p
    7.3.2 
    %br
    not make the same submission in paper form and electronically through the Advocates’ Defence Payments Application unless authorised to do so by us; and 

  %p
    7.3.3 
    %br
    submit only true, accurate and reasonable Claims. 

  %p
    7.4 
    %br
    to the extent you are an Instructed Advocate, you acknowledge that any breach of section 7.3.3 is a material breach of these terms by you. 

  %p
    7.6 
    %br
    We will use the information you provide via the Advocates’ Defence Payments Application to administer your Claims and submissions in accordance with the Legal Aid Legislation, and the Standard Terms where appropriate. 

  %h3
    8. 
    %b3
    DATA PROTECTION 

  %p
    8.1
    %br
    You shall comply with:

  %p
    8.1.1
    %br
    any notification requirements under the Data Protection Legislation; 

  %p
    8.1.2
    %br
    all obligations imposed on you by the Data Protection Legislation whilst Processing Data on the Advocates’ Defence Payments Application; and

  %p
    8.1.3
    %br
    Clause 16 (Data Protection) of the Standard Terms.

  %p
    8.2
    %br
    Any inconsistency between this section 8 and clause 16 (Data protection) of the Standard Terms shall be resolved in favour of clause 16 (Data Protection) of the Standard Terms. 
    
  %p
    8.3
    %br
    Without prejudice to the general obligations at section 8.1 above, in relation to the Data on the Advocates’ Defence Payments Application, you shall:

  %p
    8.3.1
    %br
    comply with the obligations of the Data Processor when processing any LAA Data or Shared Data for which we are responsible as Data Controller;

  %p
    8.3.2
    %br
    comply with the obligations of the Data Controller, to the extent that you are Data Controller of any Shared Data;

  %p
    8.3.3
    %br
    ensure that you do not Process the LAA Data or Shared Data except as necessary for the performance by you of your obligations under the Standard Terms or as otherwise expressly authorised by us in writing; 

  %p
    8.3.4 
    %br
    to the extent that you are Instructed Advocate, ensure that you do not Process the LAA Data or Shared Data except as necessary for the performance by you of your instructions;

  %p
    8.3.5
    %br
    have in place appropriate technical and contractual measures, including any such measures which are specified in the Standard Terms and as we may otherwise require from time to time, to ensure the security of the Personal Data;

  %p
    8.3.6
    %br
    provide us with such information as we may reasonably require, either to be satisfied that you are complying with your obligations contained in, or in order to comply with any obligations imposed on us by virtue of, the Data Protection Legislation; 

  %p
    8.3.7
    %br
    promptly notify us of any breach of the security measures required to be put in place pursuant to this section 8; 

  %p
    8.3.8
    %br
    ensure you do not knowingly or negligently do or omit to do anything which places us in breach of our obligations under the Data Protection Legislation.

  %p
    8.4
    %br
    If LAA Data or Shared Data is corrupted, lost or degraded by you, whether knowingly or otherwise, so as to be unusable, we may at our sole discretion:

  %p
    8.4.1
    %br
    require you (at your reasonable expense) to restore or procure the restoration of LAA Data or Shared Data in accordance with our requirements; and / or

  %p
    8.4.2
    %br
    restore or procure the restoration of LAA Data or Shared Data ourselves and require you to reimburse any reasonable expenses incurred in accordance with our requirements. 

  %p
    8.5
    %br
    The Authorised Organisation shall defend, indemnify and hold us harmless against claims, actions proceedings, losses, damages expenses and costs (including without limitation court costs and reasonable legal fees) arising from a breach of any obligations set out in this section  8.

  %p
    8.6
    %br
    The provisions of this section 8 shall apply for as long as you continue to have a valid licence to use the Advocates’ Defence Payments Application under section 4, and shall continue to apply for a  period of six years following termination (howsoever caused) of your licence.

  %h3
    9 
    %br
    USERS AND PASSWORDS 

  %p
    9.1 
    %br
    A description of each type of user of the Advocates’ Defence Payments Application is set out along with their respective permissions and access rights in Sections 9.1 to 9.7 below.

  %p
    9.2
    %br
    %b
      Advocate User 
    (“Advocate User”)
    %br
    The Advocate User is able to create, edit, submit, view, manage and delete bills. However, the Advocate User can only create, edit, submit, view, manage and delete that specific Instructed Advocate’s own bills.  An Advocate User can log in and view the submission and progress of bills for that particular Advocate User only. 

  %p
    9.3
    %b
      Advocate Administrator User (“Advocate Administrator User”)
    %br
    The Advocate Administrator User is able to create, edit, submit, view, manage and delete bills of any Instructed Advocate’s for whom they have been allocated responsibility.  They are also able to set up other users as Advocate Administrator User and Advocate User. 

  %p
    9.4 
    %br
    Where we provide you with Advocate Administrator User or Advocate User rights to access the Advocates’ Defence Payments Application, as an Authorising Organisation, in relation to the Approved Representatives, as an Instructed Advocate, or as a Litigator in relation to any persons or organisations to whom you arrange access to the Advocates’ Defence Payments Application , you shall ensure that they: 

  %p
    9.4.1 
    %br
    understand their obligations under these Terms; 

  %p
    9.4.2 
    %br
    understand the nature and scope of their permissions and do not exceed such permissions; and 



  %p
    9.4.3 
    %br
    are prevented from accessing the Advocates’ Defence Payments Application once they cease to be authorised by the Authorising Organisation, Instructed Advocate or Litigator to access the Advocates’ Defence Payments Application. 

  %p
    9.5 
    %br
    If you are provided with a username, password or any other piece of information as part of our security procedures, you must treat such information as confidential and you must not disclose it to any third party. We have the right to disable or change any username or password, whether chosen by you or allocated by us, at any time if in our opinion you have failed to comply with any of the provisions of these Terms or we feel it is necessary to safeguard security of the Advocates’ Defence Payments Application. 

  %p
    9.6 
    %br
    You are responsible for making all arrangements necessary for you to have access to the Advocates’ Defence Payments Application 

  %p
    9.7 
    %br
    If you have more than one set of usernames and passwords provided to you by different Authorising Organisations, Instructed Advocate or Litigator (as applicable) then you shall only use each username and password in accordance with the permissions and purposes authorised by the issuing Authorising Organisation. 

  %h3
    10. 
    %br
    INTELLECTUAL PROPERTY RIGHTS 

  %p
    10.1 
    %br
    We are the owner or the licensee of all intellectual property rights in the Advocates’ Defence Payments Application, and in the material published on it. Those works are protected by copyright laws and treaties around the world. All such rights are reserved. 

  %p
    10.2 
    %br
    You may print extracts from the contents of the Advocates’ Defence Payments Application only in so far as it is necessary for you to do so to use the service provided by the Advocates’ Defence Payments Application, [provided that you do not alter, amend or delete any intellectual property rights, notices or marks]. Reproduction of all or part of the Advocates’ Defence Payments Application or contents of the Advocates’ Defence Payments Application in any form is prohibited for any other purpose. None of the contents of the Advocates’ Defence Payments Application may be copied or otherwise incorporated into or stored in any other electronic system, publication or other work in any form (whether hard copy, electronic or other) other than as set out in this section 10. 

  %p
    10.3 
    %br
    You must not modify the paper or digital copies of any materials you have printed off or downloaded in any way. 

  %p
    10.4 
    %br
    If you print off, copy or download any part of the Advocates’ Defence Payments Application in breach of these Terms, you must, at our option, return or destroy any copies of any materials from the Advocates’ Defence Payments Application that you have made and we shall have the right to take action in accordance with section 13. 

  %h3
    11. 
    %br
    PROHIBITED USES 

  %p
    11.1 
    %br
    You may not use the Advocates’ Defence Payments Application: 

  %p
    11.1.1 
    %br
    in any way that breaches any applicable local, national or international law or regulation; 

  %p
    11.1.2 
    %br
    in any way that is unlawful or fraudulent, or has any unlawful or fraudulent purpose or effect; 

  or 
  %p
    11.1.3 
    %br
    to knowingly transmit any data, send or upload any material that contains viruses, Trojan horses, worms, time-bombs, keystroke loggers, spyware, adware or any other harmful programs or similar computer code designed to adversely affect the operation of any computer software or hardware. 

  %p
    11.2 
    %br
    You also agree: 

  %p
    11.2.1 
    %br
    not to reproduce, duplicate copy or re-sell any part of the Advocates’ Defence Payments Application in contravention of the provisions of these Terms; 

  %p
    11.2.2 
    %br
    not to access without authority, interfere with, damage or disrupt: 
  (a) any part of the Advocates’ Defence Payments Application; 
  (b) any equipment or network on which the Advocates’ Defence Payments Application is stored; 
  (c) any software and/or database used in the provision of the Advocates’ Defence Payments Application; 
  (d) any equipment or network or software owned or used by any third party; or 
  (e) other users' accounts or information; and 

  %p
    11.2.3 
    %br
    not to attack the Advocates’ Defence Payments Application via a denial-of-service attack or a distributed denial-of-service attack. 

  %p
    11.3 
    %br
    By breaching this section 11, you may commit a criminal offence under the Computer Misuse Act 1990. We will report any such breach to the relevant law enforcement authorities and we will co-operate with those authorities by disclosing your identity. In the event of such a breach, your right to use the Advocates’ Defence Payments Application will cease immediately. 


  %h3
    12. 
    %br
    LINKS FROM THE ADVOCATES’ DEFENCE PAYMENTS APPLICATION

  Where the Advocates’ Defence Payments Application contains links to other websites and resources provided by third parties, these links are provided for your information only. We have no control over the contents of those websites or resources, and accept no responsibility for them or for any loss or damage that may arise from your use of them. 


  %h3
    13. 
    %br
    SUSPENSION AND TERMINATION
   
  %p
    13.1 
    %br
    We may revoke the licence granted to you in section 4 and terminate these Terms with immediate effect (we will usually notify you in writing of this) if you breach these Terms.
   
  %p
    13.2 
    %br
    We will determine, in our discretion, whether there has been a breach of these Terms by you. When a breach of these Terms has occurred, we may take such action as we deem appropriate. 

  %p
    13.3 
    %br
    Failure to comply with these Terms may result in our taking all or any of the following actions: 

  %p
    13.3.1 
    %br
    immediate, temporary or permanent withdrawal of your right to use the Advocates’ Defence Payments Application; 

  %p
    13.3.2 
    %br
    immediate, temporary or permanent removal of any material uploaded by you to the Advocates’ Defence Payments Application; 

  %p
    13.3.3 
    %br
    issue of a warning to you; 

  %p
    13.3.4 
    %br
    issue legal proceedings against you for reimbursement of all costs on an indemnity basis (including, but not limited to, reasonable administrative and legal costs) resulting from the breach; 

  %p
    13.3.5 
    %br
    further legal action against you; and 

  %p
    13.3.6 
    %br
    disclosure of such information to law enforcement authorities as we reasonably feel is necessary. 

  %p
    13.4 
    %br
    We exclude liability for our actions taken in response to breaches of these Terms. The responses described in these Terms are not limited, and we may take any other action we reasonably deem appropriate. 

  %h3
    14. 
    %br
    LIABILITY 

  %p
    14.1 
    %br
    In accordance with the Terms, the Authorising Organisation shall be responsible for the acts or omissions of the Approved Representatives and Litigators, and in respect of section 7.1.3, Instructed Advocate. The Authorised Organisation shall defend, indemnify and hold us harmless against claims, actions, proceedings, losses, damages, expenses and costs (including without limitation court costs and reasonable legal fees) arising out of the acts or omissions of the Approved Representatives and in respect of section 7.1.3, the acts or omissions of the Instructed Advocate and in respect of section 7.1.3 the acts or omissions of Litigators

  %p
    14.2 
    %br
    To the extent permitted by law, the Advocates’ Defence Payments Application is provided without any guarantee, conditions or warranties as to its availability, accuracy or fitness for purpose. 

  %p
    14.3 
    %br
    To the extent permitted by law, we expressly exclude all and any liability to you in respect of all or any claims arising out of or in connection with these Terms and your use of the Advocates’ Defence Payments Application (including without limitation as a result of, negligence or any other tort (including without limitation negligence), under statute or otherwise). 

  %p
    14.4 
    %br
    To the extent permitted by law, we exclude all conditions, warranties and other terms which might otherwise be implied by statute, common law or the law of equity. 

  %p
    14.5 
    %br
    We will not be liable for any loss or damage caused by a distributed denial-of-service attack, viruses or other technologically harmful material that may infect your computer equipment, computer programs, data or other proprietary material due to your use of the Advocates’ Defence Payments Application or to your downloading of any content on it, or on any website linked to it. 

  %h3
    15.
    %br 
    CHANGES TO THESE TERMS 

  %p
  We may amend these Terms from time to time and we will notify you of this on our website. Such changes are effective from the date they are notified. Your continued use of the Advocates Defence Payments Application after such date shows your acceptance of such changes. 

  %h3
    16.
    %br 
    INFORMATION ABOUT YOU AND YOUR VISITS TO OUR SITE 

  %p
    16.1 
    %br
    %b
      Your information: 
    We collect and process your personal data (such as your contact details and, to the extent it constitutes personal data, your IP address) in accordance with these Terms. By using the Advocates’ Defence Payments Application you consent to such processing in accordance with the Terms. 

  %p
    16.2 
    %br
    %b
      Cookies: 
    We may use information obtained about you from cookies (files which are sent to us by your computer or other access device) which we can access when you visit the Advocates’ Defence Payments Application in future. The cookies store small pieces of information about our users, such as names and email addresses. There are different kinds of cookies with different functions: 

  %p
    16.2.1 
    %br
    %b
      Session cookies: 
    these are only stored on your computer during your web session. They are automatically deleted when the browser is closed. They usually store an anonymous session ID allowing you to browse a website without having to log in to each page. They do not collect any information from your computer. 

  %p
    16.2.2 
    %br
    %b
      Persistent cookies: 
    a persistent cookie is one stored as a file on your computer, and it remains there when you close your web browser. The cookie can be read by the website that created it when you visit that website again. We do not use persistent cookies other than for Google Analytics (please see section 16.3 on Google Analytics). 

  %p
    16.3 
    %br
    %b
      Google Analytics: 
    The Advocates’ Defence Payments Application uses Google Analytics, a web analytics service provided by Google, Inc. ("
    %b
      Google
    "). Google Analytics uses cookies to help analyse how the Advocates’ Defence Payments Application is being used. The information generated by the cookie about your use of the Advocates’ Defence Payments Application (including your IP address) will be transmitted to and stored by Google on servers in the U.S. Google will use this information for the purpose of evaluating your use of the Advocates’ Defence Payments Application, compiling reports on Advocates’ Defence Payments Application activity and internet usage. Google may also transfer this information to third parties where required to do so by law, or where such third parties process the information on Google’s behalf. Google will not associate your IP address with any other data held by Google. By using the Advocates’ Defence Payments Application you consent to the processing of your personal data about you by Google in the manner and for the purposes set out above. 

  %p
    16.4 
    %br
    %b
      Deleting cookies: 
    If you want to delete any cookies that are already on your computer, please refer to the instructions for your file management software to locate the file or directory that stores cookies. If you want to stop cookies being stored on your computer in future, please refer to your browser manufacturer’s instructions by clicking "Help" in your browser menu. Further information on deleting or controlling cookies is available at <a href="www.AboutCookies.org">www.AboutCookies.org</a>. Please note that by deleting our cookies or disabling future cookies you may not be able to access certain areas or features of the Advocates’ Defence Payments Application. 

  17. 
  JURISDICTION AND APPLICABLE LAW 

  These Terms and any disputes or claims arising out of or in connection with them or their subject matter or formation (including non-contractual disputes or claims) are governed by and construed in accordance with the laws of England and Wales. 

  %p
    17.1
    %br
    We both irrevocably agree that the courts of England and Wales have exclusive jurisdiction to settle any dispute or claim that arises out of or in connection with these Terms or their subject matter or formation (including non-contractual disputes or claims). 

  18. 
  CONTACT US 

  If you wish to contact us you can write to us at: The Legal Aid Agency, 102 Petty France, London, SW1H 9AJ. 

  %b
    Thank you for visiting our Advocates’ Defence Payments Application. 

