%h2.govuk-heading-m
  "CLAIM FOR CROWN COURT DEFENCE" TEST ENVIRONMENT – TERMS OF USE

%p
  You are required to read and sign the following terms and conditions before you will be granted access to the "Claim for crown court defence" Test Environment. Sections 1-4 are specific to software vendor testing, sections 5-10 are general terms & conditions that all external users of LAA environments are required to observe.

%h3.govuk-heading-s
  1.	INTRODUCTION

%p
  1.1
  %br
  The below terms apply to you when you use the "Claim for crown court defence" Test Environment available at #{link_to 'https://api-sandbox.claim-crown-court-defence.service.justice.gov.uk','https://api-sandbox.claim-crown-court-defence.service.justice.gov.uk'}
  %br
  This website is hosted by Amazon Web Services through a contract with the Ministry of Justice Digital Team.

%p
  1.2
  %br
  These Terms govern your use of this website, therefore you are required to read and agree to these Terms prior to use.

%h3.govuk-heading-s
  2.  ACCESSING THE "CLAIM FOR CROWN COURT DEFENCE" TEST ENVIRONMENT

%p
  2.1
  %br
  Access to The "Claim for crown court defence" Test Environment is provided to your organisation only under condition of agreement to these terms. You are therefore prohibited from sharing the url address of this website outside of your organisation.

%p
  2.2
  %br
  Where you are provided with a username, password or any other piece of information as part of our security procedures, you must treat such information as confidential and you must not disclose it to any third party. We have the right to disable or change any username or password at any time if in our opinion you have failed to comply with any of the provisions of these Terms or we feel it is necessary to safeguard security of the "Claim for crown court defence" Test Environment.

%h3.govuk-heading-s
  3.	USE OF THE "CLAIM FOR CROWN COURT DEFENCE" TEST ENVIRONMENT

%p
  3.1
  %br
  You have been granted access to the "Claim for crown court defence" Test Environment for the specific purpose of testing integration between your software and the "Claim for crown court defence" API.

%p
  3.2
  %br
  As such, you are authorised to perform the following actions only:
  %br
  %br
  i)	Log in to the "Claim for crown court defence" Test Environment
  %br
  ii)	Access the API documentation
  %br
  iii)	Submit dummy data files using the API
  %br
  iv)	View these dummy files in the test environment
  %br
  v)	Use API test client

%p
  3.3
  %br
  You may not use this website to carry out any other activities, submitting applications, manual creation of bills, or submission of bills using the ‘Start a new claim functionality’

%h3.govuk-heading-s
  4.  AVAILABILITY OF "CLAIM FOR CROWN COURT DEFENCE" TEST ENVIRONMENT

%p
  4.1
  %br
  We will use our reasonable endeavours to ensure access to the "Claim for crown court defence" Test Environment during the timescales agreed for testing, but we will not be liable to you if for any reason the "Claim for crown court defence" Test Environment is unavailable at any time or for any period.


%h3.govuk-heading-s
  5. INTELLECTUAL PROPERTY RIGHTS

%p
  5.1
  %br
  We are the owner or the licensee of all intellectual property rights in the "Claim for crown court defence" Test Environment, and in the material published on it. Those works are protected by copyright laws and treaties around the world. All such rights are reserved.

%p
  5.2
  %br
  You may print extracts from the contents of the "Claim for crown court defence" Test Environment only in so far as it is necessary for you to do so to use the service provided by the "Claim for crown court defence" Test Environment, provided that you do not alter, amend or delete any intellectual property rights, notices or marks. Reproduction of all or part of the "Claim for crown court defence" Test Environment or contents of the "Claim for crown court defence" Test Environment in any form is prohibited for any other purpose. None of the contents of the "Claim for crown court defence" Test Environment may be copied or otherwise incorporated into or stored in any other electronic system, publication or other work in any form (whether hard copy, electronic or other) other than as set out in this section 5.

%p
  5.3
  %br
  You must not modify the paper or digital copies of any materials you have printed off or downloaded in any way.

%p
  5.4
  %br
  If you print off, copy or download any part of the "Claim for crown court defence" Test Environment in breach of these Terms, you must, at our request, return or destroy any copies of any materials from the "Claim for crown court defence" Test Environment that you have made and we shall have the right to take action in accordance with section 7.

%h3.govuk-heading-s
  6.	PROHIBITED USES

%p
  6.1
  %br
  You may not use the "Claim for crown court defence" Test Environment:
  %br
  6.1.1
  %br
  in any way that breaches any applicable local, national or international law or regulation;
  %br
  6.1.2
  %br
  in any way that is unlawful or fraudulent, or has any unlawful or fraudulent purpose or effect; or
  %br
  6.1.3
  %br
  to knowingly transmit any data, send or upload any material that contains viruses, Trojan horses, worms, time-bombs, keystroke loggers, spyware, adware or any other harmful programs or similar computer code designed to adversely affect the operation of any computer software or hardware.

%p
  6.2
  %br
  You also agree:
  %br
  6.2.1
  %br
  not to reproduce, duplicate copy or re-sell any part of the "Claim for crown court defence" Test Environment in contravention of the provisions of these Terms;
  %br
  6.2.2
  %br
  not to access without authority, interfere with, damage or disrupt:
  %br
  (a)
  any part of the "Claim for crown court defence" Test Environment;
  %br
  (b)
  any equipment or network on which the "Claim for crown court defence" Test Environment is stored;
  %br
  (c)
  any software and/or database used in the provision of the "Claim for crown court defence" Test Environment;
  %br
  (d)
  any equipment or network or software owned or used by any third party; or
  %br
  (e)
  other users' accounts or information; and
  %br

%p
  6.2.3
  %br
  not to attack the "Claim for crown court defence" Test Environment via a denial-of-service attack or a distributed denial-of-service attack.
  %br

  6.3
  %br
  By breaching this section 6, you may commit a criminal offence under the Computer Misuse Act 1990. We will report any such breach to the relevant law enforcement authorities and we will co-operate with those authorities by disclosing your identity. In the event of such a breach, your right to use the "Claim for crown court defence" Test Environment will cease immediately.

%h3.govuk-heading-s
  7.	SUSPENSION AND TERMINATION

%p
  7.1
  %br
  We may revoke your access to the "Claim for crown court defence" Test Environment and terminate these Terms with immediate effect if you breach these Terms.

%p
  7.2
  %br
  We will determine, in our discretion, whether there has been a breach of these Terms by you. When a breach of these Terms has occurred, we may take such action as we deem appropriate.

%p
  7.3
  %br
  Failure to comply with these Terms may result in our taking all or any of the following actions:
  %br
  7.3.1
  %br
  immediate, temporary or permanent withdrawal of your right to use the "Claim for crown court defence" Test Environment;
  %br
  7.3.2
  %br
  issue of a warning to you;
  7.3.4
  %br
  issue legal proceedings against you for reimbursement of all costs on an indemnity basis (including, but not limited to, reasonable administrative and legal costs) resulting from the breach;
  %br
  7.3.5
  %br
  further legal action against you; and
  %br
  7.3.6
  %br
  disclosure of such information to law enforcement authorities as we reasonably feel is necessary.

%p
  7.4
  %br
  We exclude liability for our actions taken in response to breaches of these Terms. The responses described in these Terms are not limited, and we may take any other action we reasonably deem appropriate.

%h3.govuk-heading-s
  8. LIABILITY

%p
  8.1
  %br
  We will not be liable for any loss or damage caused by a distributed denial-of-service attack, viruses or other technologically harmful material that may infect your computer equipment, computer programs, data or other proprietary material due to your use of the "Claim for crown court defence" Test Environment or to your downloading of any content on it, or on any website linked to it.

%p
  8.2
  %br
  Data held in the "Claim for crown court defence" test environment will be deleted every two days.  We will not be held liable for the loss of any dummy data or impacts on development activities as a result of this deletion.

%h3.govuk-heading-s
  9. INFORMATION ABOUT YOU AND YOUR VISITS TO OUR SITE

%p
  9.1
  %br
  We collect and process your personal data (such as your contact details and, to the extent it constitutes personal data, your IP address) in accordance with these Terms. By using the "Claim for crown court defence" Test Environment, you consent to such processing in accordance with the Terms.

%h3.govuk-heading-s
  10. JURISDICTION AND APPLICABLE LAW

%p
  10.1
  %br
  These Terms and any disputes or claims arising out of or in connection with them or their subject matter or formation (including non-contractual disputes or claims) are governed by and construed in accordance with the laws of England and Wales.

%p
  10.2
  %br
  We both irrevocably agree that the courts of England and Wales have exclusive jurisdiction to settle any dispute or claim that arises out of or in connection with these Terms or their subject matter or formation (including non-contractual disputes or claims).
