= render partial: 'layouts/header', locals: {page_heading: 'Add a new provider'}
%h3.heading-medium
  New provider details

= render partial: 'shared/providers/form', locals: { form_url: url_for(controller: params[:controller], action: 'create') }
