= content_for :page_title, flush: true do
  = t('.section_heading')

= render partial: 'layouts/header', locals: { page_heading: t('.section_heading') }

.govuk-grid-row
  .govuk-grid-column-two-thirds
    = render partial: 'shared/providers/form'
