.app-summary-section
  %h2.govuk-heading-l
    = t('external_users.claims.warrant_fee.summary.header')

  - if local_assigns[:editable]
    = govuk_link_to t('common.change_html', context: t('external_users.claims.warrant_fee.summary.header')), edit_polymorphic_path(claim, step: :interim_fees, referrer: :summary), class: 'link-change'

  - if claim.warrant_fee.nil?
    %p
      There is no warrant fee for this claim

  - else
    - warrant_fee = present(claim.warrant_fee)

    = govuk_summary_list do |summary_list|
      - if claim.agfs?
        - summary_list.with_row do |row|
          - row.with_key(text: t("common.external_user.category.#{claim.external_user_type}"))
          - row.with_value(text: claim.advocate_category )

      - summary_list.with_row do |row|
        - row.with_key(text: t('shared.summary.warrant_fee.date_issued'))
        - row.with_value(text: warrant_fee.warrant_issued_date )

      - summary_list.with_row do |row|
        - row.with_key(text: t('shared.summary.amount'))
        - row.with_value(text: warrant_fee.amount )
