- if claim&.last_injection_attempt&.succeeded && claim.has_conference_and_views?
  .js-callout-injection-warning
    .warning-summary{ role: 'group', 'aria-labelledby': 'warning-summary-heading', tabindex: '-1' }
      %h2.govuk-heading-m.warning-summary-heading{ id: 'warning-summary-heading' }
        = t('shared.injection_errors.cav_warning.header')

      %span.form-hint
        = t('shared.injection_errors.cav_warning.message')

- if claim&.last_injection_attempt&.succeeded && claim.has_clar_fees?
  .js-callout-injection-warning
    .warning-summary{ role: 'group', 'aria-labelledby': 'warning-summary-heading', tabindex: '-1' }
      %h2.govuk-heading-m.warning-summary-heading{ id: 'warning-summary-heading' }
        = t('shared.injection_errors.clar_fees_warning.header')

      %span.form-hint
        = t('shared.injection_errors.clar_fees_warning.message')
