@include govuk-media-query($from: tablet) {

  // stylelint-disable selector-id-pattern
  #case_details,
  .lgfs-supplier-numbers,
  #transfer-detail {
    .autocomplete__wrapper {
      width: govuk-grid-widths('one-half');
    }
  }
}

.fx-result {
  margin: $govuk-gutter 0;
  padding: 0 $govuk-gutter;
}

// autocomplete styling
.tt-menu {
  width: govuk-grid-widths('full');
  max-height: 220px;
  overflow-y: scroll;
  border: 1px solid $govuk-text-colour;
}

@include govuk-media-query($from: tablet) {
  .tt-menu {
    width: govuk-grid-widths('one-half');
  }

  // scss-lint:disable IdSelector
  .js-block {
    .tt-menu {
      width: govuk-grid-widths('full');
    }
  }
}

// scss-lint:disable ImportantRule
.tt-hint {
  opacity: .6;
}

.tt-suggestion {
  padding: $gutter-one-sixth;

  &:hover,
  &.tt-cursor {
    background-color: $govuk-link-colour;
  }
}

.empty-message {
  padding: $gutter-one-sixth;
}

// scss-lint:disable IdSelector
#offence-list .tt-highlight {
  background-color: $govuk-focus-colour;
}

.govuk-form-group--error .autocomplete__input {
  border-color: $govuk-error-colour;

  &:focus {
    border-color: $govuk-input-border-colour;
  }
}
