.breadcrumbs_seperator .govuk-breadcrumbs__list-item {
  border-left: 1px solid govuk-colour("black");

  &:first-child {
    border-left: 0;
  }

  background-image: none;
}

.breadcrumbs_seperator .govuk-breadcrumbs__list-item::before {
  border: none;
}
