// --------------------------------------- */
// Buttons */
// --------------------------------------- */

.button-secondary {
  @include button($govuk-blue);
}

.button-holder {
  @include clearfix;

  margin-top: $gutter;
}

.btn-green {
  @include button();
}

.button-grey-3,
.button-gray-3 {

  @include button($grey-3);
  padding: .52632em .78947em .26316em;

  @include media (mobile) {
    text-align: center;
    width: $full-width;
  }
}

form .form-buttons * {
  display: inline-block;
  margin-right: $gutter-one-third;
}



// Buttons
// ==========================================================================

.form-buttons * {
  margin-right: $gutter-one-third;
  display: inline-block;
}

.button-tertiary {
  @include button ($grey-2);
}


/*--- Ported from v1 stylesheets ---*/

.external-user-json-export {
  margin-bottom: $gutter-one-third;
}

.certify-claim {
  display: block;
  width: 8.8em;
  margin: $gutter-one-third 0;
}
