main,
p {
  @extend %govuk-body-m;
}

.unique-id-small {
  @include govuk-font(14);
  display: block;
  color: govuk-colour("black");
}

.sub-header {
  margin-bottom: $gutter-half;
}

.claim-hgroup {
  margin-bottom: $gutter-one-third;

  .claim-detail-actions {
    margin-bottom: $gutter-one-third;

    @include govuk-media-query($from: tablet) {
      margin-bottom: 0;
    }

    @include govuk-font(19);

    .button {
      margin-right: $gutter-one-sixth;
    }

    .resubmit-claim {
      width: $govuk-gutter * 7;
      padding-left: $govuk-gutter / 10;
    }

    .action-wrapper a:first-child,
    .action-wrapper .resubmit-claim {
      margin-right: $gutter-two-thirds;
    }
  }
}

.new-claim-content {
  h2 {
    @include govuk-font(24, $weight: bold);
    margin-top: $govuk-gutter;
    font-weight: 800;
  }

  h2~h2 {
    margin-top: $govuk-gutter * 2;
  }
}

// --------------------------------------- */
// Sidebar */
// --------------------------------------- */

.new-claim-hgroup {
  margin-top: $gutter-one-sixth;
  border-top: 5px solid $govuk-link-colour;

  h2 {
    @include govuk-font(24, $weight: bold);
    margin-top: $gutter-half;
    font-weight: 800;
  }

  h3 {
    @include govuk-font(19, $weight: bold);
  }

  .numeric {
    display: block;
    font-weight: normal;
  }

  dl dt {
    font-weight: 700;
  }
}

.error-summary {
  float: none;

  h1 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.json-schema {
  font-family: "Courier New", monospace;
  font-size: 80%;
}

.file-upload-name {
  margin: $gutter-one-sixth 0 0;
  font-style: italic;
}