main,
p {
  @extend %govuk-body-m;
}

.bold-xsmall {
  @include bold-14;
}

.bold-normal {
  @include bold-16;
}

.unique-id-small {
  display: block;
  color: $black;
  font-size: 12px;
}

.sub-header {
  margin-bottom: $gutter-half;
}

.hgroup {
  h2 {
    @include core-24;
    margin: 0;
    color: $grey-1;
    font-weight: 400;
  }

  .numerical-value {
    @include bold-36;
    display: block;
    color: $text-colour;
  }
}

.claim-hgroup {
  margin-bottom: $gutter-one-third;

  .claim-detail-actions {
    margin-bottom: $gutter-one-third;

    @include govuk-media-query($from: tablet) {
      margin-bottom: 0;
    }

    @include core-19;

    .button {
      margin-right: $gutter-one-sixth;
    }

    .resubmit-claim {
      width: $gutter * 7;
      padding-left: $gutter / 10;
    }

    .action-wrapper a:first-child,
    .action-wrapper .resubmit-claim {
      margin-right: $gutter-two-thirds;
    }
  }
}

.new-claim-content {
  h2 {
    @include core-24;
    margin-top: $gutter;
    font-weight: 800;
  }

  h2 ~ h2 {
    margin-top: $gutter * 2;
  }
}

// --------------------------------------- */
// Sidebar */
// --------------------------------------- */

.new-claim-hgroup {
  margin-top: $gutter-one-sixth;
  border-top: 5px solid $link-colour;

  h2 {
    @include core-24;
    margin-top: $gutter-half;
    font-weight: 800;
  }

  h3 {
    @include core-19;
    font-weight: 800;
  }

  .numeric {
    display: block;
    font-weight: normal;
  }

  dl dt {
    font-weight: 700;
  }
}

.error-summary {
  float: none;

  h1 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.contact-us-details {
  margin-bottom: $gutter;

  dt {
    margin-right: $gutter-one-sixth;
    float: left;

    &:after {
      content: ":";
    }
  }
}

.timed-retention-states {
  padding-left: $gutter-two-thirds;

  li {
    line-height: 30px;
    list-style: disc inside;

    &:last-child {
      margin-bottom: $gutter;
    }
  }
}

.json-schema {
  font-family: "Courier New", monospace;
  font-size: 80%;
}

.file-upload-name {
  margin: $gutter-one-sixth 0 0;
  font-style: italic;
}
