// ================================================================//
// claims-importer.SCSS
// ================================================================//
.claims-importer {
  &.has-errors {
    border-color: $red;
  }

  label {
    @include core-16;
  }

  .js-enabled & {
    input[type="file"],
    .no-file-selected [type="submit"] {
      @include visually-hidden;
    }
  }

  .errors {
    margin-top: $gutter-one-sixth;
    color: $red;
  }
}
