.remove_fields {
  @include govuk-responsive-margin(4, "bottom");
  @include govuk-media-query($from: desktop) {
    position: absolute;
    top: 0;
    right: 0;
  }

  display: block;
  z-index: 1;
  font-weight: 700;
}
