/*--- Denote styles ---*/

.form-input-denote {
  position: absolute;
  margin: 2px 0 0 2px;
  padding: $gutter-one-sixth + 1 $gutter-one-third + 2;
  background-color: $grey-3;
  line-height: 1.1;

  @media (min-width: 641px) {
    padding: $gutter-one-sixth + 2 $gutter-one-third + 2;
  }

}

.form-input-denote__input {
  margin: 0;
  padding-left: $gutter + $gutter-one-third;
}

.error .form-input-denote,
.form-group-error .form-input-denote {
  margin-top: $gutter-one-sixth;
  margin-left: $gutter-one-sixth;
  padding: $gutter-one-sixth + 1 $gutter-one-third + 2;
  background-color: $error-colour;
  color: $white;

  @media (min-width: 641px) {
    padding: $gutter-one-sixth + 3 $gutter-one-third + 2;
  }
}
