/* --------------------------------------- */
/* Basic link styles */
/* --------------------------------------- */

a.link-secondary,
a.fix {
  position: relative;
  padding: $gutter-one-third 0 $gutter-one-sixth;
  border: none;

  &:hover {
    color: $light-blue;
  }
}

a.link-change,
a.link-remove {
  @include core-19;
  float: right;
  font-weight: 700;

  &:hover {
    color: $link-hover-colour;
  }
}

a.add_fields {
  display: none;
}

.js-enabled a.add_fields {
  display: inline-block;
}

a.delete-draft {
  color: $red;
}

.download-all-link {
  @extend .font-small;
  float: right;
}
