.cccd-summary-list {
  .govuk-summary-list__row {
    border: 0;
  }

  dt,
  dd {
    display: block;
    width: 100%;
    padding: 0;
    border: 0;
  }

  .govuk-summary-list__value:last-child {
    width: 100%;
  }
}
