// stylelint-disable max-nesting-depth, selector-no-qualifying-type

.table-container {
  margin-top: $gutter-half;
  margin-bottom: $gutter;
}

table {
  margin-bottom: $gutter-two-thirds;
  border-collapse: collapse;
  border-top: 2px solid $border-colour;
  background-color: $white;

  caption {
    @include govuk-font(19);
    padding-bottom: $gutter-half / 2;
    font-weight: 700;
    text-align: left;
  }

  tr {
    th,
    td {
      &:first-child {
        padding-left: $gutter-half;
      }

      &:last-child {
        padding-right: $gutter-one-sixth;
      }
    }

    &.no-border {
      th,
      td {
        border: none;
      }
    }

    &.error.injection-error {
      border-left: 5px solid $error-colour;
      color: inherit;

      td {
        padding-top: $gutter;

        .error-message-container {
          position: relative;
        }

        .error-message {
          position: absolute;
          top: -$gutter;
          width: 320px;
          color: $error-colour;

          @include govuk-media-query($until: desktop) {
            width: auto;
          }
        }
      }
    }

    &.injection-warning {
      border-left: 5px solid $orange;

      td {
        padding-top: $gutter;

        .warning-message-container {
          position: relative;
        }

        .warning-message {
          position: absolute;
          top: -$gutter;
          width: 320px;
          color: $orange;
          font-weight: 700;

          @include govuk-media-query($until: desktop) {
            width: auto;
          }
        }
      }
    }
  }

  th,
  td {
    padding: $gutter-half / 2 $gutter-half $gutter-half / 2 0;
    border-right: none;
    border-left: none;
  }

  thead th {
    padding-top: $gutter-half;
    padding-bottom: $gutter-half;
    vertical-align: bottom;
  }

  tbody {
    tr:nth-child(odd) {
      background-color: $grey-4;
    }

    th {
      @include govuk-font(16);
      color: $text-colour;
      background: transparent;
      font-weight: 700;
    }
  }
}

// statuses
.state {
  display: block;
  padding: $gutter-one-sixth;
  border-width: 2px;
  border-style: solid;
  background: $white;
  text-align: center;

  &.state-authorised,
  &.state-accepted {
    border-color: $green;
    color: $green;
  }

  &.state-allocated {
    border-color: $fuschia;
    color: $fuschia;
  }

  &.state-draft {
    border-color: $govuk-blue;
    color: $govuk-blue;
  }

  &.state-rejected,
  &.state-refused,
  &.state-unverified {
    border-color: $error-colour;
    color: $error-colour;
  }

  &.state-submitted {
    border-color: $black;
    color: $black;
  }

  &.state-redermination {
    border-color: $text-colour;
    color: $text-colour;
  }

  &.state-part-authorised {
    border-color: $govuk-blue;
    color: $govuk-blue;
  }
}

#claim-accordion {
  .table-summary {
    th,
    td {
      vertical-align: top;
    }

    tr > th {
      width: 30%;
    }
  }
}

.mobile-sort {
  display: none;
}

.report {
  td {
    @include govuk-font(16);
  }

  .select {
    width: 25px;
  }

  .case-number {
    width: 100px;
  }

  .court {
    width: 125px;
  }

  .submit-date {
    width: 80px;
  }

  .claim-total {
    width: 100px;
  }

  .type {
    width: 200px;
  }
}

@include govuk-media-query($until: desktop) {
  .report {
    border: 0;

    tr {
      display: block;
      margin-bottom: $gutter-one-third;
      border-bottom: 3px solid $grey-3;

      td {
        display: block;
        border-bottom: 1px solid $grey-3;
        text-align: right;
      }

      td:last-child {
        border-bottom: 0;
      }

      th,
      td {
        br {
          display: none;
        }

        padding: $gutter-half;
      }

      &.mobile-sort {
        @include govuk-clearfix;
        display: inline-block;
        width: $full-width;

        background-color: $white;
        vertical-align: inherit;

        th {
          text-align: left;

          a {
            display: inline-block;
            margin: $gutter-one-sixth $gutter-half - 3;
          }
        }
      }
    }

    tbody tr td:first-child {
      background-color: $border-colour;
      font-weight: 700;

      a {
        display: block;
      }
    }

    thead {
      display: none;
    }

    tbody tr:nth-child(odd),
    tbody tr:nth-child(even) {
      background-color: none;
    }

    td:before {
      content: attr(data-label);
      float: left;
      font-weight: 700;
      text-transform: uppercase;
    }

    .unique-id-small {
      display: none;
    }

    .state {
      display: inline;
    }
  }
}

.figures {
  th,
  td {
    vertical-align: top;

    .details {
      padding-left: $gutter-one-third;
    }
  }

  tfoot {
    .totals {
      border: 2px solid $border-colour;
      border-width: 2px 0;

      td {
        font-weight: 700;
      }
    }
  }
}

.summary,
.nested-summary {
  width: $full-width;
  border-collapse: collapse;
  border-top: none;
  background-color: $white;

  thead th {
    padding-top: $gutter-half;
    padding-bottom: $gutter-half;
    vertical-align: bottom;
  }

  tbody {
    tr:nth-child(odd) {
      background: transparent;
    }

    th {
      @include govuk-font(19);
      color: $text-colour;
      background: transparent;
      font-weight: 700;

      &:first-child {
        width: $one-third;
        padding-left: 0;
      }
    }

    td {
      @include govuk-font(19);
    }
  }

  tfoot {
    th,
    td {
      @include govuk-font(19);
      font-weight: 700;
    }
  }

  tr {
    th,
    td {
      &:first-child {
        padding-left: 0;
      }
    }
  }
}

.nested-summary {
  tbody {
    th:first-child {
      width: $half;
    }

    tr:last-child {
      th,
      td {
        border-bottom: 0;
      }
    }
  }
}

.previously-uploaded th:first-child {
  width: 75%;
}
