// CCCD measurements

$gutter-one-sixth: calc($govuk-gutter / 6);

$gutter-one-quarter: calc($govuk-gutter / 4);
$gutter-one-third: calc($govuk-gutter / 3);
$gutter-half: calc($govuk-gutter / 2);
$gutter-two-thirds: $govuk-gutter - $gutter-one-third;
