// GOV.UK Frontend (Design System)
@function frontend-font-url($filename) {
  @return url("~govuk-frontend/govuk/assets/fonts/" + $filename);
}

@function frontend-image-url($filename) {
  @return url("~govuk-frontend/govuk/assets/images/" + $filename);
}

$govuk-font-url-function: frontend-font-url;
$govuk-image-url-function: frontend-image-url;

// Compatibility mode can be turned off when migration is complete
// https://frontend.design-system.service.gov.uk/compatibility-mode/#turn-off-39-compatibility-mode-39
$govuk-compatibility-govukelements: true;
$govuk-compatibility-govuktemplate: true;
$govuk-compatibility-govukfrontendtoolkit: true;

@import "~govuk-frontend/govuk/all";

// TODO: remove when compatibility mode is switched off
.govuk-panel--confirmation {
  background: govuk-colour("green");
}
