// Used by the pdf generation tool
// Not required by the applications main stylesheet
@mixin scale($property: font-size, $scale: 1) {
  #{$property}: (23 * $scale) + px;
}

%pdf-font {
  @include scale(font-size, 1);
  font-family: "nta", Arial, sans-serif;
  font-weight: normal;
}

body {
  @extend %pdf-font;
}

table {
  width: 100%;
  border: 0;

  td {
    padding-bottom: 20px;
    border: 0;
  }
}

.pdf-header {
  .pdf-logo {
    width: 30%;
    padding-left: 20px;
    border-left: 2px solid #000000;
    font-size: 0;
    vertical-align: top;
  }

  .pdf-laa-address {
    text-align: right;
    vertical-align: top;
  }

  .pdf-current-date {
    width: 60%;
    text-align: right;
    vertical-align: bottom;
  }
}

.pdf-form {
  .pdf-form-hint {
    @include scale(font-size, .8);
    color: #6f777b;
  }

  .pdf-field-name {
    width: 40%;
    vertical-align: top;
  }

  .pdf-field-value {
    width: 60%;
    padding: 5px;
  }

  .pdf-field-border-box {
    @include scale(min-height, 1);
    padding: 5px;
    border: 2px solid #000000;

    &.provider-address {
      @include scale(min-height, 4);
    }
  }

  .pdf-check-box {
    width: 34px;
    height: 34px;
    padding: 5px;
    border: 2px solid #000000;

    // GDS checkbox style copied from checkbox form element label
    .pdf-checked {
      position: relative;
      top: 10px;
      left: 8px;
      width: 17px;
      height: 7px;
      zoom: 1;
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      border: solid;
      border-width: 0 0 5px 5px;
      border-top-color: transparent;
      background: transparent;
    }
  }
}

.visually-hidden {
  position: absolute;
  left: -9999em;
  width: 1px;
  height: 1px;
  border: 0;
}
