# We control the AWS permissions via a policy in the bucket,
# so access key and secret are not really used (they will be nil).
#
default: &default
  access_key_id: <%= Settings.aws.s3.access %>
  secret_access_key: <%= Settings.aws.s3.secret %>
  bucket: <%= Settings.aws.s3.bucket %>

production:
  <<: *default

development:
  <<: *default

test:
  access_key_id: xxxxxxxx
  secret_access_key: xxxxxxxxxxxxx
  bucket: <%= Settings.aws.s3.bucket || 'cccd-test-bucket' %>

develop:
  <<: *default

