default: &default
  adapter: postgresql
  encoding: unicode
  # For details on connection pooling, see rails configuration guide
  # http://guides.rubyonrails.org/configuring.html#database-pooling
  pool: 5
  host: <%= ENV['CBO_BASE_DATABASE_HOST'] || 'localhost' %>
  username: <%= ENV['CBO_BASE_DATABASE_USERNAME'] %>
  password: <%= ENV['CBO_BASE_DATABASE_PASSWORD'] %>

development:
  <<: *default
  database: cbo_development

test: &test
  <<: *default
  database: <%= "cccd_test#{ENV['TEST_ENV_NUMBER']}" %>

production:
  <<: *default
  database: <%= ENV['CBO_BASE_DATABASE_DATABASE'] %>

cucumber:
  <<: *test
