trial_cracked_at_third:
  - first_third
  - second_third
  - final_third

advocate_categories:
  - Junior alone
  - Leading junior
  - Led junior
  - QC

agfs_reform_advocate_categories:
  - Junior
  - Leading junior
  - QC

new_monarch_advocate_categories:
  - Junior
  - Leading junior
  - KC

court_types:
   - Magistrates' Court
   - Crown Court

claim_actions:
  - Apply for redetermination
  - Request written reasons

date_format: "%d/%m/%Y"
date_time_format: "%d/%m/%Y %H:%M"
date_format_label: "%d %B %Y"
datetime_attribute: "%F"
report_date_format: "%A %d %B %Y at %l:%M%P"

high_value_claim_threshold: 20000

earliest_permitted_date: <%= 10.years.ago.to_date %>
earliest_permitted_date_in_words: 10 years ago

interim_earliest_permitted_repo_date: 2014-10-02

google_analytics:
  endpoint: "http://www.google-analytics.com/collect"
  version: 1
  tracker_id: <%= ENV['GA_TRACKER_ID'] %>
  fallback_client_id: <%= ENV['FALLBACK_CLIENT_ID'] || '555' %>

# This value is not used - the max value of 20.megabytes is hard coded into models/document.rb:36
max_document_upload_size_mb: 400
max_document_upload_count: 40

max_item_amount: 200_000.00     # An item is each of the individual expenses, disbursements or fees
max_claim_amount: 1_000_000.00  # The total sum of all the individual items in a claim

claim_csv_headers:
  - :id
  - :scheme
  - :case_number
  - :supplier_number
  - :organisation
  - :case_type_name
  - :bill_type
  - :claim_total
  - :submission_type
  - :transitioned_at
  - :last_submitted_at
  - :originally_submitted_at
  - :allocated_at
  - :completed_at
  - :current_or_end_state
  - :state_reason_code
  - :rejection_reason
  - :case_worker
  - :disk_evidence_case
  - :main_defendant
  - :maat_reference
  - :rep_order_issued_date
  - :af1_lf1_processed_by
  - :misc_fees
  - :main_hearing_date
  - :source

fee_scheme_usage_csv_headers:
  - :month
  - :fee_scheme
  - :total_number_of_claims
  - :total_value_of_claims
  - :most_recent_claim
  - :advocate_claim
  - :advocate_hardship_claim
  - :advocate_interim_claim
  - :advocate_supplementary_claim
  - :interim_claim
  - :litigator_claim
  - :litigator_hardship_claim
  - :transfer_claim
  - :appeal_against_conviction
  - :appeal_against_sentence
  - :breach_of_crown_court_order
  - :committal_for_sentence
  - :contempt
  - :cracked_trial
  - :cracked_before_retrial
  - :discontinuance
  - :elected_cases_not_proceeded
  - :guilty_plea
  - :hearing_subsequent_to_sentence
  - :retrial
  - :trial

expense_schema_version: 2

# Feature flag to enable or disable the hardship claim banner
# If enabled, external users will see it, and will have a 'dismiss' link to hide and do not show it again
hardship_claims_banner_enabled?: true

#Feature flag to enable or disable clair contingency banner
clair_contingency_banner_enabled?: true

# Feature flag to enable or disable the downtime warning
# If enabled, all users will see it up until "downtime_warning_date"
downtime_warning_enabled?: false
downtime_warning_date: 2021-05-26

# Feature flag to enable or disable the scheme filters in the claims list page
# If enabled, users with proper roles will see scheme radio buttons to filter the list
scheme_filters_enabled?: <%= ENV['ENV'] == 'demo' %>

# Feature flag to enable maintenance mode
# If enabled all routes mapped to pages#servicedown on startup
#
maintenance_mode_enabled?: <%= ENV.fetch('MAINTENANCE_MODE', nil)&.downcase&.eql?('true') %>

# Feature flag to enable sending feedback to zendesk
#
zendesk_feedback_enabled?: <%= ENV.fetch('ZENDESK_FEEDBACK', nil)&.downcase&.eql?('true') %>

feature_flags_enabled?: true
active_features: []

reject_refuse_messaging_released_at: 2018-04-24T23:05:00+01:00

# Fee scheme dates
agfs_fee_reform_release_date: 2018-04-01
agfs_scheme_11_release_date: 2018-12-31
clar_release_date: 2020-09-17
lgfs_scheme_10_clair_release_date: 2022-09-30
agfs_scheme_13_clair_release_date: 2022-09-30
clair_contingency_date: 2022-10-31
agfs_scheme_14_section_twenty_eight: 2023-02-01
agfs_scheme_15_additional_prep_fee_and_kc: 2023-04-17
agfs_scheme_16_section_twenty_eight_increase: 2023-11-16
lgfs_scheme_11_csfr: 2025-12-15

# number of weeks in one state before automatic transition to archived pending delete
timed_transition_stale_weeks: 16

# number of weeks in archived pending delete before hard delete of claim
timed_transition_pending_weeks: 16

# number of weeks a claim can be soft deleted before hard delete of claim
timed_transition_soft_delete_weeks: 16

# Settings for remote API calls
# Override them in your settings.local.yml if needed, but DO NOT change these here
#
remote_api_key: 'not-provided'
remote_api_url: <%= (ENV['CASEWORKER_API_URL'] || 'http://localhost:3001') + '/api' %>

# Postgres DB `journeys` function flag to allow for its "recreation".
# This is used by MI reports.
# If enabled, the existing function will be "lazily" dropped and created again during
# the run of any report that requires it. It should be set to true only to apply changes to
# the function on an environment, then switch off/false again in subsequent PR post deployment.
replace_journeys_func?: false

# contact email address
laa_contact_email: crowncourtdefence@justice.gov.uk
advocates_email: advocates-fee@justice.gov.uk
litigators_email: litigators-fee@justice.gov.uk
advocate_phone_contact: '03002002020'
litigator_phone_contact: '03002002020'

aws:
  region: <%= ENV['AWS_REGION'] %>
  access: <%= ENV['AWS_ACCESS_KEY'] %>
  secret: <%= ENV['SECRET_ACCESS_KEY'] %>
  submitted_queue: <%= ENV['AWS_QUEUE_NAME'] %>
  response_queue: <%= ENV['AWS_RESPONSE_QUEUE_NAME'] %>
  billing:
    access: 'store actual value as SETTINGS__AWS__BILLING__ACCESS'
    secret: 'store actual value as SETTINGS__AWS__BILLING__SECRET'
    account: 'store actual value as SETTINGS__AWS__BILLING__ACCOUNT'
  s3:
    # NOTE: for TD the access and secret must be blank/empty string!
    # This is to allow TD to set the access and secret using
    # a cross-account via Jenkins.
    # Currently this is handled by setting an environment
    # variable to `''` explcitly.
    access: 'store actual value as SETTINGS__AWS__S3__ACCESS'
    secret: 'store actual value as SETTINGS__AWS__S3__SECRET'
    bucket: 'store actual value as SETTINGS__AWS__S3__BUCKET'
  sns:
    access: 'store actual value as SETTINGS__AWS__SNS__ACCESS'
    secret: 'store actual value as SETTINGS__AWS__SNS__SECRET'
    submitted_topic_arn: 'store actual value as SETTINGS__AWS__SNS__SUBMITTED_TOPIC_ARN'
  sqs:
    access: 'store actual value as SETTINGS__AWS__SQS__ACCESS'
    secret: 'store actual value as SETTINGS__AWS__SQS__SECRET'

slack:
  bot_url: 'slack_bot_url'
  bot_name: 'bot_name'
  success_icon: ':icon:'
  fail_icon: ':icon:'

govuk_notify:
  api_key: 'never-put-real-api-key-here-use-env-vars'
  templates:
    message_added_email: 'message_added_email_template_uuid'
    password_reset: 'password_reset_template_uuid'
    new_user: 'new_user_template_uuid'
    new_external_admin: 'new_external_admin_template_uuid'
    new_external_advocate_admin: 'new_external_advocate_admin_template_uuid'
    new_external_litigator_admin: 'new_external_litigator_admin_template_uuid'
    unlock_instructions: 'unlock_instructions_template_uuid'

notify_report_errors: <%= ENV["ENV"].in?(%w[api-sandbox production]) %>

postcode_regexp: !ruby/regexp '/\A([Gg][Ii][Rr] 0[Aa]{2})|((([A-Za-z][0-9]{1,2})|(([A-Za-z][A-Ha-hJ-Yj-y][0-9]{1,2})|(([A-Za-z][0-9][A-Za-z])|([A-Za-z][A-Ha-hJ-Yj-y][0-9]?[A-Za-z])))) [0-9][A-Za-z]{2})\z/'

maat_regexp: !ruby/regexp <%= ENV['MAAT_REGEXP'] || '/^[2-9][0-9]{6}$/' %>

maat_api_url: <%= ENV['MAAT_API_URL'] %>
maat_api_oauth_client_id: <%= ENV['OAUTH_CLIENT_ID'] %>
maat_api_oauth_client_secret: <%= ENV['OAUTH_CLIENT_SECRET'] %>
maat_api_oauth_scope: <%=ENV['OAUTH_SCOPE'] %>
maat_api_oauth_url: <%=ENV['OAUTH_URL']%>

secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
google_api_key: <%= ENV["GOOGLE_API_KEY"] %>

research_panel_url: https://forms.office.com/Pages/ResponsePage.aspx?id=KEeHxuZx_kGp4S6MNndq2BpeqOUlDIpGmeYA_28YLbNUMjJaNVJIMzdQMkRLRUFEM05VVEFNSlpCQS4u

laa_header_link:
  caseworker: https://intranet.justice.gov.uk/?agency=laa
  provider: https://www.gov.uk/government/organisations/legal-aid-agency