trial_cracked_at_third:
  - first_third
  - second_third
  - final_third

advocate_categories:
  - QC
  - Led junior
  - Leading junior
  - Junior alone

agfs_reform_advocate_categories:
  - QC
  - Leading junior
  - Junior

court_types:
   - Magistrates' Court
   - Crown Court

claim_actions:
  - Apply for redetermination
  - Request written reasons

date_format: "%d/%m/%Y"
date_time_format: "%d/%m/%Y %H:%M"

high_value_claim_threshold: 20000

earliest_permitted_date: <%= 10.years.ago.to_date %>
earliest_permitted_date_in_words: 10 years ago

interim_earliest_permitted_repo_date: <%= Date.new(2014,10,2) %>

google_analytics:
  endpoint: "http://www.google-analytics.com/collect"
  version: 1
  tracker_id: <%= ENV['GA_TRACKER_ID'] %>
  fallback_client_id: <%= ENV['FALLBACK_CLIENT_ID'] || '555' %>

# This value is not used - the max value of 20.megabytes is hard coded into models/document.rb:36
max_document_upload_size_mb: 400
max_document_upload_count: 40

max_item_amount: 200_000.00     # An item is each of the individual expenses, disbursements or fees
max_claim_amount: 1_000_000.00  # The total sum of all the individual items in a claim

claim_csv_headers:
  - :scheme
  - :case_number
  - :supplier_number
  - :organisation
  - :case_type_name
  - :claim_total
  - :submission_type
  - :submitted_at
  - :allocated_at
  - :completed_at
  - :current_or_end_state
  - :state_reason_code
  - :rejection_reason
  - :case_worker
  - :disk_evidence_case

expense_schema_version: 2

# Feature flag to enable or disable API promo banner in the claims page
# If enabled, users will see it, and will have a 'dismiss' link to hide and do not show it again
api_promo_enabled?: true

# Feature flag to enable or disable the timed retention banner
# If enabled, external users will see it, and will have a 'dismiss' link to hide and do not show it again
timed_retention_banner_enabled?: true

# Feature flag to enable or disable the scheme filters in the claims list page
# If enabled, users with proper roles will see scheme radio buttons to filter the list
scheme_filters_enabled?: <%= ENV['ENV'] == 'demo' %>

# Feature flag to enable ability to set user email notification user preferences.  If true, external
# users will be able to set preference to say whether they want email notifications of outstanding messages
# on their claim
email_notification_enabled?: true

feature_flags_enabled?: true
active_features:
  - :agfs_fee_reform

# agfs_fee_reform_release_date: <%= Date.new(2018, 4, 1) %>
agfs_fee_reform_release_date: <%= ENV["ENV"].eql?('api-sandbox') ? Date.new(2018, 1, 1) : Date.new(2018, 4, 1) %>

# number of weeks in one state before automatic transition to archived pending delete
timed_transition_stale_weeks: 16

# number of weeks in archived pending delete before hard delete of claim
timed_transition_pending_weeks: 16

# number of weeks a claim can be soft deleted before hard delete of claim
timed_transition_soft_delete_weeks: 16

# Settings for remote API calls
# Override them in your settings.local.yml if needed, but DO NOT change these here
#
remote_api_key: 'not-provided'
remote_api_url: <%= (ENV['GRAPE_SWAGGER_ROOT_URL'] || 'http://localhost:3001') + '/api' %>

# contact email address
laa_contact_email: crowncourtdefence@legalaid.gsi.gov.uk
advocates_email: advocates-fee@legalaid.gsi.gov.uk
litigators_email: litigators-fee@legalaid.gsi.gov.uk
phone_contact: '01158526000'

aws:
  access: <%= ENV['AWS_ACCESS_KEY'] %>
  secret: <%= ENV['SECRET_ACCESS_KEY'] %>
  submitted_queue: <%= ENV['AWS_QUEUE_NAME'] %>
  response_queue: <%= ENV['AWS_RESPONSE_QUEUE_NAME'] %>

slack:
  bot_url: 'slack_bot_url'
  channel: '#channel_name'
  bot_name: 'bot_name'
  success_icon: ':icon:'
  fail_icon: ':icon:'

govuk_notify:
  api_key: 'never-put-real-api-key-here-use-env-vars'
  templates:
    message_added_email: 'message_added_email_template_uuid'
    password_reset: 'password_reset_template_uuid'
    new_user: 'new_user_template_uuid'
    new_external_admin: 'new_external_admin_template_uuid'
    new_external_advocate_admin: 'new_external_advocate_admin_template_uuid'
    new_external_litigator_admin: 'new_external_litigator_admin_template_uuid'
    unlock_instructions: 'unlock_instructions_template_uuid'
