---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/directions/json?alternatives=true&destination=MK40%201HG&key=<GOOGLE_API_KEY>&origin=A%20galaxy%20far%20far%20away&region=uk
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "geocoded_waypoints" : [
              {
                 "geocoder_status" : "ZERO_RESULTS"
              },
              {
                 "geocoder_status" : "OK",
                 "place_id" : "ChIJBbUWctC2d0gR0yPNDoNt0y8",
                 "types" : [ "postal_code" ]
              }
           ],
           "routes" : [],
           "status" : "NOT_FOUND"
        }
  recorded_at: Fri, 22 Jun 2018 15:13:01 GMT
recorded_with: VCR 3.0.3
