---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/directions/json?alternatives=true&destination=MK40%201HG&key=<GOOGLE_API_KEY>&origin=SW1A%202BJ&region=uk
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - London
    body:
      encoding: UTF-8
      string: |
        {
           "geocoded_waypoints" : [
              {
                 "geocoder_status" : "OK",
                 "place_id" : "ChIJdw_LwNoEdkgREO1Es8AzPHg",
                 "types" : [ "postal_code" ]
              },
              {
                 "geocoder_status" : "OK",
                 "place_id" : "ChIJBbUWctC2d0gR0yPNDoNt0y8",
                 "types" : [ "postal_code" ]
              }
           ],
           "routes" : [
              {
                 "bounds" : {
                    "northeast" : {
                       "lat" : 52.1394366,
                       "lng" : -0.1290263
                    },
                    "southwest" : {
                       "lat" : 51.5020045,
                       "lng" : -0.6093132
                    }
                 },
                 "copyrights" : "Map data ©2021",
                 "legs" : [
                    {
                       "distance" : {
                          "text" : "93.4 km",
                          "value" : 93373
                       },
                       "duration" : {
                          "text" : "1 hour 28 mins",
                          "value" : 5256
                       },
                       "end_address" : "Bedford MK40 1HG, UK",
                       "end_location" : {
                          "lat" : 52.1394366,
                          "lng" : -0.4708748999999999
                       },
                       "start_address" : "London SW1A 2BJ, UK",
                       "start_location" : {
                          "lat" : 51.5028702,
                          "lng" : -0.1295276
                       },
                       "steps" : [
                          {
                             "distance" : {
                                "text" : "0.4 km",
                                "value" : 389
                             },
                             "duration" : {
                                "text" : "1 min",
                                "value" : 63
                             },
                             "end_location" : {
                                "lat" : 51.50586329999999,
                                "lng" : -0.1308405
                             },
                             "html_instructions" : "Head \u003cb\u003enortheast\u003c/b\u003e on \u003cb\u003eHorse Guards Rd\u003c/b\u003e toward \u003cb\u003eDowning St\u003c/b\u003e",
                             "polyline" : {
                                "points" : "}cjyHphXECEC[Us@g@KKECUIKCGCM?I@[D]FYH[FM@]H[FqA^G@IDIFABIPKPUn@q@hB_@dA"
                             },
                             "start_location" : {
                                "lat" : 51.5028702,
                                "lng" : -0.1295276
                             },
                             "travel_mode" : "DRIVING"
                          },
                          {
                             "distance" : {
                                "text" : "0.8 km",
                                "value" : 767
                             },
                             "duration" : {
                                "text" : "2 mins",
                                "value" : 116
                             },
                             "end_location" : {
                                "lat" : 51.5020665,
                                "lng" : -0.1400916
                             },
                             "html_instructions" : "Turn \u003cb\u003eleft\u003c/b\u003e onto \u003cb\u003eThe Mall\u003c/b\u003e\u003cdiv style=\"font-size:0.9em\"\u003eEntering toll zone\u003c/div\u003e",
                             "maneuver" : "turn-left",
                             "polyline" : {
                                "points" : "svjyHvpXJ\\Nd@Ld@FR`@nAvBtHlArDDNnArDd@|ARn@p@xBzAbFhAnD`@rAZdAHVVx@Rt@"
                             },
                             "start_location" : {
                                "lat" : 51.50586329999999,
                                "lng" : -0.1308405
                             },
                             "travel_mode" : "DRIVING"
                          },
                 [...]
