---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/directions/json?alternatives=true&destination=MK40%201HG&key=<GOOGLE_API_KEY>&origin=SW1A%202BJ&region=uk
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "geocoded_waypoints" : [
              {
                 "geocoder_status" : "OK",
                 "place_id" : "ChIJdw_LwNoEdkgREO1Es8AzPHg",
                 "types" : [ "postal_code" ]
              },
              {
                 "geocoder_status" : "OK",
                 "place_id" : "ChIJBbUWctC2d0gR0yPNDoNt0y8",
                 "types" : [ "postal_code" ]
              }
           ],
           "routes" : [
              {
                 "bounds" : {
                    "northeast" : {
                       "lat" : 52.1437474,
                       "lng" : -0.1271383
                    },
                    "southwest" : {
                       "lat" : 51.5028681,
                       "lng" : -0.609259
                    }
                 },
                 "copyrights" : "Map data ©2018 Google",
                 "legs" : [
                    {
                       "distance" : {
                          "text" : "95.8 km",
                          "value" : 95808
                       },
                       "duration" : {
                          "text" : "1 hour 36 mins",
                          "value" : 5758
                       },
                       "end_address" : "Bedford MK40 1HG, UK",
                       "end_location" : {
                          "lat" : 52.138715,
                          "lng" : -0.4708784
                       },
                       "start_address" : "London SW1A 2BJ, UK",
                       "start_location" : {
                          "lat" : 51.5028681,
                          "lng" : -0.1295372
                       },
                       "steps" : [
                          {
                             "distance" : {
                                "text" : "0.4 km",
                                "value" : 390
                             },
                             "duration" : {
                                "text" : "1 min",
                                "value" : 54
                             },
                             "end_location" : {
                                "lat" : 51.50586329999999,
                                "lng" : -0.1308405
                             },
                             "html_instructions" : "Head \u003cb\u003enortheast\u003c/b\u003e on \u003cb\u003eHorse Guards Rd\u003c/b\u003e toward \u003cb\u003eDowning St\u003c/b\u003e",
                             "polyline" : {
                                "points" : "}cjyHrhXIG_@Wm@e@OMECUIKCGCK?O?WD]HYH[FM@]H[FqA^G@IDIFABIPKPUn@q@hB_@dA"
                             },
                             "start_location" : {
                                "lat" : 51.5028681,
                                "lng" : -0.1295372
                             },
                             "travel_mode" : "DRIVING"
                          },
                          {
                             "distance" : {
                                "text" : "0.3 km",
                                "value" : 255
                             },
                             "duration" : {
                                "text" : "3 mins",
                                "value" : 150
                             },
                             "end_location" : {
                                "lat" : 51.5072685,
                                "lng" : -0.1279878
                             },
                             "html_instructions" : "Turn \u003cb\u003eright\u003c/b\u003e onto \u003cb\u003eThe Mall\u003c/b\u003e\u003cdiv style=\"font-size:0.9em\"\u003eEntering toll zone\u003c/div\u003e\u003cdiv style=\"font-size:0.9em\"\u003eLeaving toll zone\u003c/div\u003e",
                             "maneuver" : "turn-right",
                             "polyline" : {
                                "points" : "svjyHvpXc@oA]iAo@uBe@sAGSMSCEEKk@eBKQEGEEIGGGKE"
                             },
                             "start_location" : {
                                "lat" : 51.50586329999999,
                                "lng" : -0.1308405
                             },
                             "travel_mode" : "DRIVING"
                          },
                          {
            [...]
