%h1.page-title Manage super administrators

%h2
  = @superadmin.email

%p
  Name:
  = @superadmin.name

- if can? :edit, @superadmin
  = link_to 'Edit', edit_super_admins_admin_super_admin_path(@superadmin), class: 'button'

- if can? :change_password, @superadmin
  = link_to 'Change password', change_password_super_admins_admin_super_admin_path(@superadmin), class: 'button'
