- if ep.injection_error
  .js-callout-injection-error
    .govuk-error-summary{ role: 'group', 'aria-labelledby': 'error-summary-heading', tabindex:'-1' }
      %h2.govuk-heading-m.govuk-error-summary__title{id: 'error-summary-heading'}
        = ep.injection_error_summary

      %span.form-hint
        = ep.injection_error_hint

      .govuk-error-summary__body
        %ul.govuk-list.govuk-error-summary__list
          - ep.injection_errors.each do |message|
            %li
              = govuk_link_to message, '#injection_error'
      .hide-link
        = govuk_link_to ep.injection_error_dismiss_text, dismiss_injection_attempt_path(ep.last_injection_attempt), method: :patch, remote: true, class: 'cb-dismiss-link'
