%section#advonote
  .timeline
    %h4
      Communication tool
    %ul.days
      %li
        %h5
          Today
        %ul
          %li
            %span.message-from
              Advocate
            %span.message
              Bacon ipsum dolor amet venison dolor short ribs prosciutto dolore filet mignon, proident pork loin adipisicing mollit boudin occaecat voluptate frankfurter. Cupidatat irure in, pork culpa prosciutto cow strip steak ham hock. Anim nisi aliqua flank pancettaariatur kielbasa pork loin. Rump cupidatat hamburger ad esse irure, mollit ex consequat pig veniam in eiusmod.
            %span.message-time
              3 June
              %span.time-ago
                1 hour ago
          %li
            %span.message-from
              Caseworker
            %span.message
              Tongue ex dolor prosciutto landjaeger frankfurter chicken. Pastrami enim culpa aute alcatra porchetta pork in boudin meatball turkey pancetta nulla occaecat. Boudin swine ut pancetta frankfurter drumstick. Porchetta strip steak chuck eu ut ut in consectetur.
            %span.message-time
              3 June
              %span.time-ago
                2 hours ago
          %li
            %span.message-from
              Advocate
            %span.message
              Bacon ipsum dolor amet venison dolor short ribs prosciutto dolore filet mignon, proident pork loin adipisicing mollit boudin occaecat voluptate frankfurter. Cupidatat irure in, pork culpa prosciutto cow strip steak ham hock. Anim nisi aliqua flank pancettaariatur kielbasa pork loin. Rump cupidatat hamburger ad esse irure, mollit ex consequat pig veniam in eiusmod.
            %span.message-time
              3 June
              %span.time-ago
                2 hours ago
      %li
        %h5
          Yesterday
        %ul
          %li
            %span.message-from
              Caseworker
            %span.message
              Tongue ex dolor prosciutto landjaeger frankfurter chicken. Pastrami enim culpa aute alcatra porchetta pork in boudin meatball turkey pancetta nulla occaecat. Boudin swine ut pancetta frankfurter drumstick. Porchetta strip steak chuck eu ut ut in consectetur.
            %span.message-time
              2 June
              %span.time-ago
                1 day ago
          %li
            %span.message-from
              Advocate
            %span.message
              Bacon ipsum dolor amet venison dolor short ribs prosciutto dolore filet mignon, proident pork loin adipisicing mollit boudin occaecat voluptate frankfurter. Cupidatat irure in, pork culpa prosciutto cow strip steak ham hock. Anim nisi aliqua flank pancettaariatur kielbasa pork loin. Rump cupidatat hamburger ad esse irure, mollit ex consequat pig veniam in eiusmod.
            %span.message-time
              2 June
              %span.time-ago
                1 day ago
      %li
        %h5
          May
        %ul
          %li
            %span.message-from
              Caseworker
            %span.message
              Tongue ex dolor prosciutto landjaeger frankfurter chicken. Pastrami enim culpa aute alcatra porchetta pork in boudin meatball turkey pancetta nulla occaecat. Boudin swine ut pancetta frankfurter drumstick. Porchetta strip steak chuck eu ut ut in consectetur.
            %span.message-time
              22 May
              %span.time-ago
                15 days ago

        

    %form
      %textarea{placeholder: 'Message'}
      %button.button
        Submit

