// todo:
// add claim number ti claim input
%section#advonote
  %form
    %textarea{placeholder: 'Short description of request'}
    %input{type: 'text', disabled: 'disabled', value: 'Claim'}
    %input{type: 'text', placeholder: 'Summary/ title'}
    %select
      %option
        Select note type
      %option{value: 'request'}
        Request
      %option{value: 'question'}
        Question
      %option{value: 'problem'}
        Problem
    %button.button
      Submit
  .timeline
    %h4
      Past questions &amp; requests
    %ul
      %li
        %header
          %h5
            Case12345
          %span.timeago
            3 days ago
          %span.type
            Request
        Bacon ipsum dolor amet venison dolor short ribs prosciutto dolore filet mignon, proident pork loin adipisicing mollit boudin occaecat voluptate frankfurter. Cupidatat irure in, pork culpa prosciutto cow strip steak ham hock. Anim nisi aliqua flank pariatur kielbasa pork loin. Rump cupidatat hamburger ad esse irure, mollit ex consequat pig veniam in eiusmod.
      %li
        %header
          %h5
            Case12345
          %span.timeago
            3 days ago
          %span.type
            Problem
          Tongue ex dolor prosciutto landjaeger frankfurter chicken. Pastrami enim culpa aute alcatra porchetta pork in boudin meatball turkey pancetta nulla occaecat. Boudin swine ut pancetta frankfurter drumstick. Porchetta strip steak chuck eu ut ut in consectetur.
      %li
        %header
          %h5
            Case12345
          %span.timeago
            3 days ago
          %span.type
            Question
          Shankle strip steak eu est deserunt leberkas tempor eiusmod in beef dolor in pancetta exercitation. Turkey capicola ut aute, dolor frankfurter pastrami ullamco dolore commodo velit prosciutto veniam beef. Short ribs landjaeger short loin ullamco turkey ground round ut. Cow ut tail eiusmod. Venison commodo frankfurter aliqua. Esse eu aliquip proident, spare ribs labore in corned beef chicken in exercitation adipisicing.

