%section 
  %form#claim-status
    %div
      %label
        %input{type: 'radio', name: 'payment-status'}
        Paid in full
      %label
        %input{type: 'radio', name: 'payment-status'}
        Part paid
      %label
        %input{type: 'radio', name: 'payment-status'}
        Not paid

    %textarea{placeholder: 'Reason/ description'}

    .actions
      %button.draft
        Save draft
      %button.button
        Complete