.container
  - if params[:search].present?
    #search-summary
      = render partial: 'shared/search_summary'
.container
  = render partial: 'search_form', locals: { archived: params[:action] == 'archived' ? true : false }

- if @claims.present?
  = render partial: 'claims'
