#claim-accordion
  %h2.govuk-heading-l
    = t('shared.claim_information.messages')

  - present(@claim) do |claim|
    = render partial: 'shared/claim_history', locals: { claim: claim }
    = render partial: 'shared/claim_status', locals: { claim: claim, status_disabled: false }
