%section
  %ol#evidence-list
    - @doc_types.each do |doc_type|
      %li
        = doc_type.description
        - if @claim.has_doctype?(doc_type)
          - document = @claim.doc_of_type(doc_type)
          .item-controls
            - if document.has_pdf_duplicate?
              = link_to 'View', document_path(document), target: '_blank', class: 'view'
              = link_to 'Download', download_document_path(document), class: 'download'
