%section 
  %ol#evidence-list
    %li
      The front sheet(s) from the commital bundle
      .item-controls
        %a.view
          View
        %a.download
          Download
    %li
      A copy of the indictment
      .item-controls
        %a.view
          View
        %a.download
          Download
    %li
      Order in respect of Judicial appointment
      .item-controls
        %a.view
          View
        %a.download
          Download
    %li
      Invoices / reciepts for accomodation and travel expenses
      .item-controls
        %a.view
          View
        %a.download
          Download
    %li
      Hardship supporting evidence
      .item-controls
        %a.view
          View
        %a.download
          Download
    %li
      Details of any and all fee advancements made previously
      .item-controls
        %a.view
          View
        %a.download
          Download
    %li
      Other supporting evidence. A list of acceptable evidence
      .item-controls
        %a.view
          View
        %a.download
          Download
    %li
      Supporting evidence deemed unsuitable for summary trial
      .item-controls
        %a.view
          View
        %a.download
          Download