%nav.dashboard-tabs
  %ul
    - if current_user.persona.admin?
      %li{ class: ('active' if params[:tab] == 'allocated' || (params[:tab].blank? && controller.controller_name == 'claims')) }
        = link_to t('.allocated_claims_count', allocated_claims_count: allocated_claims_count), case_workers_claims_path(params.except(:controller, :action).merge(tab: 'allocated'))
      %li{ class: ('active' if params[:tab] == 'unallocated') }
        = link_to t('.unallocated_claims_count', unallocated_claims_count: unallocated_claims_count), case_workers_claims_path(params.except(:controller, :action).merge(tab: 'unallocated'))
    - else
      %li{ class: ('active' if params[:tab] == 'current' || (params[:tab].blank? && controller.controller_name == 'claims')) }
        = link_to t('.current_claims_count', current_claims_count: current_claims_count), case_workers_claims_path(params.except(:controller, :action).merge(tab: 'current'))

    %li{ class: ('active' if params[:tab] == 'completed') }
      = link_to t('.completed_claims_count', completed_claims_count: completed_claims_count), case_workers_claims_path(params.except(:controller, :action).merge(tab: 'completed'))
