%section
  %ul#payments
    %li
      %div
        %h3
          Expenses
        = number_to_currency(@claim.expenses_total)
      %a
        Details
    %li
      %div
        %h3
          Fees
        = number_to_currency(@claim.fees_total)
      %a
        Details
    - if @claim.vat_required?
      %li
        %div
          %h3
            VAT
          = number_to_currency(@claim.total * 0.20)
        %a
          Details
    %li
      %div
        %h3
          Total
        = number_to_currency(@claim.total)
      %a
        Details
