%ul#payments
  %li
    %div
      %h3
        Expenses
    %a
      Details
  %li
    %div
      %h3
        Fees
    %a
      Details
  %li
    %div
      %h3
        VAT
      &pound;xxx
    %a
      Details
  %li
    %div
      %h3
        Total
      &pound;1080.65
    %a
      Details
