.container
  .search-wrapper
    = render partial: 'shared/search_form', locals: { search_path: defined?(archived) && archived ? archived_case_workers_claims_path(anchor: 'listanchor') : case_workers_claims_path(anchor: 'listanchor'), hint_text: t('case_workers.claims.hint.search'), button_text: t('search.claims') }
