= render partial: 'shared/search_form', locals: { search_path: defined?(archived) && archived ? archived_case_workers_claims_path(anchor: 'search-button') : case_workers_claims_path(anchor: 'search-button'), hint_text: t('case_workers.claims.hint.search'), button_text: t('search.claims') }
