- present(@claim) do |claim|
  = render partial: 'case_workers/claims/summary_page_nav_bar', locals: { claim: claim }
  = render partial: 'shared/claim_history', locals: { claim: claim }
  = render partial: 'shared/claim_status', locals: { claim: claim, status_disabled: false }
