%nav.govuk-breadcrumbs{ 'aria-label': t('.sub_navigation') }
  %ul.govuk-breadcrumbs__list.breadcrumbs_seperator
    %li.govuk-breadcrumbs__list-item
      = govuk_link_to t('.claim_status'), status_case_workers_claim_path(claim), class: cp(status_case_workers_claim_path(claim))
    %li.govuk-breadcrumbs__list-item
      = govuk_link_to t('.claim_information'), information_case_workers_claim_path(claim), class: cp(information_case_workers_claim_path(claim))
