%h1.page-title
  = "Claims"

#report-options.container
  = render partial: 'search_form'

#list-controls
  = render partial: 'list_controls'

- if @claims.none?
  %p
    No claims found
- else
  = render partial: 'caseworker_claims'
