- present(@claim) do |claim|

  - if @claim.errors.any?
    = render partial: 'errors/error_summary', locals:{ ep: @claim, error_summary: 'This claim has '}

  = render partial: 'shared/claim_header', locals: {  claim: claim }
  = render partial: 'shared/claim_accordion', locals: { claim: claim, status_disabled: false }
