%h1
  Claim
  = @claim.case_number
#claim-accordian
  %h2.open
    Claim based information
  = render @claim, locals: { hide_totals: true }
  %h2
    Claim payment
  = render partial: 'payments'
  %h2
    Representation order
  = render partial: 'representation_order'
  %h2
    Evidence list
  %h2
    AdvoNote
  %h2
    Claim notes
  %h2
    Update status of claim