- present(@claim) do |claim|

  - if @claim.errors.any?
    = render 'errors/error_summary', ep: @claim, error_summary: 'This claim has '

  - if @claim.injection_attempts&.last&.failed?
    = render 'errors/error_injection_summary', ep: @claim, error_summary: 'Data injection error'

  = render partial: 'shared/claim_header', locals: { claim: claim }
  = render partial: 'shared/claim_accordion', locals: { claim: claim, status_disabled: false }
