- if claim.injection_error.present? || claim.disk_evidence
  %div.error-message-container
    - if claim.injection_error
      - claim.injection_error do |message|
        %div.error-message
          = message
    - if claim.disk_evidence
      %div.error-message
        = t('.disk_evidence')
