---
http_interactions:
- request:
    method: post
    uri: https://ministryofjustice.zendesk.com/api/v2/tickets
    body:
      encoding: UTF-8
      string: '{"ticket":{"subject":"Bug report (test)","description":"case_number:
        XXX - event: lorem - outcome: ipsum - email: example@example.com","custom_fields":[{"id":"26047167","value":"/index"},{"id":"23757677","value":"advocate_defence_payments"},{"id":"23791776","value":"Firefox"},{"id":"32342378","value":"test"}],"comment":null}}'
    headers:
      Authorization:
      - Basic Og==
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Www-Authenticate:
      - Basic realm="Web Password"
      X-Zendesk-Origin-Server:
      - classic-app-server-c4cf47859-8ndct
      X-Zendesk-Zorg:
      - 'yes'
    body:
      encoding: UTF-8
      string: '{"error":"Couldn''t authenticate you"}'
  recorded_at: Thu, 19 Jan 2023 23:42:37 GMT
recorded_with: VCR 6.1.0
