.form-group.basic-fee-group.nested-fields.fee-details.js-block{class: to_slug(f.object.description), data:{type:'gradFees', autovat: @claim.apply_vat? ? "true" : "false", "block-type": f.object.calculated? ? "FeeBlock" : "FeeBlock"}}
  %fieldset
    .form-group
      %span.bold
        Case type
      %p
        = f.object.claim.case_type.name
    .form-group
      %span.bold
        Offence
      %ul.list.list-bullet
        %li
          %span.bold> Class
          \:
          -# = f.object.claim.offence.description
          = "MODEL?"
        %li
          %span.bold> Category
          \:
          -# = f.object.claim.offence.contrary
          = "MODEL?"
    // = @claim.fee_scheme
    //fee_reform
    //default
    = f.adp_text_field :amount,
                          label: t('.total'),
                          input_classes:'total form-control-1-4 form-input-denote__input',
                          input_type: 'currency',
                          errors: @error_presenter

    %details{:role => "group"}
      %summary{"aria-controls" => "details-content-0", "aria-expanded" => "false", :role => "button"}
        %span.summary Help with basic fees
      #details-content-0.panel.panel-border-narrow{"aria-hidden" => "true"}
        %p Basic fees include:
        %ul.list.list-bullet
          %li 2 daily attendance fees
          %li 4 standard appearance fees
          %li
            1 plea and trial preparation hearing (
            %abbr{:title => "plea and trial preparation hearing"}> PTPH
            )
          %li 3 conferences and views
