.grid-row
  .heading-medium
    = fee.section_header('external_users.claims.basic_fees.basic_fee_uncalculated_fields')
  .heading-small.fee-type
    = fee.section_hint('external_users.claims.basic_fees.basic_fee_uncalculated_fields')

.grid-row
  .column-one-quarter.fee-quantity{ style: 'text-align: left;'}
    = f.adp_text_field :quantity,
                        input_classes:'quantity',
                        input_type: 'number',
                        value: fee.quantity,
                        errors: @error_presenter
.grid-row
  .column-one-quarter.fee-rate{ style: 'text-align: left;'}
    = f.adp_text_field :amount,
                        label: t('.total'),
                        input_classes:'total',
                        input_type: 'currency',
                        value: number_with_precision(fee.fee.amount, precision: 2),
                        errors: @error_presenter
