.grid-row
  %h2.bold-medium
    = fee.section_header('external_users.claims.basic_fees.basic_fee_uncalculated_fields')
  .column-one-half.fee-type
    = fee.section_hint('external_users.claims.basic_fees.basic_fee_uncalculated_fields')

  .column-one-quarter.fee-quantity
    = f.adp_text_field :quantity, label: t('.quantity'), input_classes:'quantity', input_type: 'number', errors: @error_presenter

  .column-one-quarter.fee-rate
    = f.adp_text_field :amount, label: t('.total'), input_classes:'total', input_type: 'currency', errors: @error_presenter
