%span.bold
  = @claim.hardship? ? t('dictionary.attributes.claims.case_stage') :t('dictionary.attributes.claims.case_type')
%p
= @claim.hardship? ? claim.case_stage.description : claim.case_type.name
