- unless @claim.allows_fixed_fees?

  #basic-fees.mod-fees{"data-mute-indictment": @claim.allows_fixed_fees? ? "true" : "false"}
    %h2.bold-medium
      = t('.basic_fees')
    %p
      = raw t('.fee_prompt_text')

    = f.fields_for :basic_fees, f.object.basic_fees.sort_by(&:position) do |basic_fee_fields|
      - @basic_fee_count += 1
      - if present(basic_fee_fields.object).should_be_displayed?
        = render 'external_users/claims/basic_fees/basic_fee_fields', f: basic_fee_fields
