- if fee.claim.case_type.name.downcase.eql?('trial')
  .form-group
    %p
      %span{ class: 'govuk-!-font-weight-bold' }
        = t('.first_day_of_trial')
      %br
      = fee.first_day_of_trial

- elsif fee.claim.case_type.name.downcase.eql?('retrial')
  .form-group
    %p
      %span{ class: 'govuk-!-font-weight-bold' }
        = t('.retrial_started_at')
      %br
      = fee.retrial_started_at
