.form-section
  %h3#prosecution-evidence.heading-medium
    Pages of prosecution evidence (
    %abbr{:title => "pages of prosecution evidence"}> PPE
    )
  .form-group
    %fieldset
      .form-group
        %label.form-label-bold{:for => "total-number-of-pages-of-prosecution-evidence"}
          Total number of pages
          %span.form-hint Please remove all cover sheets from the total count
        %input#total-number-of-pages-of-prosecution-evidence.form-control.form-control-1-4{:autocapitalize => "off", :autocomplete => "off", :autocorrect => "off", :max => "999999", :min => "0", :name => "total_number_of_pages_of_prosecution_evidence", :spellcheck => "false", :step => "1", :type => "number", :value => ""}/
      .form-group
        %label.form-label-bold{:for => "prosecution-evidence-net-amount"}
          Net amount
        %span.form-input-denote
          £
        %input#prosecution-evidence-net-amount.form-control.form-control-1-4.form-input-denote__input{:autocapitalize => "off", :autocorrect => "off", :max => "999999.99", :min => "0.00", :name => "prosecution_evidence_net_amount", :spellcheck => "false", :step => "0.01", :type => "number", :value => ""}/
