.form-section
  %h3.heading-medium
    Additional details
  %p Something, something something
  .form-group
    %fieldset
      %legend.heading-small
        Type of fee
        %span.form-hint
          Please choose all relevant options

      .multiple-choice{"data-target" => "daily-attendance-fees-panel"}
        %input#daily-attendance-fees{"aria-controls" => "daily-attendance-fees-panel", "aria-expanded" => "false", :autocapitalize => "off", :autocorrect => "off", "data-com.agilebits.onepassword.user-edited" => "yes", :name => "graduated_fees_checklist", :spellcheck => "false", :type => "checkbox", :value => "daily_attendance_fees"}/
        %label{:for => "daily-attendance-fee"}
          Daily attendance fee
      #daily-attendance-fees-panel.panel.panel-border-narrow.js-hidden{"aria-hidden" => "true"}
        .form-group
          %label.form-label-bold{:for => "daily-attendance-fees-number-of-days"}
            Number of days
            %span.form-hint
              Include all days attended
          %input#daily-attendance-fees-number-of-days.form-control.form-control-1-8{:autocapitalize => "off", :autocorrect => "off", :name => "daily_attendance_fees_number_of_days", :spellcheck => "false", :type => "text", :value => ""}/
        .form-group
          %fieldset
            %legend.form-label-bold{:style => "width:100%;"}
              Date attended 1
              %span.form-hint
                For example, 31 3 2017
            .form-date
              .form-group.form-group-day
                %label.form-label{:for => "daily-attendance-fees-date-attended-1-day"}
                  Day
                %input#daily-attendance-fees-date-attended-1-day.form-control{:autocapitalize => "off", :autocorrect => "off", :max => "31", :min => "1", :name => "daily_attendance_fees_date_attended_1_day", :pattern => "[0-9]*", :spellcheck => "false", :type => "number", :value => ""}/
              .form-group.form-group-month
                %label.form-label{:for => "daily-attendance-fees-date-attended--month"}
                  Month
                %input#daily-attendance-fees-date-attended-1-month.form-control{:autocapitalize => "off", :autocorrect => "off", :max => "12", :min => "1", :name => "daily_attendance_fees_date_attended_1_month", :pattern => "[0-9]*", :spellcheck => "false", :type => "number", :value => ""}/
              .form-group.form-group-year
                %label.form-label{:for => "daily-attendance-fees-date-attended--year"}
                  Year
                %input#daily-attendance-fees-date-attended-1-year.form-control{:autocapitalize => "off", :autocorrect => "off", :max => "2019", :min => "1900", :name => "daily_attendance_fees_date_attended_1_year", :pattern => "[0-9]*", :spellcheck => "false", :type => "number", :value => ""}/
        .form-group
          %a{:href => "#noop"}
            Add another date
        / TODO: If actual trial length is greater than 2, show box. Need some JS here??
        /
        .form-group
          %label.form-label-bold{:for => "daily-attendance-fees-net-amount"}
            Net amount
          %span.form-input-denote
            £
          %input#daily-attendance-fees-net-amount.form-control.form-control-1-4.form-input-denote__input{:autocapitalize => "off", :autocorrect => "off", :max => "999999.99", :min => "0.00", :name => "daily_attendance_fees_net_amount", :spellcheck => "false", :step => "0.01", :type => "number", :value => ""}/

      .multiple-choice{"data-target" => "standard-appearance-fees-panel"}
        %input#standard-appearance-fees{"aria-controls" => "standard-appearance-fees-panel", "aria-expanded" => "false", :autocapitalize => "off", :autocorrect => "off", "data-com.agilebits.onepassword.user-edited" => "yes", :name => "graduated_fees_checklist", :spellcheck => "false", :type => "checkbox", :value => "standard_appearance_fees"}/
        %label{:for => "standard-appearance-fees"}
          Standard appearance fee
      #standard-appearance-fees-panel.panel.panel-border-narrow.js-hidden{"aria-hidden" => "true"}
        .form-group
          %label.form-label-bold{:for => "standard-appearance-fees-number-of-appearances"}
            Number of appearances
          %input#standard-appearance-fees-number-of-appearances.form-control.form-control-1-4{:autocapitalize => "off", :autocorrect => "off", :name => "standard_appearance_fees_number_of_appearances", :spellcheck => "false", :type => "text", :value => ""}/
        .form-group
          %fieldset
            %legend.form-label-bold
              Date attended 1
              %span.form-hint
                For example, 31 3 2017
            .form-date
              .form-group.form-group-day
                %label.form-label{:for => "standard-appearance-fees-date-attended-1-day"}
                  Day
                %input#standard-appearance-fees-date-attended-1-day.form-control{:autocapitalize => "off", :autocorrect => "off", :max => "31", :min => "1", :name => "standard_appearance_fees_date_attended_1_day", :pattern => "[0-9]*", :spellcheck => "false", :type => "number", :value => ""}/
              .form-group.form-group-month
                %label.form-label{:for => "standard-appearance-fees-date-attended-1-month"}
                  Month
                %input#standard-appearance-fees-date-attended-1-month.form-control{:autocapitalize => "off", :autocorrect => "off", :max => "12", :min => "1", :name => "standard_appearance_fees_date_attended_1_month", :pattern => "[0-9]*", :spellcheck => "false", :type => "number", :value => ""}/
              .form-group.form-group-year
                %label.form-label{:for => "standard-appearance-fees-date-attended-1-year"}
                  Year
                %input#standard-appearance-fees-date-attended-1-year.form-control{:autocapitalize => "off", :autocorrect => "off", :max => "2019", :min => "1900", :name => "standard_appearance_fees_date_attended_1_year", :pattern => "[0-9]*", :spellcheck => "false", :type => "number", :value => ""}/
        .form-group
          %a{:href => "#noop"}
            Add another date
        .form-group
          %label.form-label-bold{:for => "standard-appearance-fees-net-amount"}
            Net amount
          %span.form-input-denote
            £
          %input#standard-appearance-fees-net-amount.form-control.form-control-1-4.form-input-denote__input{:autocapitalize => "off", :autocorrect => "off", :max => "999999.99", :min => "0.00", :name => "standard_appearance_fees_net_amount", :spellcheck => "false", :step => "0.01", :type => "number", :value => ""}/

      .multiple-choice{"data-target" => "plea-trial-prep-hearings-panel"}
        %input#plea-trial-prep-hearings{"aria-controls" => "plea-trial-prep-hearings-panel", "aria-expanded" => "false", :autocapitalize => "off", :autocorrect => "off", "data-com.agilebits.onepassword.user-edited" => "yes", :name => "graduated_fees_checklist", :spellcheck => "false", :type => "checkbox", :value => "plea_trial_prep_hearings"}/
        %label{:for => "plea-trial-prep-hearings"}
          Plea and trial preparation hearing
      #plea-trial-prep-hearings-panel.panel.panel-border-narrow.js-hidden{"aria-hidden" => "true"}
        .form-group
          %label.form-label-bold{:for => "plea-trial-prep-hearings-number-of-hearings"}
            Number of hearings
          %input#plea-trial-prep-hearings-number-of-hearings.form-control.form-control-1-4{:autocapitalize => "off", :autocorrect => "off", :name => "plea_trial_prep_hearings_number_of_hearings", :spellcheck => "false", :type => "text", :value => ""}/
        .form-group
          %fieldset
            %legend.form-label-bold
              Date attended 1
              %span.form-hint
                For example, 31 3 2017
            .form-date
              .form-group.form-group-day
                %label.form-label{:for => "plea-trial-preparation-hearings-date-attended-1-day"}
                  Day
                %input#plea-trial-preparation-hearings-date-attended-1-day.form-control{:autocapitalize => "off", :autocorrect => "off", :max => "31", :min => "1", :name => "plea_trial_preparation_hearings_date_attended_1_day", :pattern => "[0-9]*", :spellcheck => "false", :type => "number", :value => ""}/
              .form-group.form-group-month
                %label.form-label{:for => "plea-trial-preparation-hearings-date-attended-1-month"}
                  Month
                %input#plea-trial-preparation-hearings-date-attended-1-month.form-control{:autocapitalize => "off", :autocorrect => "off", :max => "12", :min => "1", :name => "plea_trial_preparation_hearings_date_attended_1_month", :pattern => "[0-9]*", :spellcheck => "false", :type => "number", :value => ""}/
              .form-group.form-group-year
                %label.form-label{:for => "plea-trial-preparation-hearings-date-attended-1-year"}
                  Year
                %input#plea-trial-preparation-hearings-date-attended-1-year.form-control{:autocapitalize => "off", :autocorrect => "off", :max => "2019", :min => "1900", :name => "plea_trial_preparation_hearings_date_attended_1_year", :pattern => "[0-9]*", :spellcheck => "false", :type => "number", :value => ""}/
        .form-group
          %a{:href => "#noop"}
            Add another date
        .form-group
          %label.form-label-bold{:for => "plea-trial-prep-hearing-net-amount"}
            Net amount
          %span.form-input-denote
            £
          %input#plea-trial-prep-hearing-net-amount.form-control.form-control-1-4.form-input-denote__input{:autocapitalize => "off", :autocorrect => "off", :max => "999999.99", :min => "0.00", :name => "plea_trial_prep_hearing_net_amount", :spellcheck => "false", :step => "0.01", :type => "number", :value => ""}/

      .multiple-choice{"data-target" => "conferences-views-panel"}
        %input#conferences-views{"aria-controls" => "conferences-views-panel", "aria-expanded" => "false", :autocapitalize => "off", :autocorrect => "off", "data-com.agilebits.onepassword.user-edited" => "yes", :name => "graduated_fees_checklist", :spellcheck => "false", :type => "checkbox", :value => "conferences_views"}/
        %label{:for => "conferences-views"}
          Conferences and views
      #conferences-views-panel.panel.panel-border-narrow.js-hidden{"aria-hidden" => "true"}
        .form-group
          %label.form-label-bold{:for => "number-of-conferences-views"}
            Number of conferences and views
          %input#number-of-conferences-views.form-control.form-control-1-4{:autocapitalize => "off", :autocorrect => "off", :name => "number_of_conferences_views", :spellcheck => "false", :type => "text", :value => ""}/
        .form-group
          %label.form-label-bold{:for => "conference-views-net-amount"}
            Net amount
          %span.form-input-denote
            £
          %input#conference-views-net-amount.form-control.form-control-1-4.form-input-denote__input{:autocapitalize => "off", :autocorrect => "off", :max => "999999.99", :min => "0.00", :name => "conferences_views_net_amount", :spellcheck => "false", :step => "0.01", :type => "number", :value => ""}/

      .multiple-choice{"data-target" => "defendants-uplift-panel"}
        %input#defendants-uplift{"aria-controls" => "defendants-uplift-panel", "aria-expanded" => "false", :autocapitalize => "off", :autocorrect => "off", "data-com.agilebits.onepassword.user-edited" => "yes", :name => "graduated_fees_checklist", :spellcheck => "false", :type => "checkbox", :value => "defendants_uplift"}/
        %label{:for => "defendants-uplift"}
          Number of defendants uplift
      #defendants-uplift-panel.panel.panel-border-narrow.js-hidden{"aria-hidden" => "true"}
        .form-group
          %label.form-label-bold{:for => "number-of-defendants"}
            Number of defendants
          %input#number-of-defendants.form-control.form-control-1-4{:autocapitalize => "off", :autocorrect => "off", :name => "number_of_defendants", :spellcheck => "false", :type => "text", :value => ""}/
        .form-group
          %label.form-label-bold{:for => "defendants-uplift-net-amount"}
            Net amount
          %span.form-input-denote
            £
          %input#defendants-uplift-net-amount.form-control.form-control-1-4.form-input-denote__input{:autocapitalize => "off", :autocorrect => "off", :max => "999999.99", :min => "0.00", :name => "defendants_uplift_net_amount", :spellcheck => "false", :step => "0.01", :type => "number", :value => ""}/

      .multiple-choice{"data-target" => "cases-uplift-panel"}
        %input#cases-uplift{"aria-controls" => "cases-uplift-panel", "aria-expanded" => "false", :autocapitalize => "off", :autocorrect => "off", "data-com.agilebits.onepassword.user-edited" => "yes", :name => "graduated_fees_checklist", :spellcheck => "false", :type => "checkbox", :value => "cases_uplift"}/
        %label{:for => "cases-uplift"}
          Number of cases uplift
      #cases-uplift-panel.panel.panel-border-narrow.js-hidden{"aria-hidden" => "true"}
        .form-group
          %label.form-label-bold{:for => "number-of-cases"}
            Number of cases
          %input#number-of-cases.form-control.form-control-1-4{:autocapitalize => "off", :autocorrect => "off", :name => "number_of_cases", :spellcheck => "false", :type => "text", :value => ""}/
        #wrapped-additional-case-numbers.form-group
          %label.form-label-bold{:for => "additional-case-numbers"}
            Additional case numbers
            %span.form-hint
              Seperate with commas
          %input#additional-case-numbers.form-control{:autocapitalize => "off", :autocorrect => "off", :name => "additional_case_numbers", :spellcheck => "false", :type => "text", :value => ""}/
        .form-group
          %label.form-label-bold{:for => "cases-uplift-net-amount"}
            Net amount
          %span.form-input-denote
            £
          %input#cases-uplift-net-amount.form-control.form-control-1-4.form-input-denote__input{:autocapitalize => "off", :autocorrect => "off", :max => "999999.99", :min => "0.00", :name => "cases_uplift_net_amount", :spellcheck => "false", :step => "0.01", :type => "number", :value => ""}/
