.form-section
  %h3#prosecution-witnesses.heading-medium
    Prosecution witnesses
  .form-group
    %fieldset
      .form-group
        %label.form-label-bold{:for => "total-number-of-prosecution-witnesses"}
          Total number of prosecution witnesses
        %input#total-number-of-prosecution-witnesses.form-control.form-control-1-4{:autocapitalize => "off", :autocomplete => "off", :autocorrect => "off", :max => "9999", :min => "0", :name => "total_number_of_prosecution_witnesses", :spellcheck => "false", :step => "1", :type => "number", :value => ""}/
      .form-group
        %label.form-label-bold{:for => "prosecution-witnesses-net-amount"}
          Net amount
        %span.form-input-denote
          £
        %input#prosecution-witnesses-net-amount.form-control.form-control-1-4.form-input-denote__input{:autocapitalize => "off", :autocorrect => "off", :max => "999999.99", :min => "0.00", :name => "prosecution_witnesses_net_amount", :spellcheck => "false", :step => "0.00", :type => "number", :value => ""}/
