- unless claim.fixed_fee_case?
  - locale_claim_type_context = claim.hardship? ? 'hardship_claims' : 'claims'
  #basic-fees-section.app-summary-section
    = render partial: 'external_users/claims/summary_fees', locals: { claim: claim, header: t("external_users.#{locale_claim_type_context}.basic_fees.summary.header"), collection: claim.basic_fees.reject(&:blank?), editable: editable, section: section, step: :basic_fees }
