/*
 * List styles
 *
 * Copied from GOV.UK Design System
 */

.govuk-summary-list {
  @include core-19;
  margin: 0 0 $gutter-two-thirds 0;

  @media (min-width: 641px) {
    display: table;
    margin-bottom: $gutter;
    table-layout: fixed;
    width: $full-width;
  }

  .govuk-summary-list__row {
    border-bottom: 1px solid $border-colour;

    @media (min-width: 641px) {
      border: 0;
      display: table-row;
      margin-bottom: $gutter-half;
    }

    .govuk-summary-list__key {
      font-weight: 700;
      margin-bottom: $gutter-one-sixth;

      @media (min-width: 641px) {
        width: 30%;
      }
    }

    .govuk-summary-list__value {
      &:last-child {
        margin-bottom: 0;
      }

      @media (min-width: 641px) {
        margin-bottom: $gutter-half;
        width: $half;

        &:last-child {
          width: 70%;
        }
      }

      p {
        margin-bottom: $gutter-one-third;
      }
    }

    .govuk-summary-list__key,
    .govuk-summary-list__value {
      margin: 0;
      overflow-wrap: break-word;
      word-wrap: break-word;
    }

    .govuk-summary-list__actions {
      margin: 0 0 $gutter-half 0;

      @media (min-width: 641px) {
        padding-right: 0;
        text-align: right;
        width: $full-width / 5;
      }
    }

    .govuk-summary-list__key,
    .govuk-summary-list__value,
    .govuk-summary-list__actions {
      @media (min-width: 641px) {
        display: table-cell;
        padding: $gutter-one-third $gutter-two-thirds $gutter-one-third 0;
        border-bottom: 1px solid $border-colour;
      }
    }

  }

  .govuk-summary-list--no-border .govuk-summary-list__row {
    border: 0;
  }

  .govuk-summary-list--no-border {

    .govuk-summary-list__key,
    .govuk-summary-list__value,
    .govuk-summary-list__actions {
      @media (min-width: 641px) {
        padding-bottom: $gutter-one-third + 1;
        border: 0;
      }
    }
  }

  .govuk-summary-list__row--no-border {
    border: 0;

    .govuk-summary-list__key,
    .govuk-summary-list__value,
    .govuk-summary-list__actions {
      @media (min-width: 641px) {
        padding-bottom: $gutter-one-third + 1;
        border: 0;
      }
    }
  }
}
