/*--- Ported from v1 stylesheets ---*/

.fx-duplicate-expense {
  display: inline-block;
  padding: $gutter-one-sixth $gutter-half;
}

.dz-error-message {
  color: $error-colour;
}

.case-worker-reallocation {
  padding-bottom: $gutter;

  .margin-spacer-sm {
    padding: 0;
    margin: 25px 0 0 25px;
  }

  .awesomplete {
    input {
      width: 88%;
    }
  }
}

#js-provider-roles {
  display: none;
}

.search-wrapper {
  @include container;
  position: relative;
}

caption {
  @include container;
}

.table-caption {
  @include span(6 of 12);
  @include first;
}

.claim-count {
  @include span(6 of 12);
  @include last;
  text-align: right;
  font-weight: 400;
}

//Start a new claim

.expense-cost {
  legend {
    font-weight: normal;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  label {
    margin-top: 0;
    margin-bottom: 0;
  }
}

// ==========================================================================
// claim detail page

.financial-summary {
  padding-bottom: 56px;
  @include span(8 of 12);
  @include first;

  div {
    @include span(6 of 12);

    &:first-child {
      @include first;
    }

    &:last-child {
      @include last;
    }
  }

  p {
    margin: 0;
  }
}

.claims-actions {
  @include span(3 of 12);
  @include last;
}



// ==========================================================================
// Phase banner
.phase-banner {
  @include phase-banner();
}

// ================================================================//
// claims-list.SCSS
// ================================================================//
#claims-list {
  margin: 0;
  padding: 0;

  li {
    padding: 0;
    list-style-type: none;
  }
}

#claims-list>li {
  background-color: $grey-4;
  clear: both;
  overflow: hidden;
  padding: 1rem;

  &:nth-child(even) {
    background-color: $grey-3;
  }

}

.case-data-headings {
  margin: 0;
  padding: 0;

  li {
    //  @include span-columns(4);
    list-style-type: none;
  }
}

a.detail-link {
  border: 1px solid $button-colour;
  color: $button-colour;
  padding: 0.5rem;
  text-decoration: none;
}

.claim-controls {
  .toggle {
    background-image: file-url("list-toggle.png");
    background-position: 0 -48px;
    cursor: pointer;
    display: inline-block;
    height: 24px;
    width: 42px;
    margin: 0 0 $gutter-two-thirds 2px;

    &.expanded {
      background-position: 0 0;
    }
  }
}

.status-indicator {
  width: $gutter-two-thirds;
  height: $gutter-two-thirds;
}


// ================================================================//
// claim-accordion.SCSS
// ================================================================//
form {
  .extra-margin {
    margin-left: 0.2em;
    margin-right: 0.2em;
  }

  .validation-error {
    display: block;
    clear: left;
    color: $error-colour;
  }

  h2 {
    margin-top: $gutter-two-thirds;
  }

  fieldset {

    &.user-form {
      border-bottom: 0;
    }

    legend {
      font-weight: 700;
    }
  }

  textarea {
    width: $full-width;
    font-size: 1em;
  }

  h2+fieldset {
    margin-top: 0;
    padding-top: 0;
  }

  .nested-fields {
    margin-bottom: $gutter-two-thirds;
  }


  .nested-fields {

    td,
    th {
      border-bottom: 0;
      border-top: 1px solid $grey-2;
    }

    &.extra-data {

      th,
      td {
        border-top: 0;
        border-bottom: 1px solid $grey-2;
      }
    }
  }

  input[type="file"] {
    &.has-file {
      border-color: green;
      color: $ministry-of-justice;
      font-weight: 700;
    }
  }
}

.warning {
  display: block;
  padding: $gutter-half;
  color: red;
}

.remove-expense:first-child a {
  display: none;
}

.evidence-checklist div {
  float: left;
  margin-right: $gutter-one-third;
  margin-top: $gutter-two-thirds;
}

.defendants {
  .nested-fields .indent-fieldset {
    padding: 0;
  }
}

.controller-feedback fieldset {
  border: 0;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.indent-fieldset {
  border-left: 5px solid $border-colour;
  border-bottom: 0;
  padding-left: $gutter-half;
  padding-top: $gutter-one-sixth;
  padding-bottom: $gutter-one-sixth;
}

// ================================================================//
// ADMIN.SCSS
// ================================================================//
.working-pattern {
  li {
    display: inline;

    &:first-child {
      border-left: 1px solid $black;
    }

    border-top: 1px solid $black;
    border-bottom: 1px solid $black;
    border-right: 1px solid $black;
    padding-top: 0.3em;
    text-align: center;
    width: 15%;
    display: inline-block;
    background-color: $page-colour;

    &.working-day {
      background-color: $grey-2;
    }
  }
}

// ================================================================//
// COMMMUNICATION-TOOL.SCSS
// ================================================================//
#messages {
  float: left;
  margin-bottom: 1em;
  width: $full-width;

  .timeline {
    ul.days {
      padding: 0;

      &>li {
        padding-top: 1em;
        border-top: 1px solid $grey-2;
        list-style-type: none;
        margin: 1em 0 2em;

        h5 {
          width: 10em;
          margin: -2em auto 1em;
          text-align: center;
          background-color: $page-colour;
        }

        ul {
          margin: 0;
          padding: 0;

          .message-from,
          .message-time {
            padding: 0;
          }

          .time-ago {
            @include core-14;
            display: inline-block;
            padding-left: $gutter-one-sixth;
          }
        }

        li {
          float: left;
          width: $full-width;
          padding: $gutter-half;

          &:nth-child(even) {
            background-color: $grey-4;
          }
        }
      }
    }
  }

  form {
    min-height: 3em;
  }
}

// ================================================================//
// FLASH-NOTICES MESS
// ================================================================//
.flash {
  width: $two-thirds;
  margin: auto;
  padding: $gutter-one-sixth;
  font-weight: 700;

  &.notice {
    color: green;
  }

  &.alert {
    color: red;
  }
}

// ================================================================//
// TANDCS.SCSS
// ================================================================//
.tandcs {

  .section-title {
    font-weight: 700;
  }

  b {
    font-weight: 700;
  }

  ul {
    list-style-type: disc;
    padding-left: $gutter;

    ul {
      list-style-type: circle;
    }
  }

}

// ================================================================//
// certification.SCSS
// ================================================================//
.certification {

  ul,
  ol {
    list-style-type: initial;

  }

  ul {
    margin-left: 7%;
  }

  .confirmation-list {
    li {
      margin-bottom: $gutter;
    }
  }

  strong {
    font-weight: 700;
  }

  .button-holder {
    margin-top: $gutter;
  }

  .radio-wrapper {
    margin-left: 5%;
    @include clearfix;
  }
}

// ================================================================//
// claims-table.SCSS
// ================================================================//


.totals {
  padding-top: $gutter-two-thirds;
  padding-bottom: $gutter-two-thirds;
  text-align: right;
}

.filter-by-value {
  margin-left: $gutter-one-sixth;
  margin-right: $gutter-one-sixth;
}

// search result for tables when nothing exists
.search-summary .panel-indent {
  margin-top: 0;
  margin-right: 0;
}

/***************************************

Page specific styling for the Claims detail
page

***************************************/

.claim-header,
.claim-detail-header {
  margin-bottom: $gutter-half;
}



/****************************************
Other Claim Navigation
****************************************/
.other-claims {
  text-align: right;
}

.evidence-checklist-read-only .selected {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.defendant-row {
  .confirmation-section & {
    margin-left: -$gutter-half;
  }
}

.defendant-card {
  border: 1px solid $border-colour;
  padding: $gutter-half $gutter-one-third $gutter-half $gutter-half;
  margin-top: $gutter-half;
  margin-bottom: $gutter-half;

  table {
    th {
      @include bold-16();
      padding: $gutter-one-sixth;
    }
  }

  .title {
    margin-bottom: $gutter-half;
  }

  .judical_apportionment {
    margin-top: $gutter-half;
    margin-bottom: $gutter-half;
  }
}

/*********************************
Styling for Claims Messaging
*********************************/
.messages {
  .none {
    color: $black;
  }

  .new-message {
    width: 26px;
    height: 26px;
    margin-left: $gutter-one-sixth;
  }

  >* {
    vertical-align: middle;
  }
}


// ================================================================//
// icons.SCSS
// ================================================================//
.search-icon {
  width: 16px;
  height: 16px;
}

.govuk-panel--confirmation {
  background-color: $turquoise;
  color: $page-colour;
  text-align: center;
  padding-top: $gutter * 2;
  padding-bottom: $gutter * 2;
  margin-bottom: $gutter;

  .govuk-panel__title {
    @include core-36;
    color: $page-colour;
    font-weight: 700;
    margin-bottom: $gutter;
  }

  .govuk-panel__body {
    @include core-27;
    color: $page-colour;
  }
}


.confirmation-tick {
  width: 36px;
  height: 36px;
}

.confirmation-section {
  h2 {
    margin-bottom: $gutter-half;
    margin-top: $gutter;
  }
}

.contact-us-footer {
  margin-top: $gutter-two-thirds;
  margin-bottom: $gutter-two-thirds;
  padding-top: $gutter-two-thirds;
  border-top: 1px solid $border-colour;
  clear: both;
}

/*******************************************
########  ########   #######  ########  ########  #######  ##    ## ########
##     ## ##     ## ##     ## ##     ##      ##  ##     ## ###   ## ##
##     ## ##     ## ##     ## ##     ##     ##   ##     ## ####  ## ##
##     ## ########  ##     ## ########     ##    ##     ## ## ## ## ######
##     ## ##   ##   ##     ## ##          ##     ##     ## ##  #### ##
##     ## ##    ##  ##     ## ##         ##      ##     ## ##   ### ##
########  ##     ##  #######  ##        ########  #######  ##    ## ########

      ##  ######
      ## ##    ##
      ## ##
      ##  ######
##    ##       ##
##    ## ##    ##
 ######   ######
 Description: Dropzone js styling
*******************************************/

.dropzone {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  margin-bottom: $gutter + $gutter-one-third;
  outline: 2px dashed $secondary-text-colour;
  padding: $gutter * 2;
  text-align: center;
  transition: outline-offset .1s ease-in-out, background-color .1s linear;

  label {
    @include core-19;
    left: -9999em;
    position: absolute;
  }
}

.dropzone-enhanced {
  label {
    appearance: none;
    background-color: $panel-colour;
    border: none;
    color: $text-colour;
    left: 0;
    margin-bottom: 0;
    padding: $gutter-one-third $gutter-two-thirds;
    position: static;

    &:hover {
      background-color: $border-colour;
    }
  }

  [type=file] {
    left: -9999em;
    position: absolute;
  }
}

.dropzone-dragover {
  background: $black;
  outline: 2px dashed $secondary-text-colour;
  outline-offset: -$gutter-one-third;
}

.dropzone-focused {
  box-shadow: 0 0 1px 4px $focus-colour;
  outline: none;
}

.files {
  margin-bottom: $gutter;
  table-layout: fixed;

  .error {
    font-weight: 700;
    overflow-wrap: break-word;
    word-break: break-word;
  }

  .success {
    color: $green;
    font-weight: 700;
  }

  tbody td:first-child,
  .success {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  progress {
    margin-top: $gutter-one-sixth;
    width: $full-width;
  }
}

/*--- Dropzone end ---*/

.btn-spacer-20 {
  margin-right: $gutter-two-thirds;
}

.b {
  font-weight: 700;
}

.error .error-message {
  @include core-16;
}


.form-date p {
  margin-bottom: 0;
}


.panel-margin-fix {
  margin-bottom: $gutter;
}

.disk-evidence {
  color: $error-colour;
  display: block;
}

.js-allocation-page #page-h1 {
  margin-bottom: 0;
}

/*
* copied from
* https://moj-design-system.herokuapp.com/components/banner
*/
.moj-banner {
  @extend .error-summary;
  width: calc(100% - 40px); // 40px is magic number for padding and border
  border: 5px solid #1d70b8;
  color: #1d70b8;
  font-size: 0; // Removes white space when using inline-block on child element.

  .moj-banner__icon {
    fill: currentColor;
    float: left;
    margin-right: 10px;
  }

  .moj-banner__message {
    font-size: 1.1875rem;
    line-height: 1.31579;
  }

  .govuk-heading-m {
    color: #0b0c0c;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 18px;
    display: block;
    margin-top: 0;

    h2 {
      display: block;
      font-size: 1.5em;
      margin-block-start: 0.83em;
      margin-block-end: 0.83em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-weight: 700;
    }
  }
}



/*--- Ported from v1 stylesheets ---*/

.grid-row {
  margin-bottom: $gutter-half;
}

.contactus-link {
  @include core-19;
  @include clearfix;
  margin-top: $gutter * 2;
  margin-bottom: -($gutter * 2);

  @include media($max-width: 768px) {
    margin-top: $gutter-half;
    margin-bottom: $gutter-half;
  }
}

.search-form {
  @include clearfix;

  .heading-medium {
    margin-top: 0;
  }
}


.notice {
  margin-bottom: $gutter;
}

.supplier-number-group {
  margin-bottom: $gutter;

  .form-group {
    &.supplier_number_wrapper {
      margin-bottom: $gutter-one-third;
    }
  }
}

#provider-form {

  .new_provider,
  .edit_provider {

    #js-fee-schemes,
    #js-agfs-supplier-number,
    #js-lgfs-supplier-numbers,
    #js-vat {
      display: none;
    }
  }

  .remove_fields {
    display: block;
    margin-top: $gutter-one-third;
  }
}



.js-cw-claim-assessment {
  .error {
    display: none;
  }
}

.fee-date-from,
.fee-date-to {
  div {
    display: inline;
  }
}

.js-checkbox-table,
.report {
  td {
    vertical-align: top;
  }
}

#offence-list {
  padding: 0;

  .offence-item {
    margin: 0;
    padding: $gutter-one-third;
    border-bottom: 1px solid $border-colour;

    .align-right {
      text-align: right;
    }
  }

  .offence-item:nth-child(odd) {
    color: $black;
    background-color: $grey-4;
  }

  .offence-item:hover {
    color: $black;
    background-color: $grey-4;
  }

  .offence-item a.offence-item-button {
    visibility: hidden;
  }

  .offence-item:hover a.offence-item-button {
    visibility: visible;
  }

  .empty-message {
    color: $black;
    background-color: $grey-4;
    border-bottom: 1px solid $border-colour;
  }
}

.selected-offence {
  background: $grey-4;
  padding: $gutter-half $gutter;
}

.highlight {
  background-color: $yellow;
}

.error {
  color: $error-colour;
}
