%h2 Requests for further info
%p
%h3 Number of claims decided without further information requested vs those where further information was requested
%p
-# @payload is a GeckoWidgets::LineGraph object
%p
=render partial: 'stats_table', locals: { payload: @payload}
