%h2.govuk-heading-m Time reject to auth
%p
%h3.govuk-heading-s For claims that were priviously rejected, the amount of time in days between rejection and the claim being resubmitted and decided

=render partial: 'stats_table', locals: { payload: @payload}
