%h2 Time reject to auth
%p
%h3 For claims that were priviously rejected, the amount of time in days between rejection and the claim being resubmitted and decided

=render partial: 'stats_table', locals: { payload: @payload}
