.mod-fees{
  .grid-row {
    .column-one-third,
    .column-one-half,
    .column-one-quarter{
      padding: 0;
    }
  }
}
select {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';

}

select::-ms-expand{
  display:none;
}

.block-label input{
  width: auto;
}

.button-start {
  background-image: image-url('icons/icon-pointer.png') !important;
  margin-bottom: $gutter-half;
}

.breadcrumbs{

  // Link styles
  a:link {
    color: $link-colour;
  }

  a:visited {
    color: $link-visited-colour;
  }

  a:hover {
    color: $link-hover-colour;
  }

  a:active {
    color: $link-active-colour;
  }

  li{
    &:first-child{
    border-left: 0;
  }
  background-image: none;
  margin-left: 1em;
  padding-left: 1em;
  border-left: 1px solid black;
  }
}