@mixin pagebreak() {
  page-break-before: always;
}



@media print {
  @page {
    size: 216mm 280mm;
  }

  body, html {
    /* this affects the margin on the content before sending to printer */
    margin: 0px !important;
  }

  .single-date .event-date,
  .history > .column-third,
  .message > .column-third,
  #global-header,
  #global-header-bar,
  #footer,
  .phase-banner,
  .primary-nav-bar,
  a[href^="/"]:after,
  #claim-accordion button::after,
  textarea,
  .claim-detail-actions,
  .no-print .messages-list,
  .no-print .messages-print-link,
  .no-print .message-status,
  .no-print .message-controls,
  .other-claims {
    display: none !important;
  }

  .messages-container .messages-list {
    .message-right {
      @include normalize-bubble('right')
    }

    .message-left{
      @include normalize-bubble('left')
    }
  }

  .single-date{
    legend{
      display: inline-block !important;
      position: relative;
      height: auto;
      width: auto;
      border: none !important;
      font-size: 24px;
      margin-bottom: 0 !important;
      padding-top: 20px !important;
    }
  }

  .claim-hgroup{
    .claim-status{
      @include span(8 of 12);
    }
  }


  .messages-container.no-print{
    padding: 10px;
    text-align: center;
    &::before{
      content: "Messages are printed seperately. Please use the Print messages link"
    }

  }

  .claim-status h3{
    @include pagebreak();
  }

  #claim-accordion{
    button {
      @include pagebreak();
      padding-left: 0 !important;
      padding-bottom: 0 !important;
      font-size: 26px;
      &::before {
        content: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+Cjxzdmcgd2lkdGg9IjE2cHgiIGhlaWdodD0iMTZweCIgdmlld0JveD0iMCAwIDE2IDE2IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbG5zOnNrZXRjaD0iaHR0cDovL3d3dy5ib2hlbWlhbmNvZGluZy5jb20vc2tldGNoL25zIj4KICAgIDwhLS0gR2VuZXJhdG9yOiBTa2V0Y2ggMy4zLjMgKDEyMDgxKSAtIGh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaCAtLT4KICAgIDx0aXRsZT5UcmlhbmdsZSAyIENvcHk8L3RpdGxlPgogICAgPGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M+CiAgICA8ZGVmcz48L2RlZnM+CiAgICA8ZyBpZD0iTWFpbi1mbG93IiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBza2V0Y2g6dHlwZT0iTVNQYWdlIj4KICAgICAgICA8ZyBpZD0iQ2xhaW0tZGV0YWlsLS0tT1BFTiIgc2tldGNoOnR5cGU9Ik1TQXJ0Ym9hcmRHcm91cCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTE0Ny4wMDAwMDAsIC03NzUuMDAwMDAwKSIgZmlsbD0iIzZGNzc3QiI+CiAgICAgICAgICAgIDxwb2x5Z29uIGlkPSJUcmlhbmdsZS0yLUNvcHkiIHNrZXRjaDp0eXBlPSJNU1NoYXBlR3JvdXAiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDE1NS4wMDAwMDAsIDc4My4wMDAwMDApIHJvdGF0ZSgtMTgwLjAwMDAwMCkgdHJhbnNsYXRlKC0xNTUuMDAwMDAwLCAtNzgzLjAwMDAwMCkgIiBwb2ludHM9IjE1NS4zODA5NTIgNzc1IDE2MyA3OTEgMTQ3IDc5MSAiPjwvcG9seWdvbj4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPg==");
        width: 16px;
      }
    }
    .js-accordion__panel{
      display: block !important;
    }
  }
  .column-third,
  .column-one-third {
    float: left;
    width: 33.33333%;
  }

}