.table-container {
  margin-top:$gutter-half;
  margin-bottom:$gutter;
}
table {
  width: 100%;
  margin-bottom: 1em;
  background-color: #fff;
  border-collapse: collapse;
  // border-bottom: 1px solid $border-colour;
  border-top: 2px solid $border-colour;
  caption {
    @include core-19;
    font-weight:700;
    text-align: left;
    padding-bottom:$gutter-half/2;
  }

  tr {
    th,
    td {
      &:first-child{
        padding-left:$gutter-half;
      }
      &:last-child{
        padding-right:$gutter-half/3;
      }
    }
    &.no-border {
      th,
      td {
        border: none;
      }
    }
    &.error {
      border-left: 5px solid $error-colour;
      td {
        padding-top: 30px !important;
        .error-message-container {
          position: relative;
        }
        .error-message {
          position: absolute;
          top: -30px;
          color: $error-colour;
          width: 320px;
          @media (max-width: 1018px) {
            width: auto;
          }
        }
      }
    }
  }
  th,
  td {
    padding:$gutter-half/2 $gutter-half $gutter-half/2 0;
    border-right: none;
    border-left: none;
  }
  thead th {
    padding-top:$gutter-half;
    padding-bottom:$gutter-half;
    vertical-align: bottom;
  }
  tbody {
    tr:nth-child(odd) {
      background-color: $grey-3;
      background-color: $grey-4;
    }
    th {
      @include core-16;
      font-weight:700;
      color:$text-colour;
      background: transparent;
    }
  }
}
// ================================================================//
// statuses
// ================================================================//
span.state {
  display: block;
  text-align: center;
  padding:$gutter-half/3;
  border-width: 2px;
  border-style: solid;
  background: #fff;
  &.state-authorised {
    color: #00602b;
    border-color: #00602b;
  }
  &.state-allocated {
    color: #912b88;
    border-color: #912b88;
  }
  &.state-draft {
    color: #1d5780;
    border-color: #1d5780;
  }
  &.state-rejected,
  &.state-refused {
    color: #99181a;
    border-color: #99181a;
  }
  &.state-submitted {
    color: #52585a;
    border-color: #52585a;
  }
  &.state-redermination {
    color: #0b0c0c;
    border-color: #0b0c0c;
  }
  &.state-part-authorised {
    color: #1d5780;
    border-color: #54592f;
  }
}

.unique-id-small {
  color: #8c8e90;
  font-size: 12px;
}

#claim-accordion {
  .heading-medium{
    margin-bottom: 0;
  }
  .table-summary{
    th, td{
      vertical-align: top;
    }
    tr > th{
      width: 30%;
    }
  }
}

tr.mobile-sort{
  display:none;
}

table.report{
  .select{
    width: 25px;
  }
  .case-number{
    width: 100px;
  }
  .court{
    width: 125px;
  }
  .submit-date{
    width: 80px;
  }
  .defendants{

  }
  .claim-total{
    width:100px;
  }
  .type{
    width: 200px;
  }
  .numeric{

  }
  .allocated{

  }
}
@include media($max-width: 1018px){
    table.report {
    border: 0;
    tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
      td{
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
      }
      td:last-child {
        border-bottom: 0;
      }
      th, td {
        br{
          display: none;
        }
        padding: $gutter/2;
      }
      &.mobile-sort{
        display: inline-block;
        vertical-align: inherit;
        width: 100%;
        @include clearfix();
        td{
          text-align: left;
          background-color: white !important;
          a{
            display: inline-block !important;
            margin: ($gutter/6) ($gutter/2 - 3);
          }
        }
      }
    }

    tbody tr td:first-child{
      background-color: $border-colour;
      font-weight: 700;
      a{
        display: block;
      }
    }

    caption {
      font-size: 1.3em;
    }

    thead {
      display: none;
    }

    tbody tr:nth-child(odd), tbody tr:nth-child(even){
      background-color: none !important;
    }

    td:before {
      content: attr(aria-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }

    .unique-id-small{
      display: none;
    }
    .state{
      display: inline;
    }
  }
}

table.figures{
  th, td{
    vertical-align: top;
    &.col-fee-cat{
      width: 190px;
    }
    &.col-date{
      width: 95px;
    }
    &.col-type{
      width: 170px;
    }
    &.col-deails{
      // width: auto;
    }
    &.col-net{
      width: 110px;
    }
    &.col-vat{
      width: 100px;
    }
    &.col-gross{
      width: 110px;
    }
    .details{
      padding-left: 10px;
    }
  }

  tfoot{
    .totals{
      border: 2px solid $border-colour;
      border-width: 2px 0;
      td{
        font-weight: 700;
      }
    }
  }
}

table{

  th {
    @include bold-16;
  }

  td {
    @include core-16;
  }

  th,
  td {
    padding: em(12, 16) em(20, 16) em(9, 16) 0;
  }
}

table.summary {
  width: 100%;
  margin-bottom: 1em;
  background-color: #fff;
  border-collapse: collapse;
  border-top: none;

  caption {
    @include core-19;
    font-weight: 700;
    text-align: left;
    padding-bottom: $gutter-half/2;
  }

  thead th {
    padding-top: $gutter-half;
    padding-bottom: $gutter-half;
    vertical-align: bottom;
  }

  tbody {
    tr:nth-child(odd) {
      background: transparent;
    }

    th {
      @include core-19;
      font-weight: 700;
      color: $text-colour;
      background: transparent;

      &:first-child {
        width: 33%;
        padding-left: 0;
      }
    }

    td {
      @include core-19;
    }
  }
}
