= render partial: 'external_users/claims/error_summary', locals: { ep: @error_presenter }

= render partial: 'layouts/header', locals: { page_heading: t('external_users.agfs_interim_claim_heading') }

= render partial: 'external_users/claims/form_layout_wrapper', locals: { claim: @claim, display_buttons: false }
