---
http_interactions:
- request:
    method: get
    uri: http://apilayer.net/api/historical?access_key=<CURRENCY_API_KEY>&currencies=USD,GBP&date=2018-01-30
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
      X-Apilayer-Transaction-Id:
      - 36dfc3f7-12ce-4259-91cd-5b70d41067f8
      Last-Modified:
      - Tue, 30 Jan 2018 23:59:59 GMT
      Etag:
      - ecb47cc21992c20d5c7831387e05493d
      X-Request-Time:
      - '0.028'
    body:
      encoding: UTF-8
      string: '{"success":true,"terms":"https:\/\/currencylayer.com\/terms","privacy":"https:\/\/currencylayer.com\/privacy","historical":true,"date":"2018-01-30","timestamp":1517356799,"source":"USD","quotes":{"USDUSD":1,"USDGBP":0.706419}}'
  recorded_at: Sat, 05 Jan 2019 21:12:14 GMT
recorded_with: VCR 3.0.3
