= render partial: 'layouts/header', locals: {page_heading: 'Claim type'}

%h2.bold-medium
  What type of claim are you making?

%ul
  %li
    = link_to 'Advocate fees', new_advocates_claim_path
  %li
    = link_to 'Litigator fees', new_litigators_claim_path
