= render partial: 'errors/error_summary', locals:{ ep: @provider, error_summary: t('.prohibited_save')}

= render partial: 'layouts/header', locals: {page_heading: 'Edit provider details'}

= render partial: 'super_admins/providers/form'

