.breadcrumbs {
  margin-bottom: $gutter-half;

  a:link {
    color: $link-colour;
  }

  a:visited {
    color: $link-visited-colour;
  }

  a:hover {
    color: $link-hover-colour;
  }

  a:active {
    color: $link-active-colour;
  }

  li {
    &:first-child {
      border-left: 0;
    }

    background-image: none;
    margin-left: $gutter-two-thirds;
    padding-left: $gutter-two-thirds;
    border-left: 1px solid $black;
  }
}
