// Buttons
// stylelint-disable declaration-no-important

.button-holder {
  @include govuk-clearfix;

  margin-top: $govuk-gutter;
}

.form-buttons * {
  display: inline-block;
  margin-right: $gutter-one-third;
}
