.js-callout-banner {
  border: 1px solid $black;
  padding: $gutter-two-thirds;
  padding-bottom: $gutter-one-third;
  margin-bottom: $gutter + $gutter-two-thirds;
  margin-right: $gutter-two-thirds;
}


.js-callout-banner {
  ul.list {
    margin-top: $gutter;
  }
}
