.fx-numberedList-item { /* stylelint-disable-line selector-class-pattern */
  position: relative;

  .remove_fields {
    @include govuk-responsive-margin(7, "bottom");
    display: block;
  }

  @include govuk-media-query($from: desktop) {
    fieldset legend {
      width: govuk-grid-widths('three-quarters');
    }

    .remove_fields {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
