html {
  background: govuk-colour("light-grey");
}

body {
  background: govuk-colour("white");
}

.summary-wrapper {
  h2 {
    margin-top: $govuk-gutter;
    font-weight: 700;
  }
}

#show-messages-wrapper {
  .print-messages-hint {
    padding-top: $gutter-one-third;
    padding-bottom: 8px;
    clear: both;
  }

  .panel {
    &.no-border {
      padding: 0;
      border: none;
    }
  }

  .messages-container {
    .messages-list {
      max-height: none;
      overflow-x: visible;
      overflow-y: visible;
    }
  }
}

.auto-width {
  label {
    display: block;
    margin: $gutter-half 0 $gutter-one-sixth;
  }
}

#trial-details,
#retrial-details {
  margin-top: $gutter-half;
  margin-bottom: $gutter-half;
}

// Replacement for the deprecated `.form-section`
.app-cost-summary-section,
.app-summary-section {
  @include govuk-responsive-margin(9, "bottom");
  position: relative;
}

// Replacement for stick-at-top-when-scrolling
.stick-at-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;

  &::before,
  &::after {
    content: "";
    display: table;
  }
}
