html {
  background: $grey-3;
}

body {
  background: $white;
}

.container {
  @include container;
}

.site-wrapper {
  @extend %site-width-container;
}

.summary-wrapper {
  h2 {
    font-weight: 700;
    margin-top: $gutter;
  }

  .table-summary {
    width: 98%;

    td {
      vertical-align: top;
    }

    .summary-headings {
      width: 35%
    }

    tfoot {
      tr {

        th,
        td {
          @include core-19;
        }
      }
    }
  }
}

#show-messages-wrapper {
  .print-messages-hint {
    clear: both;
    padding-top: $gutter-one-third;
    padding-bottom: 8px;
  }

  .panel {
    &.no-border {
      border: none;
      padding: 0;
    }
  }

  .messages-container {
    .messages-list {
      max-height: none;
      overflow-y: visible;
      overflow-x: visible;
    }
  }
}

.auto-width {
  label {
    display: block;
    margin: $gutter-half 0 $gutter-one-sixth;
  }
}

td {
  .auto-width {
    @include span(4 of 12);

    &:first-child {
      @include first;
    }

    &:last-child {
      @include last;
      @include post(4 of 12);
    }
  }
}

#trial-details,
#retrial-details {
  @include container;
  margin-top: $gutter-half;
  margin-bottom: $gutter-half;

  .auto-width {
    &:nth-child(odd) {
      @include span(4 of 12);
      @include first;
    }

    &:nth-child(even) {
      @include span(4 of 12);
      @include post(4 of 12);
    }
  }
}
