.related-container {
  padding: 0 $gutter-half;
  box-sizing: border-box;
  margin-top: $gutter + $gutter-one-third;
}

.related {
  border-top: 10px solid $govuk-blue;
  padding-top: $gutter-one-sixth;
}

.related nav {
  margin-bottom: $gutter-two-thirds;
}

.related h2 {
  @include heading-24;
  font-weight: 700;
  margin-top: $gutter-one-sixth;
  margin-bottom: $gutter-one-sixth;
}

.related ul {
  @include core-16;
  list-style: none;
  overflow: hidden;
}

.related li {
  margin-bottom: $gutter-one-third;
  padding-left: 0;
  display: list-item;
}

.related li.related-topic {
  list-style: none outside none;
}

.related li.related-topic a {
  display: inline;
  font-weight: 700;
}

.related li a {
  background-position: 0 -287px;
  background-repeat: no-repeat;
  display: block;
}

.related li a:hover {
  background-position: 0 10px;
}

.related li a.view-all {
  margin: $gutter-one-third 0 $gutter-one-third;
}

.related li a[rel="external"]:after {
  content: "\A0\A0\A0\A0\A0\A0";
  background-position: 5px 0;
}

.related li a[rel="external"]:hover:after {
  background-position: 5px -388px;
}

.related .return-to-top {
  @include core-16;

  @media (min-width: 769px) {
    position: absolute;
    left: -9999em;
  }
}

@media (min-width: 641px) {
  header.page-header div {
    margin-top: $gutter;
    margin-bottom: $gutter;
  }
}
