.table-container {
  margin-top: $gutter-half;
  margin-bottom: $gutter;
}

table {
  margin-bottom: $gutter-two-thirds;
  background-color: $white;
  border-collapse: collapse;
  border-top: 2px solid $border-colour;

  caption {
    @include core-19;
    font-weight: 700;
    text-align: left;
    padding-bottom: $gutter-half / 2;
  }

  tr {

    th,
    td {
      &:first-child {
        padding-left: $gutter-half;
      }

      &:last-child {
        padding-right: $gutter-one-sixth;
      }
    }

    &.no-border {

      th,
      td {
        border: none;
      }
    }

    &.error.injection-error {
      border-left: 5px solid $error-colour;
      color: inherit;

      td {
        padding-top: $gutter;

        .error-message-container {
          position: relative;
        }

        .error-message {
          position: absolute;
          top: -$gutter;
          color: $error-colour;
          width: 320px;

          @media (max-width: 1018px) {
            width: auto;
          }
        }
      }
    }

    &.cav_warning {
      border-left: 5px solid $orange;

      td {
        padding-top: $gutter;

        .warning-message-container {
          position: relative;
        }

        .warning-message {
          font-weight: 700;
          position: absolute;
          top: -$gutter;
          color: $orange;
          width: 320px;

          @media (max-width: 1018px) {
            width: auto;
          }
        }
      }
    }
  }

  th,
  td {
    padding: $gutter-half / 2 $gutter-half $gutter-half / 2 0;
    border-right: none;
    border-left: none;
  }

  thead th {
    padding-top: $gutter-half;
    padding-bottom: $gutter-half;
    vertical-align: bottom;
  }

  tbody {
    tr:nth-child(odd) {
      background-color: $grey-4;
    }

    th {
      @include core-16;
      font-weight: 700;
      color: $text-colour;
      background: transparent;
    }
  }
}

// ================================================================//
// statuses
// ================================================================//
span.state {
  display: block;
  text-align: center;
  padding: $gutter-one-sixth;
  border-width: 2px;
  border-style: solid;
  background: $white;

  &.state-authorised,
  &.state-accepted {
    color: $green;
    border-color: $green;
  }

  &.state-allocated {
    color: $fuschia;
    border-color: $fuschia;
  }

  &.state-draft {
    color: $govuk-blue;
    border-color: $govuk-blue;
  }

  &.state-rejected,
  &.state-refused,
  &.state-unverified {
    color: $error-colour;
    border-color: $error-colour;
  }

  &.state-submitted {
    color: $black;
    border-color: $black;
  }

  &.state-redermination {
    color: $text-colour;
    border-color: $text-colour;
  }

  &.state-part-authorised {
    color: $govuk-blue;
    border-color: $govuk-blue;
  }
}

#claim-accordion {
  .heading-medium {
    margin-bottom: 0;
  }

  .table-summary {

    th,
    td {
      vertical-align: top;
    }

    tr>th {
      width: 30%;
    }
  }
}

tr.mobile-sort {
  display: none;
}

table.report {

  td {
    @include core-16;
  }

  .select {
    width: 25px;
  }

  .case-number {
    width: 100px;
  }

  .court {
    width: 125px;
  }

  .submit-date {
    width: 80px;
  }

  .claim-total {
    width: 100px;
  }

  .type {
    width: 200px;
  }
}

@include media($max-width: 1018px) {
  table.report {
    border: 0;

    tr {
      border-bottom: 3px solid $grey-3;
      display: block;
      margin-bottom: $gutter-one-third;

      td {
        border-bottom: 1px solid $grey-3;
        display: block;
        text-align: right;
      }

      td:last-child {
        border-bottom: 0;
      }

      th,
      td {
        br {
          display: none;
        }

        padding: $gutter-half;
      }

      &.mobile-sort {
        @include clearfix();

        background-color: $white;
        display: inline-block;
        vertical-align: inherit;
        width: $full-width;

        th {
          text-align: left;

          a {
            display: inline-block;
            margin: $gutter-one-sixth $gutter-half - 3;
          }
        }
      }
    }

    tbody tr td:first-child {
      background-color: $border-colour;
      font-weight: 700;

      a {
        display: block;
      }
    }

    thead {
      display: none;
    }

    tbody tr:nth-child(odd),
    tbody tr:nth-child(even) {
      background-color: none;
    }

    td:before {
      content: attr(data-label);
      float: left;
      font-weight: 700;
      text-transform: uppercase;
    }

    .unique-id-small {
      display: none;
    }

    .state {
      display: inline;
    }
  }
}

table.figures {

  th,
  td {
    vertical-align: top;

    .details {
      padding-left: $gutter-one-third;
    }
  }

  tfoot {
    .totals {
      border: 2px solid $border-colour;
      border-width: 2px 0;

      td {
        font-weight: 700;
      }
    }
  }
}

table {

  th {
    @include bold-16;
  }

  td {
    @include core-16;
  }

  th,
  td {
    padding: em(12, 16) em(20, 16) em(9, 16) 0;
  }
}

table.summary,
table.nested-summary {
  width: $full-width;
  background-color: $white;
  border-collapse: collapse;
  border-top: none;

  thead th {
    padding-top: $gutter-half;
    padding-bottom: $gutter-half;
    vertical-align: bottom;
  }

  tbody {
    tr:nth-child(odd) {
      background: transparent;
    }

    th {
      @include core-19;
      font-weight: 700;
      color: $text-colour;
      background: transparent;

      &:first-child {
        width: $one-third;
        padding-left: 0;
      }
    }

    td {
      @include core-19;
    }
  }

  tfoot {

    th,
    td {
      @include core-19;
      font-weight: 700;
    }
  }

  tr {

    th,
    td {
      &:first-child {
        padding-left: 0;
      }
    }
  }
}

table.nested-summary {
  tbody {
    th:first-child {
      width: $half;
    }

    tr:last-child {

      th,
      td {
        border-bottom: 0;
      }
    }
  }
}
