.working-pattern{
  span{
    border: 1px solid $grey-3;
    padding-top: 0.3em;
    padding-left: 0.3em;
    padding-right:0.3em;
    text-align: center;
    width:15%;
    display: inline-block;
    font-weight: bold;
    color: $grey-3;
    &.working-day{
      background-color: $grey-2;
      color: $white;
    }
  }
}
