.working-pattern {
  span {
    &:first-child {
      border-left: 1px solid $black;
    }
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;
    border-right: 1px solid $black;
    padding-top: 0.3em;
    padding-left: 0.3em;
    padding-right:0.3em;
    text-align: center;
    width: 15%;
    display: inline-block;
    color: $black;
    &.working-day{
      background-color: $grey-2;
    }
  }
}
