// Here we include the core files
// https://github.com/alphagov/govuk_elements#alternate-usage
@import "application_prep";
@import "moj/govuk_overrides";

// // // grid system
@import "susy";
@import "moj/config";

// // custom mixins & helpers
@import "moj/helpers";

// //project specific
@import "moj/buttons";
@import "moj/shame";
@import "moj/layout";
@import "moj/navigation";
@import "moj/tables";
@import "moj/forms";
@import "moj/typography";
@import "moj/autocomplete";
@import "moj/accordion";
@import "moj/icons";
@import "moj/messages";
@import "moj/print";

// /////////////////////////////// TODO: KILL THIS ASAP
@import "moj/HOTFIX_KILLME";
// ///////////////////////////////

// Phase banner
.phase-banner {
  @include phase-banner(beta);
}

.contactus-link{
  font-size: 19px;
  line-height: 1.31579;
  @include clearfix;
  margin-top: 60px;
  margin-bottom: -60px
}


@include media($max-width: 768px){
  .contactus-link{
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.search-form{
  @include clearfix;
  .heading-medium{
    margin-top:0;
  }
}

form{
  @include clearfix;
}