.button-secondary {
  @include button (#EDEDED);
  margin: 0 $gutter-half $gutter-half 0;
  padding: em(10) em(15) em(5) em(15);
  vertical-align: top;
}

.button-get-started{
  background-image: image-url('icons/icon-pointer.png');
}
