.certification {
  ul, ol {
    list-style-type: initial;
  }
  li {
    margin-bottom: $gutter;
  }
  legend {
    font-weight: normal;
  }
  fieldset {
    border-bottom: 0;
    margin-bottom: 0;
  }
  strong {
    font-weight: bold;
  }
  .button-holder {
    margin-top: $gutter;
  }
}
