/***************************************

Page specific styling for the Claims detail
page

***************************************/

.claim-header, .claim-detail-header {
  margin-bottom: $gutter-half;
}

/****************************************
Other Claim Navigation
****************************************/
.other-claims {
  background-color: $panel-colour;
  padding: 10px 15px;
  border: 1px solid $border-colour;
}

#evidence-checklist-read-only {
  .selected {
    width: 16px;
    height: 16px;
    margin-right: 10px;
  }
}

.basic-info-row {
  @extend .grid-row;
  margin-top: $gutter;
  margin-bottom: $gutter;
}

.certification-info-row {
  @extend .grid-row;
  border: 1px solid $border-colour;
  padding: $gutter-half;
  margin-left: -$gutter-half;
  margin-right: 0px;
  .confirmation-section & {
    margin-left: 0;
  }
}

.defendant-row {
  margin-left: -30px;
  .confirmation-section & {
    margin-left: -$gutter-half;
  }
}

.defendant-card {
  border: 1px solid $border-colour;
  padding: $gutter-half 10px $gutter-half $gutter-half;
  margin-top: $gutter-half;
  margin-bottom: $gutter-half;

  table {
    @extend .claims_table;
    th {
      @include bold-16();
      padding: 5px;
    }
    td{
      @extend .xsmall;
    }
  }

  .title{
    margin-bottom: $gutter-half;
  }

  .judical_apportionment {
    margin-top: $gutter-half;
    margin-bottom: $gutter-half;
  }
}
@import "message"
