#claims-list, .case-data{
  margin:0;
  padding:0;
  li{
    padding:0;
    list-style-type: none;
  }
}
#claims-list > li {
  background-color: $grey-4;
  overflow: hidden;
  padding: 1rem;
  &:nth-child(even){
    background-color: $grey-3;
  }

}
.case-data li {
  h3{
      display: block;
      overflow: hidden;
      text-indent: -999em;
  }
  @include span-columns(4);
  &:last-child{
    @include span-columns(3);
  }
  dl{
    margin: 0;
    word-break: break-word;
  }
  dt, dd {
    @include span-columns(2 of 4);
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  dt{
    clear: both;
  }
}
a.detail-link {
  border: 1px solid $button-colour;
  color: $button-colour;
  padding: 0.5rem;
  text-decoration: none;
}
.claim-controls{
  .toggle{
    background-image: image-url("list-toggle.png");
    background-position: 0 -48px;
    cursor: pointer;
    display: inline-block;
    height: 24px;
    width:42px;
    margin: 0 0 1em 2px;
    &.expanded{
      background-position: 0 0;
    }
  }
}