.claims-importer {
  margin-top: 15px;
  padding-left: 15px;
  border-left: 6px solid $grey-3;

  &.has-errors {
    border-color: $red;
  }

  .button {
    margin: 0 5px 5px 0;
  }

  .js-enabled & {
    input[type="file"],
    .no-file-selected [type="submit"] {
      @include visually-hidden;
    }
  }

  .file-upload-name {
    margin: 5px 0;
    font-style: italic;
  }

  .errors {
    margin-top: 5px;
    line-height: 1.2;
    color: $red;
  }
}

.claim-importer-header {
  label {
    font-weight: bold;
    font-size: 1.2em;
  }

  .claim-importer-description {
    margin: 5px 0;
  }
}

.importer-results {
  .results-body {
    padding: 20px;

    & + .results-body {
      margin-top: 10px;
    }
  }

  ul {
    list-style: disc;
    margin: 10px 0;
    padding-left: 2.3em;
  }

  .import-success {
    border: 4px solid $green-50;
  }

  .import-schema-failed {
    border: 4px solid $red;
  }
}
