#claims-list, .case-data{
  margin:0;
  padding:0;
  li{
    padding:0;
    list-style-type: none;
  }
}
#claims-list > li {
  background-color: $list-item-bg;
  margin-bottom: 2px;
  overflow: hidden;
  padding: 1rem;
  

}
.case-data li {
  float: left;
  width:30%;
  margin-right: 15px;
  h3{
    font-weight: bold;
  }
  
  dl{
    margin: 0;
    word-break: break-word;
  }
  dt, dd {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width:50%;
  }
  dt{
    clear: both;
  }
}
a.detail-link {
  border: 1px solid $gray-dark;
  color: $gray-dark;
  padding: 0.5rem;
  text-decoration: none;
}
.claim-controls{
  .toggle{
    background-image: image-url("list-toggle.png");
    background-position: 0 -48px;
    cursor: pointer;
    display: inline-block;
    height: 24px;
    width:42px;
    margin: 0 0 1em 2px;
    &.expanded{
      background-position: 0 0;
    }
  }
}