p {
  font-family: arial;
  font-size:19px;
}

.title {
  font-family:arial;
  font-size: 32px;
  font-weight: bold;
  margin-top: 15px;
}

table#mail-header {
  width: 100%;
  max-width: 700px;
}

td#govuk-logo {
  height: 50px;
  background-color: #000000;
  padding-left: 60px;
}

td#moj-logo {
  height: 45px;
  padding-left: 60px;
}

td {
  padding-left: 60px;
}
