form {
  .validation-error {
    color: #df3034;
  }
  h2 {
    margin-top: 1em;
  }
  fieldset {
    margin:1em 0;
    padding:1em 0;
    border-bottom: 1px solid $grey-2;
    legend {
      font-weight: bold;

    }
    label {
      display: block;
      margin-top: 1em;
    }
    textarea {
      width:100%;
      font-size: 1em;
    }
  }
  h2 + fieldset {
      margin-top: 0;
      padding-top: 0;
    }
  span.auto-width {
    width:auto;
    display: inline-block;
    margin-right: 1em;
  }
  .nested-fields {
    padding: 15px;
    margin-bottom: 1em;
  }
  .table {
    margin-bottom: 1em;
    border-bottom: 1px solid #bfc1c3;
  }
  .nested-fields {
    td, th {
      border-bottom: 0;
      border-top: 1px solid #bfc1c3;
    }
    &.extra-data {
      th, td {
        border-top: 0;
        border-bottom: 1px solid #bfc1c3;

      }
    }
    .pound-wrapper{
      position: relative;
      display: table;
      border-collapse: separate;
      .pound-sign{
        display: table-cell;
        white-space: nowrap;
        text-align: center;
        vertical-align: middle;
        padding: 1px 8px 0 8px;
        border-left: 1px solid $border-colour;
        border-top: 1px solid $border-colour;
        border-bottom: 1px solid $border-colour;
        background-color: $panel-colour;
      }
      input{
        display: table-cell;
        padding: 1px 8px 0 8px;
        vertical-align: middle;
      }
    }

  }

  .table tr th:first-child,
  .table tr td:first-child {
    padding-left: 15px;
  }
  input[type="file"] {
    // TODO: come up with some better colours for this

    &.has-file{
      border-color: green;
      color: $ministry-of-justice;
      font-weight: bold;
    }
  }
      .select2 {
      width:500px;
      display: block;
    }
}
.reminder {
  display: block;
  padding: 5px;
  border:1px solid  $ministry-of-justice;
}

.warning {
  display: block;
  padding: 15px;
  color: red;
}

.field_with_errors{
  display:inline;
}

#importer{
  .button {
    @include core-19();
  }
  input[type="file"]{
    padding: 0;
    border : 0;
    color: $black;
  }
}

.remove-expense:first-child a{
  display: none;
}

#evidence-checklist div{
  float:left;
  margin-right: 10px;
}
