form{
  h2{
    margin-top: 1em;
  }
  fieldset{
      margin:1em 0;
      padding:1em 0;
      border-bottom: 1px solid $grey-2;
      legend{
        font-weight: bold;

      }
      label{
        display: block;
        margin-top: 1em;
      }
      input,
      select,
      textarea{
        width:100%;
        font-size: 1em;
        &[type="radio"],&[type="checkbox"]{
          width:auto;
          display: inline-block;
        }
      }
  }
  h2 + fieldset{
      margin-top: 0;
      padding-top: 0;
    }
  span.auto-width{
    width:auto;
    display: inline-block;
    margin-right: 1em;
  }
  .nested-fields{
    padding: 15px;
    background-color: $grey-4;
    margin-bottom: 1em;
  }
  .table {
    margin-bottom: 1em;
  }
  .exepense-fee{
    &.nested-fields{
      th, td{
        border-bottom: 0;
        border-top: 1px solid #bfc1c3;

      }
    }
  }
  .extra-data{
    background-color: #f8f8f8;
  }
  .table tr th:first-child,
  .table tr td:first-child{
    padding-left: 15px;
  }
  input[type="file"]{
    // TODO: come up with some better colours for this
    padding:15px;
    font-size: 1em;
    color: red;
    border: 1px solid red;
    &.has-file{
      border-color: green;
      color: $ministry-of-justice;
      font-weight: bold;
    }
  }
      .select2 {
      width:500px;
      display: block;
    }
}
.reminder{
  display: block;
  padding: 15px;
  border:1px solid  $ministry-of-justice;
}
