
 #wrapper, #global-header-bar {
    
 }
 #global-header-bar .inner-block{
  padding:0;
 }

#fixed-header{
  margin:1em 0;
}
section{
  display: block
}
@import "navigation";
@import "list-controls";
@import "claims-list";
@import "claim-accordian";