html,
body {
  height: 100%;
}

body {
  @include display(flex);
  @include flex-direction(column);

  > * {
    @include flex(none);
  }
}

#primary-nav-bar {
  background-color: $govuk-blue;
  border-bottom: 1px solid $govuk-blue;
  padding: 0.4em;
  overflow: auto;
}

#wrapper, #global-header-bar {
  @include outer-container;
}

#global-header-bar .inner-block {
  padding: 0;
}

#footer {
  margin-top: 40px;

  .ogl-logo {
    background: url(https://assets.digital.cabinet-office.gov.uk/static/images/open-government-…cence-c1aedc8257961b938b4c7a21a2b0db3f2716dd9ef782cea73110dc69107c9042.png) 0 0 no-repeat;
  }
  .footer-meta .footer-meta-inner {
    width: 100%;
    ul {
      margin: 0;
      margin-top: 60px
    }
  }
  .show {
    font-size: 16px;
  }
}

// ==========================================================================
// Override gov uk widths
// ==========================================================================

#content,
#wrapper,
#global-header .header-wrapper,
#header-bar {
  max-width: 100%;
}

#global-header-bar{
  display: none;
}

#fixed-header{
  margin: 0;
}

.outer-block {
  @include outer-block;
  @include flex(1 0 auto);
  width: 100%;
}

.inner-block {
  @include inner-block;
}

 // ==========================================================================
   // Phase banner
 // ==========================================================================

.phase-banner {
  clear:both;
}

.phase-tag  {
  @include phase-tag(alpha);
  margin-left: 0;
}

header.page-title {
  width: 100%;
  float: left;
  padding-bottom: 0.5em;
  margin-bottom: 1em;
  border-bottom: 1px solid $ministry-of-justice;
  h1 {
    display: inline-block;
  }
  .button {
    float: right;
  }
}

section {
  display: block
}

.advocate-loggedin-actions {
  display: block;
  margin: 2em auto;
  padding: 0;
  li {
    border: 1px solid;
    border-radius: 3px;
    display: inline-block;
    list-style-type: none;
    font-size: 2em;
    line-height: 2.5em;
    margin-right: 1em;
    a {
      text-decoration: none;
      color: $white;
      padding: 0 2.5em;
    }
    &.new {
      background-color: $mainstream-brand;
      border-color: $mainstream-brand;
    }
    &.view {
      background-color: $grey-3;
      border-color: $grey-3;
      a {
        color: $ministry-of-justice;
      }
    }
  }
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear-float {
  overflow: auto;
}

.message {
  width: 2em;
}

ol.questions {
  margin-top: 0;
  list-style-type: none;
  list-style-position: inside;
  li {
    padding-top: $gutter;
    .clear-float, textarea{
      margin-top:25px;
    }
    textarea {
      padding: 5px;
    }
  }
}
p.questions {
  margin-bottom: 0;
}

@import "grid_layout";

.text-small {
  @include core-19();
}

@import "navigation";
@import "list-controls";
@import "claims-list";
@import "claim-accordion";
