 *{
  box-sizing:border-box;
 }
#global-header-bar{
  border-bottom: 1px solid $ministry-of-justice;
}
#user_links {
float:right;
line-height: 3;
a{
  color: $ministry-of-justice;
  display: inline-block;
  margin-right: 15px;
}
 }
 #wrapper, #global-header-bar {
    @include outer-container;
 }
 #global-header-bar .inner-block{
  padding:0;
 }
 // ==========================================================================
 // Override gov uk widths
 // ==========================================================================
#content,
#wrapper,
#global-header .header-wrapper,
#global-header-bar,
#header-bar {
  max-width: 100%;
}

 // ==========================================================================
   // Phase banner
 // ==========================================================================
 .phase-banner  {
   @include phase-banner(alpha);
   padding-left: 15px;
   padding-right: 15px;
 }  
#fixed-header{
  margin:1em 0;
}
header.page-title{
  width: 100%;
  float: left;
  padding-bottom: 0.5em;
  margin-bottom: 1em;
  border-bottom: 1px solid $ministry-of-justice;
  h1{
    display: inline-block;
  }
  .button{
    float: right;
  }
}

#content {
  aside{
    width:16.6667%;
    display:inline-block;
  }
  main {
    width:66.6667%;
    display:inline-block;
  }
}



#login{
  width:30%;
  max-width:500px;
  margin: auto;
  padding:1em;
  border:1px solid $ministry-of-justice;
  label{
    display: block;
  }
  input[type="email"],
  input[type="password"]{
    font-size: 1em;
    width:100%;
  }
  div{
    margin-bottom: 1em;
  }
}
section{
  display: block
}
.advocate-loggedin-actions {
  display: block;
  margin: 2em auto;
  padding: 0;
  li{
    border: 1px solid;
    border-radius: 3px;
    display: inline-block;
    list-style-type: none;
    font-size: 2em;
    line-height: 2.5em;
    margin-right: 1em;
    a {
      text-decoration: none;
      color: $white;
      padding:0 2.5em;
    
    }
    &.new{
      
      background-color: $mainstream-brand;
      border-color: $mainstream-brand;
    }
    &.view{
      background-color: $grey-3;
      border-color: $grey-3;
      a{
        color:$ministry-of-justice;
      }
    }
  }
}
@import "navigation";
@import "list-controls";
@import "claims-list";
@import "claim-accordion";




