#list-controls {
  
  border-bottom: 1px solid;
  border-top: 1px solid;
  margin: 1em 0;
  padding:0.5em 0;
  nav {
    width:auto;
      h3{
        display:inline-block;
      }
      ul{
        display: inline-block;
        margin-left: 0.5rem;
        li{
          margin-right: 1rem;
          &.active{
            border-bottom: 3px solid $gray-dark;
          }
          a{
            color:$gray-base;
          }
        }
      }
  }
  form{
    float:right;
    #search{
      border-width: 1px 1px 3px 1px;
      font-size: 1em;
      padding-bottom: 2px;
    }
  }
}