/*********************************
Styling for Claims Messaging
*********************************/
.messages {
  .none {
    color: $border-colour;
  }
  .new-message {
    width: 26px;
    height: 26px;
    margin-left: 5px;
  }
  > * {
    vertical-align: middle;
  }
}

.messages-container {
  border: 1px solid $border-colour;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 30px;
  overflow: hidden;
  .messages-list {
    min-height: 200px;
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 5px;
    margin-bottom: 1em;
    .single-date {
      text-align: center;
      legend {
        text-align: center;
        border: 1px solid $border-colour;
        padding-left: $gutter;
        padding-right: $gutter;
        padding-top: 5px;
        color: $secondary-text-colour;
        font-weight: bold;
        margin-bottom: $gutter-half;
      }
      .event-date {
        color: $green;
        border: 2px solid $green;
        border-radius: 0.5em;
        display: inline-block;
        margin-top: $gutter-half;
        margin-bottom: $gutter-half;
        padding: 5px 10px;
        font-weight: bold;
      }
    }
    .message-container {
      margin-bottom: 1em;
      margin-left: 1em;
      margin-right: 1em;
    }
    .message-body {
      padding: 5px 15px;
    }
    .message-left {
      .message-body {
        background-color: $grey-3;
        position: relative;
        text-align: left;
        border-radius: 0.5em 0.5em 0.5em 0.75em;
        &::after {
          content: "";
          position: absolute;
          left: -1.5em;
          bottom: 0;
          width: 1.5em;
          height: 1.5em;
          border-right: 1em solid $grey-3;
          border-bottom-right-radius: 1.75em 1.5em;
        }
      }
    }

    .message-right {
      .message-body {
        background-color: $panel-colour;
        position: relative;
        text-align: left;
        border-radius: 0.5em 0.5em 0.75em 0.5em;
        &::after {
          content: "";
          position: absolute;
          right: -1.5em;
          bottom: 0;
          width: 1.5em;
          height: 1.5em;
          border-left: 1em solid $panel-colour;
          border-bottom-left-radius: 1.75em 1.5em;
        }
      }
    }

    .message-audit {
      font-size: 80%;
      color: $secondary-text-colour;
      font-weight: bold;
      text-align: left;
      .sent {
        padding-right: 1.6em;
        text-align: right;
      }
    }
  }

  .message-status {
    position: relative;
    left: -9999px;

    .message-success {
      color: $green;
      font-weight: bold;
    }

    .message-error {
      color: $mellow-red;
      font-weight: bold;
    }
  }
  .message-controls {
    padding: $gutter-half;
    border-top: 1px solid $border-colour;
    .form-group.inline {
      margin-bottom: 0.5em;
    }

    .upload-column {
      @include grid-column( 1/7 );
      .upload-button {
        width: 100%;
        top: 0;
        left: 0;
        cursor: pointer;
        overflow: hidden;
        text-align: center;
        position: relative;
        margin: 0;
        .file::-webkit-file-upload-button {
          visibility: hidden;
        }
        input.file {
          right: 0;
          margin: 0;
          bottom: 0;
          padding: 0;
          opacity: 0;
          height: 300px;
          outline: none;
          cursor: inherit;
          position: absolute;
        }
      }
    }

    .message-column {
      @include grid-column( 5/7 );
      input[type="text"] {
        width: 100%;
        padding: 2px 5px;
        @include core-19();
      }
    }

    .submit-column {
      @include grid-column( 1/7 );
      .button-secondary {
        width: 100%;
        margin: 0;
        padding-left: $gutter;
        padding-right: $gutter;
        background-color: $link-hover-colour;
        color: $white;
        box-shadow: 0 2px 0 $link-colour;
        &:hover {
          background-color: $link-colour;
        }
      }
    }

    .file-to-be-uploaded {
      border-top: 1px solid $border-colour;
      padding-top: 15px;
      display: none;
      .filename {
        font-weight: bold;
      }
    }
  }

  .history {
    .event {
      color: $link-visited-colour;
      padding: 5px 10px;
      margin-bottom: 5px;
      margin-right: 1em;
      text-align: right;
      strong {
        font-weight: bold;
      }
      table {
        @extend .claims_table;
        td {
          border-top: 1px solid $border-colour;
        }
      }
    }
  }
}
