// nav tabs
nav {
  display: block;
  ul {
    margin:0;
    padding: 0;
    li {
    display: inline-block;
    list-style-type: none;
      a {
        display: block;
        text-align: center;
        text-decoration: none;
      }
    }
  }
}

nav.pagination {
  text-align: right;
  margin-top: $gutter-half;
  margin-bottom: $gutter-half;
  span {
    padding-left: 5px;
  }
}

#primary-nav {
  float:left;
  a {
    margin-right: 1em;
    color: $white;
    text-decoration: none;
    &.current {
      font-weight: bold;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}

#user_links {
  float: right;
  color: $white;
  a {
    color: $white;
    text-decoration: none;
    &.current{
      font-weight: bold;
    }
    &:hover {
      text-decoration: underline;
    }
  }
  & a:first-child {
    margin-left: 0.2em;
  }
}
