.tandcs {

  .section-title {
    font-weight: bold;
  }
  
  b {
    font-weight: bold;
  }

  ul {
    list-style-type: disc;
    padding-left: $gutter;
    ul {
      list-style-type: circle;
    }
  }

}
