<p>
  Dear <%= "#{@resource.first_name} #{@resource.last_name}".titleize %>,
</p>

<% if @resource.sign_in_count == 0 %>
  <p>
    You have been registered as a new user on the "Claim for crown court defence" digital service.
  </p>
  <p>
    Please follow the link below to reset your password.
  </p>
  <p>
    <%= link_to 'Reset your password', edit_password_url(@resource, reset_password_token: @token) %>
  </p>
  <p>
    Please note: you will also need to add to the system as a user each advocate for whom you wish to submit claims.  You can do this under "Manage users"
  </p>

<% else %>
  <p>
    Someone has requested a link to change your password for the “Claim for crown court defence” digital service. You can change your password through the link below.
  </p>
  <p>
    <%= link_to 'Change your password', edit_password_url(@resource, reset_password_token: @token) %>
  </p>
  <p>
    If you didn't request this, please ignore this email. Your password won’t change until you access the link above and enter a new password.
 </p>

<% end %>

<p>
  Yours sincerely,
</p>
<p>
  Crime Case Management Team
  <br>
  Legal Aid Agency
</p>