%h1
  Message notifications

%table
  %thead
    %th
      Date
    %th
      Claim
  %tbody
    - @user_message_statuses.each do |user_message_status|
      %tr
        %td
          = user_message_status.message.created_at.strftime(Settings.date_time_format)
        %td
          = link_to 'View claim', __send__("#{current_user.persona.class.to_s.pluralize.underscore}_claim_path", user_message_status.message.claim) + "#messages"
