%h1.govuk-heading-l
  Message notifications

%table
  %thead
    %th{ scope: 'col' }
      Date
    %th{ scope: 'col' }
      Claim
  %tbody
    - @user_message_statuses.each do |user_message_status|
      %tr
        %td
          = user_message_status.message.created_at.strftime(Settings.date_time_format)
        %td
          = govuk_link_to 'View claim', __send__(current_user.persona.message_claim_path, user_message_status.message.claim, anchor: 'messages')
