- claim.interim_claim_info && present(claim.interim_claim_info) do |info|
  - if info.warrant_fee_paid?

    %h3.govuk-heading-m
      = t('common.warrant_fees')

    = govuk_summary_list do
      = govuk_summary_list_row_collection(t('shared.claims.interim_claim_info.fields.date_issued')) {info.warrant_issued_date}
      = govuk_summary_list_row_collection(t('shared.claims.interim_claim_info.fields.date_executed')){info.warrant_executed_date}
