- claim.interim_claim_info && present(claim.interim_claim_info) do |info|
  - if info.warrant_fee_paid?

    %h3.govuk-heading-m
      = t('common.warrant_fees')

    = govuk_summary_list do |summary_list|
      - summary_list.with_row do |row|
        - row.with_key { t('shared.claims.interim_claim_info.fields.date_issued') }
        - row.with_value(text: info.warrant_issued_date )

      - summary_list.with_row do |row|
        - row.with_key { t('shared.claims.interim_claim_info.fields.date_executed') }
        - row.with_value(text: info.warrant_executed_date )

