- if @claim.allows_fixed_fees?
  #fixed-fees.mod-fees
    .fixed-fee-group-wrapper
      = f.fields_for :fixed_fees do |fixed_fee_fields|
        - @fixed_fee_count += 1
        = render 'external_users/claims/fixed_fees/fixed_fee_fields', f: fixed_fee_fields

    .form-group
      = link_to_add_association t('.add_fixed_fee'), f, :fixed_fees, partial: 'external_users/claims/fixed_fees/fixed_fee_fields', class: 'button button-secondary blue add_fields', data: {'association-insertion-method' => 'append', 'association-insertion-node' => '.fixed-fee-group-wrapper'}
