- if claim.fixed_fee_case?
  .form-section
    = render partial: 'external_users/claims/summary_fees', locals: { claim: claim, header: t('external_users.claims.fixed_fees.summary.header'), collection: claim.fixed_fees, editable: editable, step: :fixed_fees }
