apiVersion: v1
kind: ConfigMap
metadata:
  name: cccd-app-config
  namespace: cccd-production
data:
  ENV: 'production'
  RACK_ENV: 'production'
  RAILS_ENV: 'production'
  RAILS_SERVE_STATIC_FILES: only-presence-required-to-enable
  GRAPE_SWAGGER_ROOT_URL: 'https://claim-crown-court-defence.service.gov.uk'
  GA_TRACKER_ID: 'UA-37377084-37'
  GTM_TRACKER_ID: 'GTM-NSB9GWK'
  MAINTENANCE_MODE: 'false'
  SETTINGS__SLACK__BOT_NAME: 'Injectotron'
  SETTINGS__SLACK__FAIL_ICON: ':katyperry:'
  SETTINGS__SLACK__SUCCESS_ICON: ':taytay:'
  SETTINGS__AWS__POLL_MESSAGE_COUNT: '1'
  SETTINGS__AWS__POLL_MESSAGE_WAIT_TIME: '10'
  SETTINGS__AWS__S3__REGION: 'eu-west-2'
  SURVEY_MONKEY_COLLECTOR_ID: '330140894'
  LAA_FEE_CALCULATOR_HOST: https://laa-fee-calculator.service.justice.gov.uk/api/v1
  ALLOW_FUTURE_DATES: 'false'
  MAIN_HEARING_DATE_ENABLED_FOR_AGFS: 'true'
  MAIN_HEARING_DATE_ENABLED_FOR_LGFS: 'false'
  SLACK_BUG_REPORTS_ENABLED: 'false'
