.form-group
  = f.label :email, class: 'form-label', id: :email do
    = t('activemodel.attributes.feedback.email')
    %span.form-hint
      = t('activemodel.attributes.feedback.email_hint')

    = f.text_field :email, class: 'form-control'
