name: DevSecOps SCA
run-name: Software Composition Analysis

on:
  schedule:
    - cron: "0 0 * * *" # Daily at midnight UTC
  pull_request:
    branches: ["main"]

permissions: {}

jobs:
  sca:
    name: Software Composition Analysis
    runs-on: ubuntu-latest
    timeout-minutes: 30

    permissions:
      contents: write
      pull-requests: write
      issues: write
      security-events: read

    steps:
      - name: Run SCA
        uses: ministryofjustice/devsecops-actions/sca@234ac1dca7bb965417bae451d3ea284a1286d68c
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          renovate: "false"
