= javascript_tag nonce: true do
  :plain
    let googleTrackingID = "#{ENV.fetch('GA_TRACKER_ID', nil)}"

    const analyticsScriptTag = document.createElement('script')
    analyticsScriptTag.async = ''
    analyticsScriptTag.src = `https://www.googletagmanager.com/gtag/js?id=${googleTrackingID}`
    document.head.appendChild(analyticsScriptTag)

    window.dataLayer = window.dataLayer || []

    function gtag() {
      dataLayer.push(arguments)
    }
    gtag('js', new Date())
    gtag('config', `${googleTrackingID}`)
