= javascript_include_tag 'application.js', defer: true

- if GoogleAnalytics::DataTracking.analytics? && !@disable_analytics
  = javascript_tag nonce: true do
    :plain
      ga(function(tracker) {
        var clientId = tracker.get('clientId');
        $('.ga-client-id').val(clientId);
      });
