= javascript_pack_tag 'vendor'
= javascript_include_tag Rails.env.test? ? '/packs-test/js/app.bundle.js' : '/packs/js/app.bundle.js'

= javascript_pack_tag "application-test" if Rails.env.test?

- if GoogleAnalytics::DataTracking.analytics? && !@disable_analytics
  :javascript
    ga(function(tracker) {
      var clientId = tracker.get('clientId');
      $('.ga-client-id').val(clientId);
    });

= javascript_pack_tag 'govuk-frontend', defer: true
