- if Rails.env.test?
  = app_javascript_include_tag 'public/packs-test/js/application-bundle-*.js'
  = javascript_pack_tag 'application-test'

- else
  = app_javascript_include_tag 'public/packs/js/application-bundle-*.js'

= javascript_pack_tag 'govuk-frontend', defer: true

- if GoogleAnalytics::DataTracking.analytics? && !@disable_analytics
  :javascript
    ga(function(tracker) {
      var clientId = tracker.get('clientId');
      $('.ga-client-id').val(clientId);
    });
