- flash.each do |key, value|
  - unless %w{hidden ga timedout}.include? key
    = govuk_notification_banner(title_text: key.capitalize, success: key == 'notice', classes: "auto-dismiss-banner") do |nb|
      - nb.with_heading(text: value)
