- meta_items = [{ text: t('.cookies'), href: cookies_path, },
    { text: t('.contact'), href: contact_us_page_path, },
    { text: t('.accessibility'), href: accessibility_statement_path, },
    { text: t('.terms_and_conditions'), href: tandcs_page_path },
    { text: t('.feedback'), href:  new_feedback_path},
    { text: t('.research'), href: Settings.research_panel_url},
    { text: t('.service_owner_html'),  href: 'https://mojdigital.blog.gov.uk/'},
    ]

= govuk_footer(meta_items_title: t('.support_link'), meta_items: meta_items)
