%ul
  %li
    %a{:href => "http://www.gov.uk/help/cookies"} Cookies
  %li
    = link_to 'Contact', contact_us_page_path
  %li
    = link_to 'Terms and Conditions', tandcs_page_path
  %li
    = link_to "Feedback", new_feedback_path, target: '_blank'
  %li
    %span="Built by"
    %a{:href => "https://mojdigital.blog.gov.uk/"}
      %abbr{:title => "Ministry of Justice"} MOJ Digital Services
