%nav.moj-header__navigation{aria: { label: 'Account navigation' }}
  %ul.moj-header__navigation-list
    %li.moj-header__navigation-item
      = link_to current_user.name, signed_in_user_profile_path, class: 'moj-header__navigation-link'
    %li.moj-header__navigation-item
      = link_to t('.sign_out'), destroy_user_session_path, method: :delete, class: 'moj-header__navigation-link'
