%head
  %meta{:charset => "UTF-8"}/
  %title Claim for crown court defence
  = stylesheet_link_tag "email", media: "all"

%body
  %table#mail-header
    %tr
      / absolute URLs required for assets
      %td#govuk-logo
        = image_tag image_url('govuk_logotype_email.png'), alt: 'GOV.UK'
    %tr
      %td#moj-logo
        = image_tag image_url('moj_logotype_email.png'), alt: 'Ministry of Justice'
    %tr
      %td
        .title
          Claim for crown court defence

        = yield
