- if show_clair_contingency_banner_to_user?
  .js-callout-banner{'data-setting': 'clair_contingency_banner_seen'}
    = govuk_warning_text(text: t('callout_banner.clair_contingency_text_one'))

    %p{ class: 'govuk-warning-text__text' }
      Any increase due will be calculated and added during assessment.

    %ul.govuk-list
      %li.hide-link
        = govuk_link_to t('callout_banner.clair_contingency_hide_banner'), settings_user_path(current_user.id, clair_contingency_banner_seen: 1), method: :put, remote: true
