- if show_hardship_claims_banner_to_user?
  .js-callout-banner{'data-setting': 'hardship_claims_banner_seen'}
    .notice
      %i.icon.icon-important
        %span.visuallyhidden
          = "Information"

      %strong.bold-small
        = "The amended arrangements for hardship claims are being introduced from 1st May 2020."

    %ul.list
      %li
        = link_to 'More information', hardship_claims_page_path

      %li.hide-link
        = link_to 'Do not show this message again', settings_user_path(current_user.id, hardship_claims_banner_seen: 1), method: :put, remote: true
