.govuk-notification-banner{ role: 'region',  'aria-labelledby': 'govuk-notification-banner-title', 'data-module': 'govuk-notification-banner' }
  .govuk-notification-banner__header
    %h2#govuk-notification-banner-title.govuk-notification-banner__title
      = 'Important'
  .govuk-notification-banner__content
    %p.govuk-notification-banner__heading
      = 'We are aware of an issue with our mileage calculator and our team is looking into fixing it. We apologise for any inconvenience caused.'
