- if show_timed_retention_banner_to_user?

  .js-callout-banner{'data-setting': 'timed_retention_banner_seen'}
    %p
      Time-limited retention of claims is being introduced from {DATE} 2016.
    %p
      From {DATE} 2016, claims made through the Claim for crown court defence service will be retained for a limited period only, and not indefinitely.
      = link_to 'See here for details', timed_retention_page_path

    %p.hide-link
      = link_to 'Do not show me again', settings_user_path(current_user.id, timed_retention_banner_seen: 1), method: :put, remote: true
