- if show_timed_retention_banner_to_user?

  .js-callout-banner{'data-setting': 'timed_retention_banner_seen'}
    = govuk_warning_text t('callout_banner.time_retention_warning_text')

    %ul.govuk-list
      %li
        = govuk_link_to t('callout_banner.time_retention_information'), timed_retention_page_path

      %li.hide-link
        = govuk_link_to t('callout_banner.time_retention_hide_banner'), settings_user_path(current_user.id, timed_retention_banner_seen: 1), method: :put, remote: true
